In [1]:
import os
import pandas as pd
import re
import numpy as np
df = pd.read_csv("attacks.csv", encoding="Latin1")

# Analizamos la información

In [2]:
df.shape

(25723, 24)

In [3]:
df.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN

In [4]:
df.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

# Comprobamos valores nulos

In [5]:
df.isnull().sum()

Case Number               17021
Date                      19421
Year                      19423
Type                      19425
Country                   19471
Area                      19876
Location                  19961
Activity                  19965
Name                      19631
Sex                       19986
Age                       22252
Injury                    19449
Fatal (Y/N)               19960
Time                      22775
Species                   22259
Investigator or Source    19438
pdf                       19421
href formula              19422
href                      19421
Case Number.1             19421
Case Number.2             19421
original order            19414
Unnamed: 22               25722
Unnamed: 23               25721
dtype: int64

La mayoría de columnas tiene unos 19.000 valores nulos aproximadamente, por tanto decidimos eliminar aquellas columnas que tengan más de 20.000 valores nulos

In [6]:
morethan20000nulls = df.isnull().sum()[df.isnull().sum() > 20000].index
morethan20000nulls

Index(['Age', 'Time', 'Species ', 'Unnamed: 22', 'Unnamed: 23'], dtype='object')

In [7]:
#Definimos función para eliminar columnas
def dropcolumns (df, list):
    df_clean = df.drop(columns=list)
    return df_clean

In [8]:
df_clean = dropcolumns (df, morethan20000nulls)
df_clean.shape

(25723, 19)

Ahora veremos si hay filas en las que todos sus datos sean nulos y las eliminaremos

In [9]:
df_clean = df_clean.dropna(how="all")
df_clean.shape

(8703, 19)

# Columnas que no vamos a utilizar

A pesar de que hemos reducido bastante la información, seguimos teniendo columnas que no vamos a necesitar, por lo que las eliminaremos también

In [10]:
df_clean.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Injury', 'Fatal (Y/N)',
       'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order'],
      dtype='object')

In [11]:
unusefull_columns = ['Case Number', 'Name', 'Sex ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order']
df_clean = dropcolumns (df_clean, unusefull_columns)
df_clean.shape

(8703, 9)

Y volvemos a comprobar si hay filas en las que todos los valores sean nulos y las eliminamos

In [12]:
df_clean = df_clean.dropna(how="all")
df_clean.shape

(6302, 9)

# Analizamos columnas

Ahora que ya hemos elimados los valores nulos, y aquellas columnas que no vamos a necesitar podemos comenzar a ver información más detallada de cada una de las columnas

In [15]:
df_clean.columns

Index(['Date', 'Year', 'Type', 'Country', 'Area', 'Location', 'Activity',
       'Injury', 'Fatal (Y/N)'],
      dtype='object')

In [16]:
#Columna "Year"
df_clean["Year"].value_counts().reset_index().sort_values('index', ascending=False)

      index  Year
37   2018.0    53
1    2017.0   136
2    2016.0   130
0    2015.0   143
4    2014.0   127
..      ...   ...
208  1543.0     1
194   500.0     1
224    77.0     1
196     5.0     1
5       0.0   125

[249 rows x 2 columns]

Podemos ver que en el año 2018 hay muchos menos registros que en años anteriores, es posible que el año no esté completo, lo comprobaremos analizando la columna "Date"

In [17]:
list(df_clean["Date"].value_counts().items())

[('1957', 11),
 ('1942', 9),
 ('1956', 8),
 ('1958', 7),
 ('1941', 7),
 ('1950', 7),
 ('No date', 6),
 ('1949', 6),
 ('1954', 5),
 ('Oct-1960', 5),
 ('1955', 5),
 ('28-Jul-1995', 5),
 ('05-Oct-2003', 5),
 ('1970s', 5),
 ('12-Apr-2001', 5),
 ('No date, Before 1963', 5),
 ('1959', 5),
 ('1940', 5),
 ('Aug-1956', 5),
 ('14-Jun-2012', 4),
 ('1898', 4),
 ('Before 1906', 4),
 ('09-Jul-1994', 4),
 ('1945', 4),
 ('1952', 4),
 ('Reported 10-Oct-1906', 4),
 ('1876', 4),
 ('28-Dec-2014', 4),
 ('1904', 4),
 ('1960s', 4),
 ('09-Jan-2010', 4),
 ('20-Sep-2015', 4),
 ('1995', 4),
 ('29-Apr-2017', 4),
 ('1938', 4),
 ('15-Apr-2018', 4),
 ('Before 1958', 4),
 ('27-Jul-1952', 4),
 ('23-Jan-1970', 4),
 ('1960', 4),
 ('27-Dec-2008', 4),
 ('1961', 4),
 ('09-Feb-1996', 3),
 ('1913', 3),
 ('11-Jan-1962', 3),
 ('30-Sep-2007', 3),
 ('Nov-1960', 3),
 ('1926', 3),
 ('31-Oct-2003', 3),
 ('24-Jan-2009', 3),
 ('1941-1945', 3),
 ('16-Aug-1974', 3),
 ('17-Aug-2011', 3),
 ('Before 1962', 3),
 ('20-Jul-2017', 3),
 ('08-Aug-1899', 3),
 ('11-Aug-1997', 3),
 ('24-Jun-2003', 3),
 ('31-Dec-1999', 3),
 ('20-Apr-2003', 3),
 ('1883', 3),
 ('24-Jun-2015', 3),
 ('25-Jun-2013', 3),
 ('07-Jan-1974', 3),
 ('02-Sep-2017', 3),
 ('13-Mar-1977', 3),
 ('31-May-1997', 3),
 ('27-Sep-2002', 3),
 ('Apr-1960', 3),
 ('26-Jun-2015', 3),
 ('26-Jun-2012', 3),
 ('28-Jun-2008', 3),
 ('1923', 3),
 ('Before 1911', 3),
 ('1929', 3),
 ('18-Aug-2001', 3),
 ('Mar-1953', 3),
 ('01-Apr-1934', 3),
 ('26-Jun-2008', 3),
 ('02-Sep-2012', 3),
 ('1968', 3),
 ('01-Jun-2014', 3),
 ('1953', 3),
 ('30-Aug-2008', 3),
 ('11-Jun-1962', 3),
 ('09-Jun-2014', 3),
 ('1948', 3),
 ('08-Mar-1992', 3),
 ('18-Sep-2016', 3),
 ('1943', 3),
 ('08-Sep-2000', 3),
 (' 01-Sep-2013', 3),
 ('18-May-2010', 3),
 ('Before 2012', 3),
 ('28-Mar-2008', 3),
 ('14-Sep-2003', 3),
 ('17-Oct-2015', 3),
 ('1982', 3),
 ('1700s', 3),
 ('19-Aug-2001', 3),
 ('1930', 3),
 ('1973', 3),
 ('12-Jul-1916', 3),
 ('28-Dec-1961', 3),
 ('29-Aug-1982', 3),
 ('19-Aug-2007', 3),
 ('11-Apr-2001', 3),
 ('16-May-1998', 3),
 ('22-May-2004', 3),
 ('1939', 3),
 ('Before 1921', 3),
 ('1946', 3),
 ('23-Oct-2017', 3),
 ('28-Jul-2013', 3),
 ('18-Mar-2014', 3),
 ('26-Jul-1885', 3),
 ('1940 - 1950', 3),
 ('May-Jun-1965', 3),
 ('14-Jan-1962', 3),
 ('1863', 3),
 ('1971', 3),
 ('06-Jan-1961', 3),
 ('20-May-1966', 3),
 ('27-Aug-2014', 3),
 ('25-Nov-2005', 3),
 ('1890', 3),
 ('21-Dec-2015', 2),
 ('10-Sep-2000', 2),
 ('01-Jun-2008', 2),
 ('Reported 16-Oct-1907', 2),
 ('Before  1958', 2),
 ('08-Dec-1916', 2),
 ('17-Jul-2010', 2),
 ('02-Nov-1998', 2),
 ('16-Aug-2011', 2),
 ('1954 (same day as  1954.00.00.f)', 2),
 ('03-Sep-1995', 2),
 ('Reported 28-Apr-1894', 2),
 ('02-May-2005', 2),
 ('01-Feb-1961', 2),
 ('06-Jun-2013', 2),
 ('27-Oct-1937', 2),
 ('21-Oct-1984', 2),
 ('28-Nov-2002', 2),
 ('06-Mar-2009', 2),
 ('01-Aug-1998', 2),
 ('16-Jun-1988', 2),
 ('03-Jun-1984', 2),
 ('24-Jan-1935', 2),
 ('Jun-1965', 2),
 ('21-Sep-2002', 2),
 ('May 1979', 2),
 ('19-Dec-1977', 2),
 ('16-May-2009', 2),
 ('22-Dec-1963', 2),
 ('Nov-1918', 2),
 ('1989', 2),
 ('Circa 1862', 2),
 ('1864', 2),
 ('26-May-2018', 2),
 ('27-Dec-1960', 2),
 ('28-Mar-1964', 2),
 ('28-Mar-2016', 2),
 ('01-Nov-2015', 2),
 ('29-Aug-2006', 2),
 ('27-Aug-1966', 2),
 ('29-Aug-2015', 2),
 ('05-Jul-2003', 2),
 ('30-Sep-1982', 2),
 ('21-Sep-1931', 2),
 ('1897', 2),
 ('29-Aug-2016', 2),
 ('16-Jul-2000', 2),
 ('09-Apr-1995', 2),
 ('14-Jun-1959', 2),
 ('12-Nov-1882', 2),
 ('Reported 26-Jun-1972', 2),
 ('03-Oct-1996', 2),
 ('Aug-1993', 2),
 ('19-Aug-1990', 2),
 ('07-Jan-1962', 2),
 ('07-May-2000', 2),
 ('Reported 06-Jul-1915', 2),
 ('Jul-1958', 2),
 ('03-Sep-2017', 2),
 ('Mid-Aug-1886', 2),
 ('24-Jul-1984', 2),
 ('06-Dec-1986', 2),
 ('13-Dec-2003', 2),
 ('05-Oct-2014', 2),
 ('30-Aug-1955', 2),
 ('1980s ', 2),
 ('09-Dec-1994', 2),
 ('07-Feb-1982', 2),
 ('02-Sep-1974', 2),
 ('10-Jun-2004', 2),
 ('27-May-2013', 2),
 ('26-Mar-1944', 2),
 ('04-Apr-1965', 2),
 ('Oct-1958', 2),
 ('16-Nov-2009', 2),
 ('01-Jan-1971', 2),
 ('18-Jan-2012', 2),
 ('24-Jul-2009', 2),
 ('12-Aug-1954', 2),
 ('Apr-1860', 2),
 ('30-Nov-2010', 2),
 ('23-Aug-1966', 2),
 ('14-Jun-2015', 2),
 ('1975', 2),
 ('Nov-1925', 2),
 ('25-Dec-1997', 2),
 ('27-Mar-2004', 2),
 ('20-Aug-2006', 2),
 ('Before 1871', 2),
 ('  29-Oct-2011', 2),
 ('09-Apr-1950', 2),
 ('26-Oct-2013', 2),
 ('15-Mar-2002', 2),
 ('1920', 2),
 ('10-Aug-1995', 2),
 ('22-May-2002', 2),
 ('07-Jul-2012', 2),
 ('04-Jul-2000', 2),
 ('07-Sep-1967', 2),
 ('24-Aug-1981', 2),
 ('29-Jan-1992', 2),
 ('28-Oct-1997', 2),
 ('02-Apr-1978', 2),
 ('20-Apr-2008', 2),
 ('27-Feb-1960', 2),
 ('09-Nov-2008', 2),
 ('1907', 2),
 ('08-Apr-2001', 2),
 ('03-Jun-2018', 2),
 ('06-Nov-2000', 2),
 ('22-Aug-1988', 2),
 ('31-Jan-1994', 2),
 ('15-Feb-2003', 2),
 ('Before 2011', 2),
 ('27-Jun-2015', 2),
 ('15-Aug-1956', 2),
 ('29-Aug-2014', 2),
 ('15-Jun-2016', 2),
 ('15-Aug-1993', 2),
 ('16-Jul-2010', 2),
 ('10-Jun-2017', 2),
 ('02-Sep-1878', 2),
 ('31-Aug-2013', 2),
 ('Reported 15-Jun-1894', 2),
 ('22-Aug-1995', 2),
 ('20-Dec-1963', 2),
 ('13-Jun-1970', 2),
 ('16-Apr-1961', 2),
 ('19-Jun-2011', 2),
 ('10-Jun-1962', 2),
 ('30-Nov-2017', 2),
 ('06-Apr-2009', 2),
 ('09-Oct-2004', 2),
 ('03-Jan-2004', 2),
 ('26-Feb-1939', 2),
 ('1944', 2),
 ('1927', 2),
 ('25-Mar-1962', 2),
 ('02-Apr-1983', 2),
 ('25-Jan-2007', 2),
 ('Jun-1935', 2),
 ('04-Sep-1999', 2),
 ('Jan-1985', 2),
 ('23-Oct-2010', 2),
 ('18-Jul-2007', 2),
 ('22-Jan-2010', 2),
 ('01-Jan-2002', 2),
 ('26-Dec-1966', 2),
 ('23-Apr-2003', 2),
 ('17-Aug-1951', 2),
 ('30-Jul-2012', 2),
 ('28-Jul-2016', 2),
 ('05-Aug-1999', 2),
 ('02-Sep-1996', 2),
 ('01-Dec-2010', 2),
 ('13-Nov-1942', 2),
 ('14-Mar-1999', 2),
 ('14-Aug-1959', 2),
 ('13-May-2018', 2),
 ('14-Aug-1997', 2),
 ('5-Apr-1971', 2),
 ('02-Jul-2010', 2),
 ('02-Oct-2014', 2),
 ('24-Jul-1982', 2),
 ('23-May-2013', 2),
 ('09-Apr-1959', 2),
 ('25-Jul-1959', 2),
 ('30-Sep-1995', 2),
 ('Jul-1964', 2),
 ('07-May-2008', 2),
 ('Reported 13-Jun-2002', 2),
 ('11-Jan-2009', 2),
 ('27-Nov-1941', 2),
 ('16-Oct-1965', 2),
 ('28-Feb-1997', 2),
 ('30-Aug-1932', 2),
 ('10-Mar-2013', 2),
 ('23-Sep-1955', 2),
 ('14-Feb-1982', 2),
 ('25-Jan-1998', 2),
 ('1993', 2),
 ('26-Jun-1982', 2),
 ('1984', 2),
 ('1999', 2),
 ('24-Jan-2016', 2),
 ('06-Oct-2000', 2),
 ('06-Mar-2012', 2),
 ('12-Sep-1942', 2),
 ('09-Sep-1989', 2),
 ('23-Jul-2017', 2),
 ('31-Mar-2004', 2),
 ('Before 1903', 2),
 ('03-Jan-1961', 2),
 ('25-Jul-2008', 2),
 ('15-Jun-1983', 2),
 ('02-Jun-2012', 2),
 ('19-Mar-2009', 2),
 ('Reported 15-Mar-1897', 2),
 ('16-Sep-2000', 2),
 ('14-Jul-2017', 2),
 ('04-Apr-2014', 2),
 ('21-Oct-1972', 2),
 ('1972', 2),
 ('02-Aug-1997', 2),
 ('24-Aug-2008', 2),
 ('25-Jun-2010', 2),
 ('22-Jan-1954', 2),
 ('21-Nov-1965', 2),
 ('06-Jul-2001', 2),
 ('02-Oct-1954', 2),
 ('29-Jul-2017', 2),
 ('05-Feb-1964', 2),
 ('20-Dec-2009', 2),
 ('10-Sep-2017', 2),
 ('02-Jun-2016', 2),
 ('14-May-2014', 2),
 ('26-Jul-2008', 2),
 ('16-Mar-2013', 2),
 ('23-Jul-2015', 2),
 ('13-Aug-1983', 2),
 ('22-Aug-1989', 2),
 ('02-Sep-2005', 2),
 ('04-Jul-1996', 2),
 ('17-Sep-2016', 2),
 ('08-Sep-1985', 2),
 ('5-Jul-2014', 2),
 ('17-Jul-1966', 2),
 ('19-Nov-1975', 2),
 ('29-Jul-2006', 2),
 ('15-Apr-1988', 2),
 ('Reported 15-Jun-1874', 2),
 ('15-Sep-2001', 2),
 ('21-May-2011', 2),
 ('12-Apr-2017', 2),
 ('1882', 2),
 ('1896', 2),
 ('1910', 2),
 ('30-Sep-2001', 2),
 ('18-Aug-2015', 2),
 ('12-Feb-2006', 2),
 ('08-Jul-1994', 2),
 ('06-Dec-2006', 2),
 ('24-Jul-2008', 2),
 ('13-Dec-1981', 2),
 ('15-Jul-2016', 2),
 ('06-Sep-2008', 2),
 ('02-Jul-2000', 2),
 ('10-Aug-1981', 2),
 ('20-Jun-2002', 2),
 ('Reported 27-Aug-1913', 2),
 ('28-Oct-1996', 2),
 ('09-Aug-2007', 2),
 ('03-Sep-2007', 2),
 ('19-Sep-1948', 2),
 ('24-Aug-2005', 2),
 ('08-Jun-1849', 2),
 ('01-Feb-2006', 2),
 ('31-Jul-2006', 2),
 ('May 1965', 2),
 ('05-Sep-2016', 2),
 ('13-Apr-2001', 2),
 ('08-May-2013', 2),
 ('01-Feb-2017', 2),
 ('Before 1905', 2),
 ('10-Apr-2017', 2),
 ('28-Jun-1992', 2),
 ('07-May-2007', 2),
 ('Apr-1953', 2),
 ('16-Sep-2007', 2),
 ('29-May-2015', 2),
 ('30-Oct-1990', 2),
 ('13-Apr-2013', 2),
 ('21-Jan-2004', 2),
 ('28-Apr-2018', 2),
 ('06-Jun-2011', 2),
 ('1950s', 2),
 ('26-Jan-1989', 2),
 ('26-Sep-1959', 2),
 ('11-Jun-1993', 2),
 ('31-Mar-2007', 2),
 ('26-Oct-1944', 2),
 ('01-Mar-2009', 2),
 ('26-Aug-2017', 2),
 ('01-Apr-1972', 2),
 ('06-Apr-2005', 2),
 ('31-May-1994', 2),
 ('25-Oct-1944', 2),
 ('03-Nov-1965', 2),
 ('27-Sep-2007', 2),
 ('15-Aug-1959', 2),
 ('27-Jan-1923', 2),
 ('01-Jun-1963', 2),
 ('02-May-1880', 2),
 ('17-Feb-1961', 2),
 ('Ca. 1880', 2),
 ('22-Mar-2014', 2),
 ('19-Oct-1981', 2),
 ('1937', 2),
 ('28-Sep-2008', 2),
 ('13-May-2011', 2),
 ('July 2006', 2),
 ('21-Dec-2011', 2),
 ('04-Jul-1988', 2),
 ('Jul-1961', 2),
 ('18-Dec-2009', 2),
 ('30-Jun-2007', 2),
 ('30-Nov-2003', 2),
 ('26-Jul-2015', 2),
 ('04-Nov-2012', 2),
 ('18-Dec-1961', 2),
 ('20-Aug-1983', 2),
 ('26-Aug-1995', 2),
 ('14-Oct-1972', 2),
 ('31-May-2002', 2),
 ('1978', 2),
 ('17-Apr-2017', 2),
 ('Nov-1999', 2),
 ('23-Jul-1959', 2),
 ('22-Jul-2009', 2),
 ('03-Sep-2010', 2),
 ('27-Jul-1935', 2),
 ('02-Aug-2010', 2),
 ('07-Jul-2016', 2),
 ('Jul-1943', 2),
 ('Oct-2006', 2),
 ('01-Oct-1998', 2),
 ('1987', 2),
 ('24-Sep-2017', 2),
 ('08-Jul-1992', 2),
 ('2014', 2),
 ('Feb-1964', 2),
 ('12-Sep-1976', 2),
 ('Summer 1950', 2),
 ('28-Nov-1951', 2),
 ('17-Jul-2007', 2),
 ('09-Aug-2014', 2),
 ('24-Jan-1946', 2),
 ('28-Aug-1949', 2),
 ('01-Sep-1996', 2),
 ('09-Oct-2015', 2),
 ('07-Apr-2016', 2),
 ('27-Nov-1921', 2),
 ('24-May-2008', 2),
 ('Aug-1955', 2),
 ('16-May-1966', 2),
 ('14-Nov-1947', 2),
 ('13-Apr-2004', 2),
 ('No date, Before 1902', 2),
 ('14-Dec-1948', 2),
 ('Aug-1967', 2),
 ('08-Nov-1947', 2),
 ('Fall 1943', 2),
 ('31-Jul-2012', 2),
 ('18-Jun-2017', 2),
 ('23-Jun-1975', 2),
 ('27-Jul-2004', 2),
 ('25-Apr-1996', 2),
 ('17-Jan-1959', 2),
 ('07-Aug-2010', 2),
 ('1985', 2),
 ('23-Jul-2016', 2),
 ('14-Feb-1964', 2),
 ('06-Jul-1998', 2),
 ('16-Apr-2005', 2),
 ('11-Sep-2011', 2),
 ('30-Mar-1987', 2),
 ('07-Feb-2009', 2),
 ('12-Mar-1976', 2),
 ('Apr-1970', 2),
 ('05-Oct-2002', 2),
 ('22-Sep-1984', 2),
 ('02-Apr-2017', 2),
 ('16-Sep-2002', 2),
 ('08-Apr-1979', 2),
 ('14-Mar-2012', 2),
 ('06-Feb-2017', 2),
 ('9-Mar-2018', 2),
 ('07-Feb-2014', 2),
 ('25-Jul-1985', 2),
 ('Before 1957', 2),
 ('27-Jul-1958', 2),
 ('Ca. 1960', 2),
 ('25-Jul-1983', 2),
 ('Oct-1961', 2),
 ('31-Aug-1995', 2),
 ('30-Aug-1962', 2),
 ('22-Aug-2015', 2),
 ('Reported 24-Jan-1920', 2),
 ('World War II', 2),
 ('1983', 2),
 ('13-Jul-1940', 2),
 ('24-Sep-1961', 2),
 ('06-Sep-2012', 2),
 ('02-Jun-2009', 2),
 ('01-Jan-1964', 2),
 (' 07-Sep-2013', 2),
 ('02-Oct-2010', 2),
 ('15-Sep-2017', 2),
 ('22-Aug-2006', 2),
 ('23-Jul-1996', 2),
 ('Ca. 1950', 2),
 ('30-Oct-1999', 2),
 ('06-Nov-2003', 2),
 ('03-Sep-2006', 2),
 ('28-Apr-2008', 2),
 ('25-Nov-1995', 2),
 ('19-Jan-2015', 2),
 ('24-Aug-2011 ', 2),
 ('19-Apr-2012', 2),
 ('19-Dec-1959', 2),
 ('23-Mar-1994', 2),
 ('04-Jul-2015', 2),
 ('27-Dec-1966', 2),
 ('02-Nov-2005', 2),
 ('13-Sep-1988', 2),
 ('09-Jun-2000', 2),
 ('Jul-2003', 2),
 ('03-Apr-1960', 2),
 ('02-Jul-2004', 2),
 ('07-Apr-1957', 2),
 ('Feb-1928', 2),
 ('Sep-1986', 2),
 ('21-Apr-2003', 2),
 ('21-Feb-2013', 2),
 ('Jun-1827', 2),
 ('13-Jul-2011', 2),
 ('Dec-1996', 2),
 ('27-Jun-1960', 2),
 ('26-Jun-2004', 2),
 ('Before 1934', 2),
 ('28-Aug-2011', 2),
 ('04-Mar-1929', 2),
 ('Nov-1942', 2),
 ('03-Oct-2014', 2),
 ('02-Aug-1969', 2),
 ('30-Jul-1975', 2),
 ('31-Dec-1934', 2),
 ('10-May-1990', 2),
 ('03-Sep-1981', 2),
 ('18-Oct-2012', 2),
 ('07-Jun-1991', 2),
 ('16-Jul-2016', 2),
 ('13-Jan-2017', 2),
 ('26-Nov-1991', 2),
 ('14-Apr-1988', 2),
 ('02-Aug-2014', 2),
 ('06-Feb-2010', 2),
 ('15-Jul-2000', 2),
 ('17-May-1943', 2),
 ('1998', 2),
 ('Sep-1970', 2),
 ('13-Jul-1916', 2),
 ('Sep-1956', 2),
 ('30-Oct-2004', 2),
 ('  29-Jul-2013', 2),
 ('23-May-2004', 2),
 ('Reported 12-Oct-1899', 2),
 ('26-Dec-1963', 2),
 ('28-Aug-1933', 2),
 ('09-Apr-2006', 2),
 ('Dec-1949', 2),
 ('12-Jul-1987', 2),
 ('29-May-1998', 2),
 ('22-Sep-2007', 2),
 (' 25-Aug-2013', 2),
 ('28-Aug-2007', 2),
 ('18-Jul-1946', 2),
 ('16-Apr-1991', 2),
 ('Reported 19-Sep-1898', 2),
 ('21-Mar-2011', 2),
 ('26-Apr-2008', 2),
 ('30-Sep-1984', 2),
 ('1842', 2),
 ('24-Oct-1937', 2),
 ('30-Jan-2002', 2),
 ('03-Sep-2001', 2),
 ('01-Jul-1991', 2),
 ('08-Sep-2012', 2),
 ('17-Jul-2005', 2),
 ('25-Apr-2018', 2),
 ('15-Jul-2001', 2),
 ('15-Nov-2015', 2),
 ('02-Sep-2006', 2),
 ('20-Jan-1989', 2),
 ('25-Mar-2002', 2),
 ('21-Jun-2016', 2),
 ('05-Oct-2015', 2),
 ('07-Sep-2001', 2),
 ('17-Jun-1995', 2),
 ('28-Dec-1997', 2),
 ('16-Apr-1932', 2),
 ('05-Jun-2016', 2),
 ('29-May-2016', 2),
 ('06-Sep-1996', 2),
 ('09-Jun-2002', 2),
 ('10-Aug-2010', 2),
 ('18-Mar-1999', 2),
 ('07-Nov-2013', 2),
 ('11-Nov-2004', 2),
 ('Reported 27-Sep-1906', 2),
 ('1965', 2),
 ('22-Jun-2012', 2),
 ('16-Sep-1993', 2),
 ('1996', 2),
 ('11-Jul-2009', 2),
 ('24-Sep-2011', 2),
 ('21-May-2016', 2),
 ('Mar-1955', 2),
 ('07-Dec-2011', 2),
 ('07-Jul-2011', 2),
 ('11-Dec-2016', 2),
 ('28-Sep-2011', 2),
 ('30-Nov-1967', 2),
 ('25-Sep-2017', 2),
 ('Before 1956', 2),
 ('29-Sep-2013', 2),
 ('21-Jun-1978', 2),
 ('04-Aug-1960', 2),
 ('Reported 12-Aug-1907', 2),
 ('29-Dec-2014', 2),
 ('18-Jun-2014', 2),
 ('13-Feb-1974', 2),
 (' 21-Sep-2013', 2),
 ('08-Jul-2006', 2),
 ('1931', 2),
 ('23-Oct-1926', 2),
 ('16-Sep-2017', 2),
 ('10-Feb-1946', 2),
 ('10-Dec-1964', 2),
 ('04-Jul-1958', 2),
 ('18-Apr-2016', 2),
 ('04-Sep-2011', 2),
 ('10-Jul-2002', 2),
 ('13-Sep-2003', 2),
 ('30-Jun-2015', 2),
 ('Sep- 1966', 1),
 ('19-Feb-1978', 1),
 ('12-Jan-1976', 1),
 ('Reported 06-Feb-1947', 1),
 ('25-May-2009', 1),
 ('28-Jan-2018', 1),
 ('25-Mar-1981', 1),
 ('16-Nov-1942', 1),
 ('12-Jan-1959', 1),
 ('09-Jul-2008', 1),
 ('17-Jan-1837', 1),
 ('23-Jan-1992', 1),
 ('24-May-1933', 1),
 ('23-Feb-1975', 1),
 ('11-Jun-2002', 1),
 ('10-Dec-1940', 1),
 ('09-Jan- 1874', 1),
 ('03-Feb-2007', 1),
 ('13-Sep-1987', 1),
 ('02-Mar-1922', 1),
 ('04-Jan-1922', 1),
 ('08-Feb-1954', 1),
 ('21-Oct-1965', 1),
 ('10-Aug-2009', 1),
 ('03-Nov-2007', 1),
 ('Reported 13-Sep-1863', 1),
 ('22-Oct-1934', 1),
 ('20-Apr-1968', 1),
 ('14-Sep-1998', 1),
 (' 27-Mar-2010', 1),
 ('14-Oct-1984', 1),
 ('25-Dec-2013', 1),
 ('Reported 26-Jun-1909', 1),
 ('13-Sep-1958', 1),
 ('22-Oct-2014', 1),
 ('22-Apr-1960', 1),
 ('14-Sep-1974', 1),
 ('14-Jan-1947', 1),
 ('19-Oct-2009', 1),
 ('06-Aug-1932', 1),
 ('Reported 12-Nov-1992', 1),
 ('17-Aug-1992', 1),
 ('13-Jan-1980', 1),
 ('21-Mar-1974', 1),
 ('11-Nov-1960', 1),
 ('1960-1961', 1),
 ('  19-Jul-1889', 1),
 ('14-Dec-1999', 1),
 ('Late 1600s Reported 1728', 1),
 ('May 1962', 1),
 ('03-Nov-1985', 1),
 ('23-Dec-1971', 1),
 ('26-Dec-2009', 1),
 ('14-Oct-1969', 1),
 ('May 1982', 1),
 ('21-Oct-2005', 1),
 ('26-Aug-1935', 1),
 ('09-Dec-1956', 1),
 ('09-Mar-1955', 1),
 ('11-Aug-1996', 1),
 ('23-Nov-1976', 1),
 ('Apr-1954', 1),
 ('22-Nov-1989', 1),
 ('29-Aug-1972', 1),
 ('29-Aug-1891', 1),
 ('Reported 08-Aug-1907', 1),
 ('5-Jul-1970', 1),
 ('Apr-1993', 1),
 ('02-Oct-1959', 1),
 ('29-Dec-1975', 1),
 ('19-Aug-2005', 1),
 ('16-Sep-1997', 1),
 ('27-Jun-2005', 1),
 ('14-May-1890', 1),
 ('26-Jun-1958', 1),
 ('14-Sep-2006', 1),
 ('05-May-1862', 1),
 ('28-Nov-2008', 1),
 ('05-Dec-1922', 1),
 ('06-Oct-2008', 1),
 ('Ca. 1970', 1),
 ('10-Jun-2000', 1),
 ('05-Nov-2009', 1),
 ('Mar-1948', 1),
 ('20-Dec-1987', 1),
 ('29-Jan-1982', 1),
 ('06-Jul-2000', 1),
 ('May-1968', 1),
 ('27-Jan-1964', 1),
 ('09-Apr-2007', 1),
 ('18-Sep-1960', 1),
 ('Reported 26-Jan-1867', 1),
 ('22-Sep-1948', 1),
 ('19-Jun-1870', 1),
 ('28-Jul-1959', 1),
 ('1555', 1),
 ('16-Jan-1985', 1),
 ('08-Apr-1927', 1),
 ('04-Oct-1998', 1),
 ('12-Nov-1979', 1),
 ('Reported 06-Sep-1961', 1),
 ('12-Mar-1925', 1),
 ('16-Mar-1985', 1),
 ('23-Jul-1992', 1),
 ('Reported      15-Jul-2005', 1),
 ('Reported 03-Mar-2016', 1),
 ('Summer of 1898', 1),
 ('01-Oct-1992', 1),
 ('Reported to have taken place in 1919', 1),
 ('16-Apr-1995', 1),
 ('24-Oct-1960', 1),
 ('17-Jun-2006', 1),
 ('1865', 1),
 ('05-Jul-2008', 1),
 ('23-May-1994', 1),
 ('12-Sep-2000', 1),
 ('27-Nov-1979', 1),
 ('Ca. 1881', 1),
 ('12-Mar-1903', 1),
 ('16-May-2007', 1),
 ('Feb-1840', 1),
 ('25-Jul-1881', 1),
 ('04-Oct-1997', 1),
 ('20-Feb-1983', 1),
 ('25-Jun-2018', 1),
 ('12-Jun-2007', 1),
 ('4-Apr-1970', 1),
 ('Reported 04-Jul-1907', 1),
 ('24-May-2007', 1),
 ('24-Oct-1988', 1),
 ('1595', 1),
 ('28-Jul-2007', 1),
 ('05-Apr-2017', 1),
 ('22-Feb-1934', 1),
 ('13-Oct-2016', 1),
 ('27-Feb-1944', 1),
 ('04-Feb-1962', 1),
 ('04-Mar-2016', 1),
 ('28-Jul-2004', 1),
 ('02-Dec-2012', 1),
 ('Late Apr-1971', 1),
 ('Reported 28-Oct-2011', 1),
 ('Reported 04-Feb-2011', 1),
 ('Jun-1975', 1),
 ('Reported 26-May-1870', 1),
 ('9-Aug-1890', 1),
 ('05-Jan-2018', 1),
 ('05-Nov-1992', 1),
 ('14-May-1882', 1),
 ('22-Dec-2015', 1),
 ('Early Aug-2006', 1),
 ('12-Apr-2015', 1),
 ('02-Sep-1865', 1),
 ('26-Dec-1929', 1),
 ('17-Aug-2010', 1),
 ('30-Dec-1916', 1),
 ('08-Sep-1990', 1),
 ('22-Jan-2004', 1),
 ('Aug-1871', 1),
 ('29-Sep-2002', 1),
 ('30-Jul-2008', 1),
 ('10-Jul-2004', 1),
 ('16-Jan-1962', 1),
 ('31-May-2006', 1),
 ('20-Aug-2004', 1),
 ('10-Jan-1965', 1),
 ('30-Dec-1957', 1),
 ('19-Apr-1958', 1),
 ('21-Aug-1999', 1),
 ('06-Oct-2013', 1),
 ('19-Nov-1941', 1),
 ('10-Jun-2010', 1),
 ('Ca. 1543', 1),
 ('July-1903 ', 1),
 ('15-Mar-1951', 1),
 ('19-Jun-1999', 1),
 ('31-Oct-1932', 1),
 ('29-Sep-2015', 1),
 ('24-Jan-2001', 1),
 ('22-Aug-1994', 1),
 ('Reported 08-Apr-1935', 1),
 ('24-May-1995', 1),
 ('29-Oct-2016', 1),
 ('09-Mar-1935', 1),
 ('14-Nov-1961', 1),
 ('24-Mar-1871', 1),
 ('16-Aug-2014', 1),
 ('25-Oct-1960', 1),
 ('No date, Before 3-Jan-1967', 1),
 ('1868 (?)', 1),
 ('12-Apr-1983', 1),
 ('02-Jul-1977', 1),
 ('02-Jan-1993', 1),
 ('27-Jan-1967', 1),
 ('09-Mar-2005', 1),
 ('18-Jun-2012', 1),
 ('03-Oct-2002', 1),
 ('14-Dec-1922', 1),
 ('24-Sep-2005', 1),
 ('22-Apr-2004', 1),
 ('30-Jul-1964', 1),
 ('08-Sep-2015', 1),
 ('27-May-1952', 1),
 ('26-Feb-1872', 1),
 ('19-Jul-2012', 1),
 ('Aug-1992', 1),
 ('05-Sep-1985', 1),
 ('24-Jun-1960', 1),
 ('24-May-1950', 1),
 ('19-Sep-1991', 1),
 ('18-Feb-2018', 1),
 ('11-Jan-1966', 1),
 ('Reported 30-March-1878', 1),
 ('06-Jun-2010', 1),
 ('11-Jul-1963', 1),
 ('Reported 02-Jun-1890', 1),
 ('15-Jan-1962', 1),
 ('No date, Before 1975', 1),
 ('15-Jul-1955', 1),
 ('13-Dec-1961', 1),
 ('29-Sep-1963', 1),
 ('03-Jan-2002', 1),
 ('Sep-1864', 1),
 ('16-Sep-2006', 1),
 ('28-Aug-2002', 1),
 ('05-Sep-1900', 1),
 ('01-Nov-1942', 1),
 ('Reported 03-Sep-1951', 1),
 ('08-Apr-1963', 1),
 ('22-Nov-2011', 1),
 ('10-Feb-2016', 1),
 (' 08-Aug-1890', 1),
 ('04-Oct-1921', 1),
 ('20-Sep-1955', 1),
 ('09-Aug-1878', 1),
 ('22-Sep-1968', 1),
 ('01-Oct-1999', 1),
 ('13-Sep-1900', 1),
 ('24-Aug-1946', 1),
 ('16-Aug-1966', 1),
 ('16-Nov-2015', 1),
 ('05-Dec-2013', 1),
 ('12-Aug-2008', 1),
 ('29-May-2012', 1),
 ('31-May-2012', 1),
 ('26-Jun-2006', 1),
 ('1905', 1),
 ('Reported 12-Jan-1994', 1),
 ('09-Aug-1975', 1),
 ('31-Dec-2017', 1),
 ('31-May-1992', 1),
 ('Jun-1992', 1),
 ('1733', 1),
 ('21-Dec-2002', 1),
 ('Aug-1904', 1),
 ('25-May-1998', 1),
 ('Reported 22-Aug-1960', 1),
 ('28-Jun-1956', 1),
 ('24-Mar-2011', 1),
 ('Reported 02-May-1938', 1),
 ('07-Dec-1970', 1),
 ('29-May-1960', 1),
 ('Reported 25-Jan-1902', 1),
 ('27-Feb-1973', 1),
 ('Reported 15-Nov-1928', 1),
 ('6-Aug-2005', 1),
 ('Reported      13-Apr-2007', 1),
 ('10-Aug-1986', 1),
 ('21-Dec-1983', 1),
 ('09-Mar-1967', 1),
 ('24-Jul-1976', 1),
 ('15-May-2005', 1),
 ('17-Jun-1999', 1),
 ('Nov-1962', 1),
 ('08-Jul-1916', 1),
 ('Reported 11-Sep-1896', 1),
 ('11-May-1930', 1),
 ('1853 ', 1),
 ('Reported 14-Jul-1907', 1),
 ('25-Sep-1941', 1),
 ('10-Apr-1869', 1),
 ('21-Mar-1972', 1),
 ('Ca. 1955 ', 1),
 ('17-Sep-1984', 1),
 ('02-Jan-1959', 1),
 ('16-Apr-2011', 1),
 ('01-Oct-1995', 1),
 ('28-May-2005', 1),
 ('07-Jun-2015', 1),
 ('Oct-1953', 1),
 ('16-Jan-1996', 1),
 ('Aug-1948', 1),
 ('23-Dec-1935', 1),
 ('12-Aug-1881', 1),
 ('17-Oct-1923', 1),
 ('15-Jul-2011', 1),
 ('Late Jul-1980', 1),
 ('04-Nov-2017', 1),
 ('15-Apr-1994', 1),
 ('24-Jun-2007', 1),
 ('12-Aug-1975', 1),

Observamos que en algunas celdas la información es incompleta, ya que muestra solo el año, o que incluye la palabra "Reported", eliminaremos información no necesaria y nos quedaremos solo con las celdas que contienen la fecha completa haciendo uso de Regex

#Creamos una nueva columna con el nombre "Date_ok" en la que la información esté expresada de forma homogenea
dates = list(df_clean["Date"])
df_clean ["Date_ok"] = pd.Series(re.findall(r'[0-9]{2}\-[a-zA-Z]*\-[0-9]{4}', str(dates)))
#La columna se añade por defecto al final del DataFrame, por lo que las reordenamos y eliminamos la columna "Date"
colnames = df_clean.columns.tolist()
colnames = colnames[-1:] + colnames [:-1]
df_clean = df_clean[colnames]

In [18]:
list(df_clean["Type"].value_counts().items())

[('Unprovoked', 4595),
 ('Provoked', 574),
 ('Invalid', 547),
 ('Sea Disaster', 239),
 ('Boating', 203),
 ('Boat', 137),
 ('Questionable', 2),
 ('Boatomg', 1)]

Parece que los valores "Boating", "Boat" y "Boatomg" hacen referencia a lo mismo, por lo que podemos agruparlos con el mismo nombre

In [19]:
#Comprobamos si existen valores nulos
df_clean["Type"].isnull().sum()

4

In [20]:
df_clean[df_clean.Type.isnull()][["Year","Country","Type"]]

        Year    Country Type
85    2017.0      SAMOA  NaN
382   2015.0  AUSTRALIA  NaN
4867  1936.0    VIETNAM  NaN
5705  1890.0     CEYLON  NaN

In [23]:
#Rellenamos los 4 valores nulos como "Sin registros"
df_clean.loc[df_clean.Type.isnull(), "Type"] = ["Sin registros","Sin registros","Sin registros","Sin registros"]

ValueError: Must have equal len keys and value when setting with an iterable

In [22]:
#Agrupamos "Boating", "Boat" y "Boatomg" bajo "Boating"
df_clean.loc[df_clean["Type"].str.startswith("B"),"Type"] = "Boating"

In [24]:
df_clean["Type"].value_counts()

Unprovoked       4595
Provoked          574
Invalid           547
Boating           341
Sea Disaster      239
Sin registros       4
Questionable        2
Name: Type, dtype: int64

In [25]:
list(df_clean["Country"].value_counts().items())

[('USA', 2229),
 ('AUSTRALIA', 1338),
 ('SOUTH AFRICA', 579),
 ('PAPUA NEW GUINEA', 134),
 ('NEW ZEALAND', 128),
 ('BRAZIL', 112),
 ('BAHAMAS', 109),
 ('MEXICO', 89),
 ('ITALY', 71),
 ('FIJI', 62),
 ('PHILIPPINES', 61),
 ('REUNION', 60),
 ('NEW CALEDONIA', 53),
 ('CUBA', 46),
 ('MOZAMBIQUE', 45),
 ('SPAIN', 44),
 ('INDIA', 40),
 ('EGYPT', 38),
 ('JAPAN', 34),
 ('CROATIA', 34),
 ('PANAMA', 32),
 ('SOLOMON ISLANDS', 30),
 ('IRAN', 29),
 ('JAMAICA', 27),
 ('GREECE', 25),
 ('FRENCH POLYNESIA', 25),
 ('HONG KONG', 24),
 ('ENGLAND', 23),
 ('INDONESIA', 23),
 ('ATLANTIC OCEAN', 17),
 ('PACIFIC OCEAN', 17),
 ('COSTA RICA', 17),
 ('BERMUDA', 16),
 ('VIETNAM', 15),
 ('TONGA', 15),
 ('VANUATU', 14),
 ('SRI LANKA', 14),
 ('FRANCE', 13),
 ('MARSHALL ISLANDS', 13),
 ('TURKEY', 12),
 ('CANADA', 12),
 ('SOUTH ATLANTIC OCEAN', 12),
 ('IRAQ', 12),
 ('UNITED KINGDOM', 11),
 ('SENEGAL', 11),
 ('VENEZUELA', 11),
 ('NEW GUINEA', 10),
 ('KENYA', 10),
 ('MAURITIUS', 10),
 ('TAIWAN', 9),
 ('ECUADOR', 9),
 ('COLUMBIA', 9),
 ('CARIBBEAN SEA', 8),
 ('TANZANIA', 8),
 ('SCOTLAND', 8),
 ('MADAGASCAR', 8),
 ('THAILAND', 8),
 ('CHILE', 8),
 ('SIERRA LEONE', 8),
 ('SAMOA', 8),
 ('SOUTH KOREA', 8),
 ('CHINA', 7),
 ('DOMINICAN REPUBLIC', 7),
 ('INDIAN OCEAN', 7),
 ('NORTH PACIFIC OCEAN', 7),
 ('SEYCHELLES', 7),
 ('ISRAEL', 7),
 ('YEMEN ', 7),
 ('OKINAWA', 6),
 ('NICARAGUA', 6),
 ('BARBADOS', 6),
 ('SINGAPORE', 6),
 ('NEW BRITAIN', 6),
 ('SOMALIA', 6),
 ('LIBYA', 6),
 ('KIRIBATI', 6),
 ('PALAU', 5),
 ('MID ATLANTIC OCEAN', 5),
 ('SAUDI ARABIA', 5),
 ('MALAYSIA', 5),
 ('MALTA', 5),
 ('TURKS & CAICOS', 5),
 ('AZORES', 5),
 ('NIGERIA', 4),
 ('EL SALVADOR', 4),
 ('GUAM', 4),
 ('RUSSIA', 4),
 ('URUGUAY', 4),
 ('BURMA', 4),
 ('PERSIAN GULF', 4),
 ('SUDAN', 4),
 ('NORTH ATLANTIC OCEAN', 4),
 ('HONDURAS', 4),
 ('GRENADA', 4),
 ('BELIZE', 3),
 ('HAITI', 3),
 ('LEBANON', 3),
 ('PORTUGAL', 3),
 ('CEYLON', 3),
 ('GUYANA', 3),
 ('GUINEA', 3),
 ('CAPE VERDE', 3),
 ('MONTENEGRO', 3),
 ('MICRONESIA', 3),
 ('Fiji', 3),
 ('TUNISIA', 3),
 ('AMERICAN SAMOA', 3),
 ('TRINIDAD & TOBAGO', 3),
 ('LIBERIA', 3),
 (' TONGA', 3),
 ('MARTINIQUE', 3),
 ('TOBAGO', 2),
 ('SOUTH PACIFIC OCEAN', 2),
 ('WEST INDIES', 2),
 ('ST HELENA, British overseas territory', 2),
 ('MEDITERRANEAN SEA', 2),
 ('UNITED ARAB EMIRATES (UAE)', 2),
 ('ICELAND', 2),
 ('YEMEN', 2),
 ('ANTIGUA', 2),
 ('EGYPT ', 2),
 ('CRETE', 2),
 ('JOHNSTON ISLAND', 2),
 ('CENTRAL PACIFIC', 2),
 ('NAMIBIA', 2),
 ('CAYMAN ISLANDS', 2),
 ('NORWAY', 2),
 ('SOUTHWEST PACIFIC OCEAN', 2),
 ('UNITED ARAB EMIRATES', 2),
 ('PACIFIC OCEAN ', 2),
 ('CURACAO', 1),
 ('BAY OF BENGAL', 1),
 ('ALGERIA', 1),
 ('NORTHERN MARIANA ISLANDS', 1),
 ('FALKLAND ISLANDS', 1),
 ('SYRIA', 1),
 ('BRITISH VIRGIN ISLANDS', 1),
 ('COMOROS', 1),
 ('BANGLADESH', 1),
 ('ANDAMAN ISLANDS', 1),
 ('BRITISH NEW GUINEA', 1),
 ('GHANA', 1),
 ('ITALY / CROATIA', 1),
 ('NEVIS', 1),
 ('NORTHERN ARABIAN SEA', 1),
 ('ARUBA', 1),
 ('ST. MARTIN', 1),
 ('PALESTINIAN TERRITORIES', 1),
 ('MEXICO ', 1),
 ('COOK ISLANDS', 1),
 ('NORTH ATLANTIC OCEAN ', 1),
 ('Coast of AFRICA', 1),
 ('Between PORTUGAL & INDIA', 1),
 ('BRITISH WEST INDIES', 1),
 ('MALDIVES', 1),
 ('SUDAN?', 1),
 ('IRELAND', 1),
 ('NORTH SEA', 1),
 ('Sierra Leone', 1),
 ('GREENLAND', 1),
 ('OCEAN', 1),
 ('MID-PACIFC OCEAN', 1),
 ('ANGOLA', 1),
 ('CYPRUS', 1),
 ('SOUTH CHINA SEA', 1),
 ('NICARAGUA ', 1),
 ('SAN DOMINGO', 1),
 ('DIEGO GARCIA', 1),
 ('AFRICA', 1),
 ('TUVALU', 1),
 ('ASIA?', 1),
 ('BAHREIN', 1),
 ('KUWAIT', 1),
 ('PARAGUAY', 1),
 ('GRAND CAYMAN', 1),
 ('EGYPT / ISRAEL', 1),
 ('SLOVENIA', 1),
 ('DJIBOUTI', 1),
 ('FEDERATED STATES OF MICRONESIA', 1),
 ('GEORGIA', 1),
 ('PUERTO RICO', 1),
 ('KOREA', 1),
 ('REUNION ISLAND', 1),
 ('ANDAMAN / NICOBAR ISLANDAS', 1),
 ('RED SEA?', 1),
 ('NETHERLANDS ANTILLES', 1),
 ('THE BALKANS', 1),
 ('GABON', 1),
 ('EQUATORIAL GUINEA / CAMEROON', 1),
 ('INDIAN OCEAN?', 1),
 ('IRAN / IRAQ', 1),
 ('CEYLON (SRI LANKA)', 1),
 ('MONACO', 1),
 ('PERU', 1),
 ('GUATEMALA', 1),
 ('SWEDEN', 1),
 ('ST. MAARTIN', 1),
 ('RED SEA / INDIAN OCEAN', 1),
 ('ROATAN', 1),
 ('MALDIVE ISLANDS', 1),
 ('SOLOMON ISLANDS / VANUATU', 1),
 ('RED SEA', 1),
 ('ARGENTINA', 1),
 (' PHILIPPINES', 1),
 ('MAYOTTE', 1),
 ('BRITISH ISLES', 1),
 ('WESTERN SAMOA', 1),
 ('Seychelles', 1),
 ('ADMIRALTY ISLANDS', 1),
 ('TASMAN SEA', 1),
 ('JAVA', 1),
 ('GULF OF ADEN', 1)]

In [26]:
list(df_clean["Activity"].value_counts().items())

[('Surfing', 971),
 ('Swimming', 869),
 ('Fishing', 431),
 ('Spearfishing', 333),
 ('Bathing', 162),
 ('Wading', 149),
 ('Diving', 127),
 ('Standing', 99),
 ('Snorkeling', 89),
 ('Scuba diving', 76),
 ('Body boarding', 61),
 ('Body surfing', 49),
 ('Swimming ', 47),
 ('Kayaking', 33),
 ('Treading water', 32),
 ('Pearl diving', 32),
 ('Fell overboard', 32),
 ('Free diving', 29),
 ('Boogie boarding', 29),
 ('Windsurfing', 19),
 ('Walking', 17),
 ('Boogie Boarding', 16),
 ('Shark fishing', 15),
 ('Floating', 14),
 ('Fishing ', 13),
 ('Canoeing', 13),
 ('Surf fishing', 12),
 ('Surf-skiing', 12),
 ('Surf skiing', 12),
 ('Rowing', 12),
 ('Fishing for sharks', 11),
 ('Kayak Fishing', 11),
 ('Scuba Diving', 10),
 ('Sponge diving', 10),
 ('Freediving', 10),
 ('Fell into the water', 9),
 ('Diving for trochus', 9),
 ('Sailing', 9),
 ('Sitting on surfboard', 9),
 ('Sea disaster', 8),
 ('Paddle boarding', 8),
 ('Spearfishing ', 7),
 ('Playing', 7),
 ('Floating on his back', 7),
 ('Surf skiing ', 7),
 ('Surfing (sitting on his board)', 7),
 ('Skindiving', 7),
 ('Boating', 7),
 ('Diving for abalone', 7),
 ('Free diving for abalone', 7),
 ('Murder', 6),
 ('Sea Disaster', 6),
 ('Spearfishing on Scuba', 6),
 ('Fishing for mackerel', 6),
 ('Kite Surfing', 6),
 ('Stand-Up Paddleboarding', 6),
 ('Shipwreck', 6),
 ('Kayaking / Fishing', 5),
 ('Fishing on a boat', 5),
 ('Paddleskiing', 5),
 ('Freedom swimming', 5),
 ('Boat', 5),
 ('Surfing ', 5),
 ('Dangling feet in the water', 5),
 ('Hard hat diving', 5),
 ('Kite surfing', 5),
 ('Boat swamped', 4),
 ('Fishing boat', 4),
 ('Wade Fishing', 4),
 ('Skin diving', 4),
 ('Spearfishing / free diving', 4),
 ('Tagging sharks', 4),
 ('Clamming', 4),
 ('Jumping', 4),
 ('Scuba diving (but on surface)', 4),
 ('Lifesaving drill', 4),
 ('Splashing', 4),
 ('Seine netting', 4),
 ('Freedom Swimming', 4),
 ('Scuba diving (submerged)', 4),
 ('Body-boarding', 4),
 ('Jumped into the water', 4),
 ('Feeding sharks', 4),
 ('Diving for coins', 4),
 ('Paddling on surfboard', 4),
 ('Diving for sponges', 3),
 ('Unknown', 3),
 ('Wreck of the schooner Pohoiki ', 3),
 ('Diving ', 3),
 ('Spearfishing / Scuba diving (at surface)', 3),
 ('Wade-fishing', 3),
 ('Jumped overboard', 3),
 ('Playing in the surf', 3),
 ('Bathing ', 3),
 ('Spearing fish', 3),
 ('Shark watching', 3),
 ('Swimming after his hat', 3),
 ('Escaping from Alacatraz', 3),
 ('Sculling', 3),
 ('Standing in knee-deep water', 3),
 ('Scuba diving for abalone', 3),
 ('Knocked overboard', 3),
 ('Spearfishing (free diving)', 3),
 ('Surfing, paddling seawards', 3),
 ('Crabbing', 3),
 ('Competing in the Woodvale Atlantic Rowing Race', 3),
 ('Sitting on gunwale of boat', 3),
 ('Fishing for squid', 3),
 ('Floating on a raft', 3),
 ('Feeding fish', 3),
 ('Free diving & spearfishing', 3),
 ('Walking out of the water after surfing', 3),
 ('Jumped overboard ', 3),
 ('Hookah diving for abalone', 3),
 ('boat capsized', 3),
 ('Wade fishing', 3),
 ('Shell diving', 3),
 ('Fishing for snapper', 3),
 ('Their 9 m launch was run down by a 25,000-ton Japanese freighter  on the night of 3-11-1977 & they drifted, clinging to an icebox for 2 days',
  3),
 ('Fishing for bluefish', 3),
 ('Suicide', 3),
 ('.', 3),
 ('SUP', 3),
 ('Kayak fishing', 3),
 ('Fishing for kob', 3),
 ('Body Boarding', 3),
 ('SCUBA diving', 3),
 ('Paddling', 3),
 ('Crayfishing', 3),
 ('Washing his feet', 2),
 ('Diving?', 2),
 ('Diving for beche-de-mer ', 2),
 ('Diving off jetty', 2),
 ('Swimming / Wading', 2),
 ('Beach seine netting', 2),
 ('The Christie V sank on 11/6/1988, survivors were adrift on a dinghy', 2),
 ('Collecting shells', 2),
 ('Surfing (lying prone on his board)', 2),
 ('Dived for a coin', 2),
 ('Fishing for lobsters', 2),
 ('Shooting sharks ', 2),
 ('Spearfishing using Scuba', 2),
 ('Teasing a shark', 2),
 ('Scuba diving & spearfishing', 2),
 ('Swimming near jetty', 2),
 ('Attempting to kill a shark with explosives', 2),
 ('Playing in the water', 2),
 ('Free diving / Spearfishing', 2),
 ('Swimming / snorkeling', 2),
 ('Ocean racing', 2),
 ('Five men on makeshift raft after their 10 m fishing boat  capsized and sank in rough seas. Survivors rescued after  7.5 hours in the water',
  2),
 ('Swimming / escaping imprisonment ', 2),
 ('Shark tagging', 2),
 ('Shark diving', 2),
 ('Fishing for tuna', 2),
 ('Swimming from the New Venture ', 2),
 ('Jet skiing', 2),
 ('Diving for lobsters', 2),
 ('Spearfishing / Free diving', 2),
 ('Kitesurfing', 2),
 ('Finning the shark that bit him', 2),
 ('Thrown overboard', 2),
 ('Kite Boarding', 2),
 ('Floating in inner tube', 2),
 ('Netting shrimp', 2),
 ('Spearfishing / Scuba diving', 2),
 ('Diving for beche-de-mer', 2),
 ('Fishing from surf ski', 2),
 ('Free diving / spearfishing', 2),
 ('Fishing for cod', 2),
 ('Swimming ashore from capsized boat', 2),
 ('Spearfishing Competition', 2),
 ('Transatlantic Rowing', 2),
 ('Diving from canoe', 2),
 ('Free-diving', 2),
 ('Sitting in the water', 2),
 ('Splashing ', 2),
 ('Boat with 5 men capsized while returning to the Amerique', 2),
 ('Swimming alongside NOAA research vessel Discoverer', 2),
 ('Cruising', 2),
 ('U.S. Airforce C124 enroute from Hickham Air Base to Japan went down. The 3 survivors fashioned raft from mailbags  & were rescued 3 days after the crash.',
  2),
 ('Hookah diving for sea urchins', 2),
 ('Sitting in shallows', 2),
 ('Kite boarding', 2),
 ('Rowing ', 2),
 ('Cleaning fish', 2),
 ('Cage Diving', 2),
 ('Standing ', 2),
 ('Swimming, ducking for shells in water 0.9 m deep', 2),
 ('Standing in waist-deep water', 2),
 ('Kayaking ', 2),
 ('Body surfing / treading water', 2),
 ('Swimming or surfing', 2),
 ('Air Disaster', 2),
 ('Washing', 2),
 ('Floating on back', 2),
 ('Diving for trochus shell', 2),
 ('Bathing in river', 2),
 ('Diving into water', 2),
 ('Fishing (Seining)', 2),
 ('Standing / Surfing', 2),
 ('fishing boat exploded & sank', 2),
 ('Launching rowboat through the surf', 2),
 ('Surfing, collided with shark', 2),
 ('S2N Navy scout plane went down, E.H. Almond & Lieut A.G. Reading in water',
  2),
 ('"Flying Tiger" transport plane went down with 5 men onboard', 2),
 ('HMAS Parramatta torpedoed & sunk by the U-559', 2),
 ('Diving around anchored liner', 2),
 ('Fishing for prawns', 2),
 ('Free diving, Spearfishing', 2),
 ('Kiteboarding', 2),
 ('Diving for crayfish', 2),
 ('Hoisting shark aboard fishing boat', 2),
 ('Boat capsized, swimming ashore', 2),
 ('Fishing for whiting', 2),
 ('Air disaster', 2),
 ('Aircraft crashed into sea', 2),
 ('Fishing for red fish', 1),
 ('Swimming outside fishing net', 1),
 ('Walking / surfing', 1),
 ('Surfing & dangling foot in water amid baitfish', 1),
 ('Swimming from makeshift raft  to life vest after fishing boat sank', 1),
 ('Placed hand in disemboweled shark\x92s jaws', 1),
 ('Hauling in net with shark in it', 1),
 ('U-177 torpedoed & sank the troopship Nova Scotia', 1),
 ('Air/Sea Disaster involving C-54 Air Force Transport No. 2686 with 37 on board',
  1),
 ('1446-ton Norwegian barque Errol, bound from Peru to Newcastle with 22 on board wrecked. Survivors shelterd on the wreck of the Annasona. Subsequently the Master, his wife & 4 children perished along with several crew. Survivors (5) were rescued 7/12/1909',
  1),
 ('Swimming after being washed overboard', 1),
 ('Attempting to chase shark out to sea', 1),
 ('Swimming, attempting to rescue a girl  believed to be drowning', 1),
 ('Longline fishing for sharks', 1),
 ('Rowing a dinghy', 1),
 ('Paddling & sailing from Buenos Aires to Miami', 1),
 ('Reported swept away by waves while gathering opihi', 1),
 ('Wreck of  large double sailing canoe', 1),
 ('Overturned skiff', 1),
 ('Swimming or paddle boarding', 1),
 ('Resting on surfboard', 1),
 ('Cargo ship El Gamil entroute Suez to Yemen (Aden) when her cargo shifted and she sank. 19 Egyption sailors jumped into the water and swam for several hours before being bitten by sharks',
  1),
 ('Helmet diving, collecting trochus shell', 1),
 ('Fell off aircraft carrier', 1),
 ('Swimming beside launch', 1),
 ('Spearfishing using scuba & trailing a string of bleeding fish', 1),
 ('Spearfishing & holding catch', 1),
 ('Surfing, pushing board ashore', 1),
 ('Went to aid of child being menaced by the shark', 1),
 ('Wreck of the 1308-ton Norwegian ship Auckland', 1),
 ('Drift fishing', 1),
 ('Boat Miss Becky  sank 12 miles from shore', 1),
 ('Free diving , but surfacing', 1),
 ('Swimming near shore', 1),
 ('Playing on rock, slipped & fell into the water', 1),
 ('Free diving (but on surface)', 1),
 ('Surfing, but treading water', 1),
 ('Surfing, sitting on board', 1),
 ('Light aircraft ditched at sea', 1),
 ('American minesweeper USS YMS-350 lost in a typhoon - swimming to shore', 1),
 ('Fishing, fell from rocks & disappeared', 1),
 ('Wreck of the schooner Driver', 1),
 ('Free diving / photography, kneeling on sand', 1),
 ('Fishing, shark caught in his net', 1),
 ('Fishing (Drowned 2-Apr-2002)', 1),
 ('Surfing, but standing in water alongside board', 1),
 ('British cruiser Dunedin torpedoed & sunk by the U-124', 1),
 ('The SS Potlach was torpedoed & sunk by the U-153 on 27-Jun-1942. ', 1),
 ('Fishing, hauling in fishing gear', 1),
 ('Playing with an air mattress', 1),
 ('Dived into sea from launch & bitten immediately', 1),
 ("Crouching in 2' of water", 1),
 ('Pacific Seafarer of US Navy', 1),
 ('Wading (shrimping)', 1),
 ('Paddling on kneeboard', 1),
 ('Commercial fishing vessel, Ev-nn, struck object & sank. Ken Crosby and  Jame & Ann Dumas adrift on makeshift raft.',
  1),
 ('Free diving / spearfishing, ', 1),
 ('Adrift in a life jacket', 1),
 ('Abalone diving using Hookah (resting on the surface)', 1),
 ('Fishing / standing in waist deep water', 1),
 ('Free diving for shell', 1),
 ('Fishing / cleaning fish, dived into water to retrieve a lost fish', 1),
 ('Competing in spearfishing championship & towing dead fish', 1),
 ('Had just dived into water & was swimming', 1),
 ('Filming a documentary', 1),
 ('Paddling rescue ski', 1),
 ('Swimming / shipwreck', 1),
 ('Spearfishing / swimming on surface', 1),
 ('Shark fishing on the Ricardo Astorga', 1),
 ('Swimming from capsized pirogue', 1),
 ('Skin diving ', 1),
 ('Surfing, paddling shorewards', 1),
 ('Swimming, wearing black wetsuit & swim fins', 1),
 ('Longling fishing', 1),
 ('German raider Kormoran was sunk in an engagement with HMAS Sydney', 1),
 ('Rolled off raft', 1),
 ('Paddling a surfboat', 1),
 ('Ferry boat Dona Paz with 4431 passengers exploded & caught fire when she collided with an  oil tanker ',
  1),
 ('Pearl diving, but standing in the water', 1),
 ('Scuba diving (ascending using scooter)', 1),
 ('wreck of the State Oil Company ship Permina', 1),
 ('Wading, when he stepped on the shark', 1),
 ('Swimming alongside warship   Tsingt-ao', 1),
 ('Boat capsized?', 1),
 ('Fell overboard from the Malacca', 1),
 ('Slipped off rocks and fell into the water', 1),
 ('Fisherman', 1),
 ('Water-skiing', 1),
 ('Bathing or washing', 1),
 ('Sleeping in anchored boat', 1),
 ('Net-fishing', 1),
 ('Surfing on air mattress', 1),
 ('Arsinoe, a French tanker', 1),
 ('Fishing (big game)', 1),
 ('Leaving the water', 1),
 ('Goggle-diving for seaweeds, but standing in water', 1),
 ('Fell overboard while fishing for sharks', 1),
 ('Collecting marine specimens', 1),
 ('Shark fishing, knocked overboard', 1),
 ('Diving (Helmet) for sponges', 1),
 ('Spearfishing, but swimming on surface', 1),
 ('Swimming near pier', 1),
 ('The schooner Elizabeth, bound from Bluefields, Nicaragua to the river port of San Carlos foundered',
  1),
 ('Boogie-boarding / swimming', 1),
 ('Chasing shark out of bathing area while riding on a surf-ski', 1),
 ('Treading water, waiting for a wave', 1),
 ('Hunting turtle', 1),
 ('Human head found in shark caught by British steamer Syria', 1),
 ('Diving, retrieving fish caught in net ', 1),
 ('Fishing, Struck by another shark when removing shark from line', 1),
 ('Boat stopped to repair electric pump', 1),
 ('Commercial spearfishing', 1),
 ('Fell from wharf into water & attacked immediately', 1),
 ('Exercising his dog in the shallows', 1),
 ('Fell overboard from USS Ward', 1),
 ('Windsurfing, but sitting on his board', 1),
 ('On life raft tethered to lifeboat. A seaman put hand over side to rinse a cup',
  1),
 ('Scuba diving & feeding fish', 1),
 ('Spearfishing or fishing', 1),
 ('Dived from dinghy to retrieve oar in heavy seas', 1),
 ('Diving by wharf', 1),
 ('Washed overboard', 1),
 ("Scientific research (Dr. Sonny Gruber's student)", 1),
 ('Wreck of the Union Steamship Company 982-ton iron steamer Kafir', 1),
 ('preparing to go skin diving', 1),
 ('Fell overboard from a frigate & was swallowed by a shark. The captain fired a gun at the shark, and "the creature cast the man out of his throat."',
  1),
 ('Skindiving for specimens', 1),
 ('Playing volleyball with friends', 1),
 ('She was on a ship that was torpedoes & was in the water awaiting rescue',
  1),
 ('Diving for Abalone', 1),
 ('Fishing,  tarpon being chased by shark  leapt across his skiff, breaking it in half & Larkin became tangled in the net',
  1),
 ('Diving from dinghy for trochus shell', 1),
 ('In boat being towed by ship, Karnak', 1),
 ('Washing clothes', 1),
 ('Inspecting teeth of supposedly dead (hooked & shot) shark', 1),
 ('Swimming between  anchored  pearling luggers', 1),
 ('Fell overboard from US Navy PC boat', 1),
 ('Washed into sea while picking opihi & attacked by 2 large sharks ', 1),
 ('Tzenny Chandris, a Greek freighter laden with scrap iron, foundered in heavy weather',
  1),
 ('Fleeing across a river', 1),
 ('Hardhat diving from Japanese pearling lugger, Reiyo Maru', 1),
 ('Restraining a beached shark', 1),
 ('Kakaying', 1),
 ('Bathing alongside the American ship Thomas W. Sears', 1),
 ('Among 31 survivors of crew from the sampan Fukulya Maru (which reached Thursday Island in rowing boat) was a man whose arm had been bitten off by shark. The sampan wrecked west of McArthur island ',
  1),
 ('Surf fishing, wading ', 1),
 ("Lying on the bottom of a 16' dinghy", 1),
 ('Swimming along a row of nets', 1),
 ('Wreck of the tug Magellan', 1),
 ('Bathing in 2 feet of water', 1),
 ('Free diving for trochus shell, swimming to dinghy', 1),
 ('Swimming / treading water', 1),
 ('Dived overboard to check propeller of US Navy motor torpedo boat', 1),
 ('Bathing in waist-deep water', 1),
 ('Swimming on surface', 1),
 ('Bodysurfing', 1),
 ('Swimming after being swept into sea by a large wave', 1),
 ('Washing cooking pans', 1),
 ('Jumped overboard to rescue companion', 1),
 ('Fishing, when line became snagged on rock & he dived into water to free it ',
  1),
 ("On board 51' fishing vessel One Ki", 1),
 ('Anti-sabotage night dive exercise alongside destroyer (Scuba diving)', 1),
 ('Fishing  (trawling)', 1),
 ('Riding a horse', 1),
 ('Diving, retrieving film package from Titan 3C rocket', 1),
 ('Walking in shallows', 1),
 ('Bending over', 1),
 ('Batin', 1),
 ('Small boat with 2 men onboard hit a submerged coral formation. Men began swimming to shore',
  1),
 ('On 6-Nov-1942, the German submarine U-68 sank the City of Cairo 5 days from Cape Town, survivors took to lifeboats & rafts. On the 15th day, a fireman jumped over the stern & was taken by sharks',
  1),
 ('Diving, recovering fish killed by dynamite', 1),
 ('Free diving for abalone (ascending)', 1),
 ('Fishing for yellowtail', 1),
 ('Standing / fishing', 1),
 ('Floating on a small orange raft ', 1),
 ('Fishing for sharks when he became entangled in net & fell overboard', 1),
 ('Paddling on surfboard or body board', 1),
 ('Free diving with seals', 1),
 ('Fell overboard?', 1),
 ('Netting sharks', 1),
 ('On boat, preparing to dive', 1),
 ('Floating with life preserver after his boat foundered', 1),
 ('Attempting to land a boat from the Hinemoa', 1),
 ('Fishing (rod & line)', 1),
 ('Hospital Ship Centaur torpedoed & sunk by the Japanese submarine I-177', 1),
 ('C47 aircraft carrying 5,000 lbs of ice ditched in the sea', 1),
 ('Dived into the water', 1),
 ('Bathing in knee-deep water', 1),
 ("Pushed surfmat of a young girl out of the shark's path, drawing shark's attention to his own board",
  1),
 ('The Ward liner Esperanza stranded during a gale & she leapt overboard to rescue her dog which had been swept overboard.',
  1),
 ('Floating, holding onto an oar after dory capsized', 1),
 ('3 men & 2 boys picked up wearing life jackets and with inner tube', 1),
 ('Free diving for abalone from Zodiac (submerged)', 1),
 ('Fishing, slipped on rocks & fell into sea', 1),
 ('Painting a ship', 1),
 ('Vehicle plunged over cliff into the water', 1),
 ('Washing hands', 1),
 ('Fell off surf ski', 1),
 ('Fell overboard from the steamship Chala', 1),
 ('On December 28, 1908, an earthquake, followed by tsunamis, destroyed coastal towns in Silcily and southern Italy, killing more than 100,000 people',
  1),
 ('Fishing (trolling)', 1),
 ('Schooner sank during a storm', 1),
 ('Surfing (pneumatic surfboard)', 1),
 ('Swimming with pod of dolphins', 1),
 ('Fishing boat with 4 men on board was rammed & capsized by  a shark, throwing all occupants into the water',
  1),
 ('Diving for trochus from lugger', 1),
 ('Collecting ornamental fish', 1),
 ('Unknown, but it was said to be the "First known attack in Sydney Harbour"',
  1),
 ('Fishing, hauling in net, shark in net', 1),
 ('Fishing for white shark', 1),
 ('Fishing for snoek & yellowtail', 1),
 ('Harpooning turtles', 1),
 ('Swimming to shore from boat or kayak', 1),
 ('Touching the mouth of a supposedly dead shark', 1),
 ('USS Johnston DD 557 sunk on 10/24/1944 in the Battle off Samara. Crewmen were swimming beside a raft.',
  1),
 ('Standing or boogie boardin', 1),
 ('Dropping anchor', 1),
 ('S2F-1 airplane crashed immediately after carrier take-off', 1),
 ('Went overboard', 1),
 ('American schooner Orator capsized  ', 1),
 ('M.V. Tropical sank. Sole survivor rode oil drums for 8 days without food or water.',
  1),
 ('Survived US Naval aircraft crash, climbing onboard rescue vessel when he fell back into sea ',
  1),
 ('Spearfishing / freediving', 1),
 ("Diving in Sharkey's Reef restaurant\x92s aquarium", 1),
 ('Fishing for bluefish, shark leapt into dory', 1),
 ('Hilo', 1),
 ('Surfing, fell off surfboard & stepped on the shark.', 1),
 ('Catching sharks under government contract', 1),
 ('Fell overboard from the Sobella', 1),
 ('Adrift on raft after their ship was sunk by an Axis raider ', 1),
 ('Swimming/', 1),
 ('Fell overboard from P&O steamship Arabia', 1),
 ('Swimming 3 miles offshore', 1),
 ('Reached out to disentangle rope & fell overboard', 1),
 ('Gigging for flounder', 1),
 ('Sinking of the dredge World Atlas', 1),
 ("Skin diving. Grabbed shark's tail; shark turned & grabbed diver's ankle & began towing him to deep water",
  1),
 ('He was fighting a shark when his boat capsized & he disappeared', 1),
 ('Canoe swamped', 1),
 ('Net fishing', 1),
 ('Free diving for sinkers', 1),
 ('Spearfishing/ filming', 1),
 ('Lobster diving using Scuba', 1),
 ('Hunting seashells', 1),
 ('Swimming in pool formed by construction of a wharf', 1),
 ('Jumped or fell overboard', 1),
 ('Free diving / Photographing pilot whales', 1),
 ('The World Liberty and the tanker Mosli collided. The  Halcyon Breeze sent a lifeboat to the rescue, but it was smashed, throwing 6 men in the  water.',
  1),
 ('Bringing hooked, harpooned shark onboard boat', 1),
 ('Wreck of the 150-ton brig Maria', 1),
 ('The 500-ton coastal trader Polurrian foundered ', 1),
 ('His balloon crashed in the harbor', 1),
 ('Fishing, holding fish', 1),
 ("Ship's boat capsized in squall, captain & 2 sailors clinging onto hull", 1),
 ('Standing, gathering oysters', 1),
 ('Washed overboard by swell', 1),
 ('Helping angler land a shark', 1),
 ('Fishing in knee-deep water', 1),
 ('Fell overboard ', 1),
 ('Surfing & filming dolphins', 1),
 ('Fishing in Alabama Deep Fishing Rodeo', 1),
 ('Jumping in the waves', 1),
 ('Swimming, after falling overboard', 1),
 ('Sea disaster, wreck of the sloop Sara', 1),
 ('Floating in creek', 1),

In [27]:
df_clean["Activity"].isnull().sum()

544

In [32]:
df_clean[df_clean.Activity.isnull()][["Year","Country","Type"]]

        Year        Country          Type
47    2018.0      AUSTRALIA    Unprovoked
108   2017.0            USA    Unprovoked
112   2017.0            USA    Unprovoked
114   2017.0            USA    Unprovoked
154   2017.0            USA    Unprovoked
...      ...            ...           ...
6269     0.0  PACIFIC OCEAN  Sea Disaster
6277     0.0      AUSTRALIA    Unprovoked
6282     0.0      AUSTRALIA    Unprovoked
6292     0.0            USA    Unprovoked
6300     0.0         PANAMA    Unprovoked

[544 rows x 3 columns]

In [33]:
df_clean = df[~df["Activity"].isnull()]

In [35]:
df_clean["Activity"].isnull().sum()

0

In [36]:
df_clean.loc[df_clean["Activity"].str.startswith("Surf"),"Activity"] = "Surfing"

/Users/manuelescamezsanchez/opt/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:965: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

In [37]:
list(df_clean["Activity"].value_counts().items())

[('Surfing', 1063),
 ('Swimming', 869),
 ('Fishing', 431),
 ('Spearfishing', 333),
 ('Bathing', 162),
 ('Wading', 149),
 ('Diving', 127),
 ('Standing', 99),
 ('Snorkeling', 89),
 ('Scuba diving', 76),
 ('Body boarding', 61),
 ('Body surfing', 49),
 ('Swimming ', 47),
 ('Kayaking', 33),
 ('Pearl diving', 32),
 ('Treading water', 32),
 ('Fell overboard', 32),
 ('Boogie boarding', 29),
 ('Free diving', 29),
 ('Windsurfing', 19),
 ('Walking', 17),
 ('Boogie Boarding', 16),
 ('Shark fishing', 15),
 ('Floating', 14),
 ('Canoeing', 13),
 ('Fishing ', 13),
 ('Rowing', 12),
 ('Fishing for sharks', 11),
 ('Kayak Fishing', 11),
 ('Freediving', 10),
 ('Scuba Diving', 10),
 ('Sponge diving', 10),
 ('Fell into the water', 9),
 ('Sailing', 9),
 ('Sitting on surfboard', 9),
 ('Diving for trochus', 9),
 ('Sea disaster', 8),
 ('Paddle boarding', 8),
 ('Boating', 7),
 ('Skindiving', 7),
 ('Diving for abalone', 7),
 ('Floating on his back', 7),
 ('Playing', 7),
 ('Spearfishing ', 7),
 ('Free diving for abalone', 7),
 ('Stand-Up Paddleboarding', 6),
 ('Murder', 6),
 ('Shipwreck', 6),
 ('Spearfishing on Scuba', 6),
 ('Sea Disaster', 6),
 ('Fishing for mackerel', 6),
 ('Kite Surfing', 6),
 ('Kayaking / Fishing', 5),
 ('Boat', 5),
 ('Paddleskiing', 5),
 ('Freedom swimming', 5),
 ('Kite surfing', 5),
 ('Fishing on a boat', 5),
 ('Hard hat diving', 5),
 ('Dangling feet in the water', 5),
 ('Fishing boat', 4),
 ('Body-boarding', 4),
 ('Jumped into the water', 4),
 ('Paddling on surfboard', 4),
 ('Spearfishing / free diving', 4),
 ('Wade Fishing', 4),
 ('Feeding sharks', 4),
 ('Clamming', 4),
 ('Boat swamped', 4),
 ('Jumping', 4),
 ('Scuba diving (but on surface)', 4),
 ('Lifesaving drill', 4),
 ('Tagging sharks', 4),
 ('Splashing', 4),
 ('Seine netting', 4),
 ('Skin diving', 4),
 ('Diving for coins', 4),
 ('Freedom Swimming', 4),
 ('Scuba diving (submerged)', 4),
 ('Spearfishing (free diving)', 3),
 ('Jumped overboard', 3),
 ('Bathing ', 3),
 ('Escaping from Alacatraz', 3),
 ('Feeding fish', 3),
 ('Fishing for squid', 3),
 ('Standing in knee-deep water', 3),
 ('Wreck of the schooner Pohoiki ', 3),
 ('Wade-fishing', 3),
 ('Swimming after his hat', 3),
 ('Fishing for bluefish', 3),
 ('Jumped overboard ', 3),
 ('Walking out of the water after surfing', 3),
 ('Scuba diving for abalone', 3),
 ('SUP', 3),
 ('Spearfishing / Scuba diving (at surface)', 3),
 ('Diving for sponges', 3),
 ('Paddling', 3),
 ('Kayak fishing', 3),
 ('Crabbing', 3),
 ('Playing in the surf', 3),
 ('SCUBA diving', 3),
 ('Body Boarding', 3),
 ('Fishing for snapper', 3),
 ('Free diving & spearfishing', 3),
 ('Wade fishing', 3),
 ('Crayfishing', 3),
 ('.', 3),
 ('Sitting on gunwale of boat', 3),
 ('Hookah diving for abalone', 3),
 ('Shell diving', 3),
 ('Spearing fish', 3),
 ('Competing in the Woodvale Atlantic Rowing Race', 3),
 ('Knocked overboard', 3),
 ('Suicide', 3),
 ('Their 9 m launch was run down by a 25,000-ton Japanese freighter  on the night of 3-11-1977 & they drifted, clinging to an icebox for 2 days',
  3),
 ('Floating on a raft', 3),
 ('boat capsized', 3),
 ('Sculling', 3),
 ('Diving ', 3),
 ('Fishing for kob', 3),
 ('Shark watching', 3),
 ('Unknown', 3),
 ('Kiteboarding', 2),
 ('Kayaking ', 2),
 ('Swimming alongside NOAA research vessel Discoverer', 2),
 ('Transatlantic Rowing', 2),
 ('Free diving, Spearfishing', 2),
 ('Spearfishing Competition', 2),
 ('Swimming ashore from capsized boat', 2),
 ('Fishing for cod', 2),
 ('Diving for lobsters', 2),
 ('Cruising', 2),
 ('Free-diving', 2),
 ('Free diving / spearfishing', 2),
 ('Thrown overboard', 2),
 ('Body surfing / treading water', 2),
 ('Diving from canoe', 2),
 ('Sitting in shallows', 2),
 ('Diving?', 2),
 ('Spearfishing / Free diving', 2),
 ('Spearfishing using Scuba', 2),
 ('Hoisting shark aboard fishing boat', 2),
 ('Boat capsized, swimming ashore', 2),
 ('Fishing for lobsters', 2),
 ('Hookah diving for sea urchins', 2),
 ('Standing in waist-deep water', 2),
 ('Diving into water', 2),
 ('Diving for beche-de-mer ', 2),
 ('Standing ', 2),
 ('Collecting shells', 2),
 ('Dived for a coin', 2),
 ('Kite Boarding', 2),
 ('Aircraft crashed into sea', 2),
 ('Splashing ', 2),
 ('Swimming / Wading', 2),
 ('Fishing for whiting', 2),
 ('Cleaning fish', 2),
 ('Swimming near jetty', 2),
 ('Shark tagging', 2),
 ('Boat with 5 men capsized while returning to the Amerique', 2),
 ('Washing his feet', 2),
 ('Cage Diving', 2),
 ('Netting shrimp', 2),
 ('Spearfishing / Scuba diving', 2),
 ('Sitting in the water', 2),
 ('Fishing for prawns', 2),
 ('Diving for beche-de-mer', 2),
 ('Diving off jetty', 2),
 ('Beach seine netting', 2),
 ('The Christie V sank on 11/6/1988, survivors were adrift on a dinghy', 2),
 ('Floating in inner tube', 2),
 ('Fishing from surf ski', 2),
 ('Rowing ', 2),
 ('Shooting sharks ', 2),
 ('Jet skiing', 2),
 ('Finning the shark that bit him', 2),
 ('Diving around anchored liner', 2),
 ('Diving for trochus shell', 2),
 ('Scuba diving & spearfishing', 2),
 ('Launching rowboat through the surf', 2),
 ('Floating on back', 2),
 ('Shark diving', 2),
 ('Standing / Surfing', 2),
 ('fishing boat exploded & sank', 2),
 ('Swimming, ducking for shells in water 0.9 m deep', 2),
 ('"Flying Tiger" transport plane went down with 5 men onboard', 2),
 ('Kite boarding', 2),
 ('Swimming or surfing', 2),
 ('Playing in the water', 2),
 ('Bathing in river', 2),
 ('Free diving / Spearfishing', 2),
 ('Ocean racing', 2),
 ('Attempting to kill a shark with explosives', 2),
 ('Swimming from the New Venture ', 2),
 ('Fishing (Seining)', 2),
 ('Five men on makeshift raft after their 10 m fishing boat  capsized and sank in rough seas. Survivors rescued after  7.5 hours in the water',
  2),
 ('Diving for crayfish', 2),
 ('Washing', 2),
 ('Kitesurfing', 2),
 ('Fishing for tuna', 2),
 ('S2N Navy scout plane went down, E.H. Almond & Lieut A.G. Reading in water',
  2),
 ('Air disaster', 2),
 ('Swimming / escaping imprisonment ', 2),
 ('Teasing a shark', 2),
 ('U.S. Airforce C124 enroute from Hickham Air Base to Japan went down. The 3 survivors fashioned raft from mailbags  & were rescued 3 days after the crash.',
  2),
 ('HMAS Parramatta torpedoed & sunk by the U-559', 2),
 ('Air Disaster', 2),
 ('Swimming / snorkeling', 2),
 ('Harpooning turtles', 1),
 ('Commercial spearfishing', 1),
 ('Windsurfing, but sitting on his board', 1),
 ('Fell overboard from the Malacca', 1),
 ('Fell from wharf into water & attacked immediately', 1),
 ('Swimming to shore from boat or kayak', 1),
 ('Standing or boogie boardin', 1),
 ('USS Johnston DD 557 sunk on 10/24/1944 in the Battle off Samara. Crewmen were swimming beside a raft.',
  1),
 ('Adrift in a life jacket', 1),
 ('Attempting to chase shark out to sea', 1),
 ('Adrift after the sinking of the motor yacht Princess Dianne', 1),
 ('Touching the mouth of a supposedly dead shark', 1),
 ('wreck of the State Oil Company ship Permina', 1),
 ('Fishing / standing in waist deep water', 1),
 ('Swimming alongside warship   Tsingt-ao', 1),
 ('Went to aid of child being menaced by the shark', 1),
 ('On December 28, 1908, an earthquake, followed by tsunamis, destroyed coastal towns in Silcily and southern Italy, killing more than 100,000 people',
  1),
 ('Fell off surf ski', 1),
 ('Vehicle plunged over cliff into the water', 1),
 ("Pushed surfmat of a young girl out of the shark's path, drawing shark's attention to his own board",
  1),
 ('Ferry boat Dona Paz with 4431 passengers exploded & caught fire when she collided with an  oil tanker ',
  1),
 ('Fishing, thrown into water by heavy sea, clinging to rocks at the water line',
  1),
 ('3 men & 2 boys picked up wearing life jackets and with inner tube', 1),
 ('Pearl diving, but standing in the water', 1),
 ('Shark fishing on the Ricardo Astorga', 1),
 ('Floating, holding onto an oar after dory capsized', 1),
 ('Spearfishing / swimming on surface', 1),
 ('The Ward liner Esperanza stranded during a gale & she leapt overboard to rescue her dog which had been swept overboard.',
  1),
 ('Had just dived into water & was swimming', 1),
 ('Swimming with pod of dolphins', 1),
 ('Competing in spearfishing championship & towing dead fish', 1),
 ('Fishing boat with 4 men on board was rammed & capsized by  a shark, throwing all occupants into the water',
  1),
 ('Free diving for shell', 1),
 ('Diving for trochus from lugger', 1),
 ('Unknown, but it was said to be the "First known attack in Sydney Harbour"',
  1),
 ('Fishing, hauling in net, shark in net', 1),
 ('Boat stopped to repair electric pump', 1),
 ('Sleeping in anchored boat', 1),
 ('S2F-1 airplane crashed immediately after carrier take-off', 1),
 ('Fishing, Struck by another shark when removing shark from line', 1),
 ('13 men in the water after sailboat capsized & sank', 1),
 ('Free diving / photography, kneeling on sand', 1),
 ('Commercial fishing vessel, Ev-nn, struck object & sank. Ken Crosby and  Jame & Ann Dumas adrift on makeshift raft.',
  1),
 ('British cruiser Dunedin torpedoed & sunk by the U-124', 1),
 ('Helmet diving, collecting trochus shell', 1),
 ('The SS Potlach was torpedoed & sunk by the U-153 on 27-Jun-1942. ', 1),
 ('Swimming near pier', 1),
 ('Paddling a surfboat', 1),
 ('Overturned skiff', 1),
 ('Playing with an air mattress', 1),
 ('Wreck of  large double sailing canoe', 1),
 ('Swimming / shipwreck', 1),
 ('Rowing a dinghy', 1),
 ('Swimming after being washed overboard', 1),
 ('Dived into sea from launch & bitten immediately', 1),
 ('Pacific Seafarer of US Navy', 1),
 ('Swimming, wearing black wetsuit & swim fins', 1),
 ('Fell overboard from USS Ward', 1),
 ('Bathing or washing', 1),
 ('Hauling in net with shark in it', 1),
 ('Paddling on kneeboard', 1),
 ('Placed hand in disemboweled shark\x92s jaws', 1),
 ('Spearfishing & holding catch', 1),
 ('Abalone diving using Hookah (resting on the surface)', 1),
 ('Leaving the water', 1),
 ('Fishing (Drowned 2-Apr-2002)', 1),
 ('Spearfishing, but swimming on surface', 1),
 ('Diving, retrieving fish caught in net ', 1),
 ('Bathing in knee-deep water', 1),
 ('Spearfishing or fishing', 1),
 ('Hunting turtle', 1),
 ('Chasing shark out of bathing area while riding on a surf-ski', 1),
 ('On life raft tethered to lifeboat. A seaman put hand over side to rinse a cup',
  1),
 ("Adrift, hanging onto cushion, after his 17' skiff ran out of gas & capsized 3 miles from shore",
  1),
 ('Fishing for red fish', 1),
 ('Walking / surfing', 1),
 ('Free diving (but on surface)', 1),
 ('Diving (Helmet) for sponges', 1),
 ('Accidentally thrown overboard & treading water while awaiting rescue', 1),
 ('Shark fishing, knocked overboard', 1),
 ('Slipped off rocks and fell into the water', 1),
 ('Checking fish traps, fell into the water', 1),
 ('1446-ton Norwegian barque Errol, bound from Peru to Newcastle with 22 on board wrecked. Survivors shelterd on the wreck of the Annasona. Subsequently the Master, his wife & 4 children perished along with several crew. Survivors (5) were rescued 7/12/1909',
  1),
 ('Light aircraft ditched at sea', 1),
 ('American minesweeper USS YMS-350 lost in a typhoon - swimming to shore', 1),
 ('Washing horses', 1),
 ('Wading, when he stepped on the shark', 1),
 ('Fishing (big game)', 1),
 ('Arsinoe, a French tanker', 1),
 ('German raider Kormoran was sunk in an engagement with HMAS Sydney', 1),
 ('She was on a ship that was torpedoes & was in the water awaiting rescue',
  1),
 ('Fishing from shore', 1),
 ('Collecting ornamental fish', 1),
 ('The 500-ton coastal trader Polurrian foundered ', 1),
 ('Fishing, holding fish', 1),
 ('Swimming from capsized boat', 1),
 ('Fell or jumped overboard from the liner Rhynland', 1),
 ('Fell overboard from the steamship Chala', 1),
 ('Painting a ship', 1),
 ('Fishing, slipped on rocks & fell into sea', 1),
 ('Fishing for white shark', 1),
 ('The World Liberty and the tanker Mosli collided. The  Halcyon Breeze sent a lifeboat to the rescue, but it was smashed, throwing 6 men in the  water.',
  1),
 ('Standing, gathering oysters', 1),
 ('Went overboard', 1),
 ('American schooner Orator capsized  ', 1),
 ('Wreck of the 1308-ton Norwegian ship Auckland', 1),
 ('Boat Miss Becky  sank 12 miles from shore', 1),
 ('Free diving , but surfacing', 1),
 ('Swimming near shore', 1),
 ('Wreck of the 150-ton brig Maria', 1),
 ('Free diving / Photographing pilot whales', 1),
 ('Fishing, fell from rocks & disappeared', 1),
 ('Playing volleyball with friends', 1),
 ('Washed overboard', 1),
 ('Washed into sea while picking opihi & attacked by 2 large sharks ', 1),
 ('Tzenny Chandris, a Greek freighter laden with scrap iron, foundered in heavy weather',
  1),
 ('Fleeing across a river', 1),
 ('Hardhat diving from Japanese pearling lugger, Reiyo Maru', 1),
 ('Kakaying', 1),
 ("Lying on the bottom of a 16' dinghy", 1),
 ('Dived into the water', 1),
 ('Spearfishing/ filming', 1),
 ('Washing hands', 1),
 ('Adrift on raft after their ship was sunk by an Axis raider ', 1),
 ('Swimming 3 miles offshore', 1),
 ('Gigging for flounder', 1),
 ('Sinking of the dredge World Atlas', 1),
 ("Diving in Sharkey's Reef restaurant\x92s aquarium", 1),
 ('Canoe swamped', 1),
 ('He drowned when boat capsized', 1),
 ('Fishing, shark caught in his net', 1),
 ('Schooner sank during a storm', 1),
 ('Skin diving ', 1),
 ('Exercising his dog in the shallows', 1),
 ('Boogie-boarding / swimming', 1),
 ('Fisherman', 1),
 ('Fishing / cleaning fish, dived into water to retrieve a lost fish', 1),
 ('Fishing for blue sharks', 1),
 ('Paddling rescue ski', 1),
 ('Swimming from capsized pirogue', 1),
 ('Longling fishing', 1),
 ('Treading water, waiting for a wave', 1),
 ('Rolled off raft', 1),
 ('Scuba diving (ascending using scooter)', 1),
 ('Boat capsized?', 1),
 ('Longline fishing for sharks', 1),
 ('Wrangling a shark', 1),
 ('Sight-seeing', 1),
 ('2 messboys (Jeppsen) & Tony Latona (13) were playing on the afterdeck of the Danish ship Grete Maersk. Jeppsen fell overboard, Latona threw a lifebelt then jumped in to help him. Ship didn\x92t notice they were missing',
  1),
 ('Human head found in shark caught by British steamer Syria', 1),
 ('The schooner Elizabeth, bound from Bluefields, Nicaragua to the river port of San Carlos foundered',
  1),
 ('Fishing, hauling in fishing gear', 1),
 ('Swimming, attempting to rescue a girl  believed to be drowning', 1),
 ("Crouching in 2' of water", 1),
 ('Wading (shrimping)', 1),
 ('Washed overboard into school of fish', 1),
 ('Spearfishing using scuba & trailing a string of bleeding fish', 1),
 ('Air/Sea Disaster involving C-54 Air Force Transport No. 2686 with 37 on board',
  1),
 ('U-177 torpedoed & sank the troopship Nova Scotia', 1),
 ('Swimming outside fishing net', 1),
 ('Paddling & sailing from Buenos Aires to Miami', 1),
 ('Goggle-diving for seaweeds, but standing in water', 1),
 ('Swimming or paddle boarding', 1),
 ('Resting on surfboard', 1),
 ('Cargo ship El Gamil entroute Suez to Yemen (Aden) when her cargo shifted and she sank. 19 Egyption sailors jumped into the water and swam for several hours before being bitten by sharks',
  1),
 ('Fell off aircraft carrier', 1),
 ('Swimming beside launch', 1),
 ('Free diving / spearfishing, ', 1),
 ('Net-fishing', 1),
 ('Wreck of the Union Steamship Company 982-ton iron steamer Kafir', 1),
 ('Skindiving for specimens', 1),
 ('Diving for Abalone', 1),
 ('Restraining a beached shark', 1),
 ('C47 aircraft carrying 5,000 lbs of ice ditched in the sea', 1),
 ('Free diving for trochus shell, swimming to dinghy', 1),
 ('Bathing in 2 feet of water', 1),
 ('Wreck of the tug Magellan', 1),
 ('Swimming along a row of nets', 1),
 ('Among 31 survivors of crew from the sampan Fukulya Maru (which reached Thursday Island in rowing boat) was a man whose arm had been bitten off by shark. The sampan wrecked west of McArthur island ',
  1),
 ('Bathing alongside the American ship Thomas W. Sears', 1),
 ('Fell overboard from US Navy PC boat', 1),
 ('Hilo', 1),
 ('Swimming between  anchored  pearling luggers', 1),
 ('Inspecting teeth of supposedly dead (hooked & shot) shark', 1),
 ("Scientific research (Dr. Sonny Gruber's student)", 1),
 ('preparing to go skin diving', 1),
 ('Loss of the schooner Nomad', 1),
 ('Dived from dinghy to retrieve oar in heavy seas', 1),
 ('In boat being towed by ship, Karnak', 1),
 ('Fishing for bluefish, shark leapt into dory', 1),
 ('Catching sharks under government contract', 1),
 ('Fishing,  tarpon being chased by shark  leapt across his skiff, breaking it in half & Larkin became tangled in the net',
  1),
 ('Swimming in pool formed by construction of a wharf', 1),
 ('Dived overboard to check propeller of US Navy motor torpedo boat', 1),
 ('Survived US Naval aircraft crash, climbing onboard rescue vessel when he fell back into sea ',
  1),
 ('Spearfishing / freediving', 1),
 ("Ship's boat capsized in squall, captain & 2 sailors clinging onto hull", 1),
 ('His balloon crashed in the harbor', 1),
 ('Bringing hooked, harpooned shark onboard boat', 1),
 ('Jumped or fell overboard', 1),
 ('Hunting seashells', 1),
 ('Fell overboard from the Sobella', 1),
 ('Lobster diving using Scuba', 1),
 ('Free diving for sinkers', 1),
 ("Skin diving. Grabbed shark's tail; shark turned & grabbed diver's ankle & began towing him to deep water",
  1),
 ('Reached out to disentangle rope & fell overboard', 1),
 ('Fell overboard from P&O steamship Arabia', 1),
 ('Swimming/', 1),
 ('Watching seals', 1),
 ('Swimming / treading water', 1),
 ('Swimming along side N.E.L. vessel Saluda', 1),
 ('Net fishing', 1),
 ('Standing / fishing', 1),
 ('Scuba diving & feeding fish', 1),
 ('Bodysurfing', 1),
 ('Anti-sabotage night dive exercise alongside destroyer (Scuba diving)', 1),
 ('Fishing  (trawling)', 1),
 ('Bending over', 1),
 ('Batin', 1),
 ('Swimming on surface', 1),
 ('Floating on a small orange raft ', 1),
 ('Diving, recovering fish killed by dynamite', 1),
 ('Diving for shells, saw shark circling wife near the surface, intercepted shark & it pulled him beneath the water',
  1),
 ('On boat, preparing to dive', 1),
 ('Floating with life preserver after his boat foundered', 1),
 ('Attempting to land a boat from the Hinemoa', 1),
 ('Hospital Ship Centaur torpedoed & sunk by the Japanese submarine I-177', 1),
 ('Washing clothes', 1),
 ('Diving from dinghy for trochus shell', 1),
 ('Dropping anchor', 1),
 ('Lying prone on surfboard', 1),
 ('Swimming after being swept into sea by a large wave', 1),
 ('Filming a documentary', 1),
 ('Fishing (rod & line)', 1),
 ('Netting sharks', 1),
 ('Fell overboard?', 1),
 ('Paddling on surfboard or body board', 1),
 ('Fishing for yellowtail', 1),
 ('Free diving for abalone (ascending)', 1),
 ('On 6-Nov-1942, the German submarine U-68 sank the City of Cairo 5 days from Cape Town, survivors took to lifeboats & rafts. On the 15th day, a fireman jumped over the stern & was taken by sharks',
  1),
 ('Small boat with 2 men onboard hit a submerged coral formation. Men began swimming to shore',
  1),
 ('Walking in shallows', 1),
 ('Free diving with seals', 1),
 ('Riding a horse', 1),
 ("On board 51' fishing vessel One Ki", 1),
 ('Fishing, when line became snagged on rock & he dived into water to free it ',
  1),
 ('Jumped overboard to rescue companion', 1),
 ('Washing cooking pans', 1),
 ('Drift fishing', 1),
 ('Washed overboard by swell', 1),
 ('Diving by wharf', 1),
 ('Dived naked into the water on a bet', 1),
 ('Fishing in Alabama Deep Fishing Rodeo', 1),
 ('Jumping in the waves', 1),
 ('Swimming, after falling overboard', 1),
 ('Sea disaster, wreck of the sloop Sara', 1),
 ('Floating in creek', 1),
 ('Swimming at edge of channel', 1),
 ('Fishing in knee-deep water', 1),
 ('Removing shark from net', 1),
 ('Fishing for tunny', 1),
 ('Diving for sea urchins', 1),
 ('Floating on air mattress', 1),
 ('Swimming to canoe', 1),
 ('Ascending from a dive', 1),
 ('Jumped overboard while intoxicated', 1),
 ('Capsized fishing boat', 1),
 ('boat from City of Naples capsized', 1),
 ('Lobstering', 1),
 ('Photographing sharks underwater using Scuba', 1),
 ('Crossing the bay at the ford', 1),

In [38]:
df_clean.loc[df_clean["Activity"].str.endswith("surfing"),"Activity"] = "Surfing"
df_clean.loc[df_clean["Activity"].str.endswith("Surfing"),"Activity"] = "Surfing"

In [39]:
list(df_clean["Activity"].value_counts().items())

[('Surfing', 1166),
 ('Swimming', 869),
 ('Fishing', 431),
 ('Spearfishing', 333),
 ('Bathing', 162),
 ('Wading', 149),
 ('Diving', 127),
 ('Standing', 99),
 ('Snorkeling', 89),
 ('Scuba diving', 76),
 ('Body boarding', 61),
 ('Swimming ', 47),
 ('Kayaking', 33),
 ('Fell overboard', 32),
 ('Pearl diving', 32),
 ('Treading water', 32),
 ('Boogie boarding', 29),
 ('Free diving', 29),
 ('Walking', 17),
 ('Boogie Boarding', 16),
 ('Shark fishing', 15),
 ('Floating', 14),
 ('Canoeing', 13),
 ('Fishing ', 13),
 ('Rowing', 12),
 ('Fishing for sharks', 11),
 ('Kayak Fishing', 11),
 ('Scuba Diving', 10),
 ('Sponge diving', 10),
 ('Freediving', 10),
 ('Sailing', 9),
 ('Fell into the water', 9),
 ('Diving for trochus', 9),
 ('Sitting on surfboard', 9),
 ('Paddle boarding', 8),
 ('Sea disaster', 8),
 ('Free diving for abalone', 7),
 ('Diving for abalone', 7),
 ('Boating', 7),
 ('Skindiving', 7),
 ('Playing', 7),
 ('Spearfishing ', 7),
 ('Floating on his back', 7),
 ('Murder', 6),
 ('Fishing for mackerel', 6),
 ('Stand-Up Paddleboarding', 6),
 ('Sea Disaster', 6),
 ('Spearfishing on Scuba', 6),
 ('Shipwreck', 6),
 ('Freedom swimming', 5),
 ('Paddleskiing', 5),
 ('Boat', 5),
 ('Fishing on a boat', 5),
 ('Hard hat diving', 5),
 ('Dangling feet in the water', 5),
 ('Kayaking / Fishing', 5),
 ('Seine netting', 4),
 ('Spearfishing / free diving', 4),
 ('Diving for coins', 4),
 ('Fishing boat', 4),
 ('Splashing', 4),
 ('Tagging sharks', 4),
 ('Freedom Swimming', 4),
 ('Scuba diving (submerged)', 4),
 ('Jumped into the water', 4),
 ('Feeding sharks', 4),
 ('Paddling on surfboard', 4),
 ('Lifesaving drill', 4),
 ('Jumping', 4),
 ('Scuba diving (but on surface)', 4),
 ('Boat swamped', 4),
 ('Wade Fishing', 4),
 ('Body-boarding', 4),
 ('Clamming', 4),
 ('Skin diving', 4),
 ('Paddling', 3),
 ('Floating on a raft', 3),
 ('Diving for sponges', 3),
 ('Their 9 m launch was run down by a 25,000-ton Japanese freighter  on the night of 3-11-1977 & they drifted, clinging to an icebox for 2 days',
  3),
 ('Wade fishing', 3),
 ('Shell diving', 3),
 ('Body Boarding', 3),
 ('Swimming after his hat', 3),
 ('Crayfishing', 3),
 ('Diving ', 3),
 ('Fishing for squid', 3),
 ('Jumped overboard ', 3),
 ('Shark watching', 3),
 ('Standing in knee-deep water', 3),
 ('Knocked overboard', 3),
 ('Sitting on gunwale of boat', 3),
 ('Scuba diving for abalone', 3),
 ('Escaping from Alacatraz', 3),
 ('Feeding fish', 3),
 ('Bathing ', 3),
 ('Jumped overboard', 3),
 ('Spearfishing / Scuba diving (at surface)', 3),
 ('Unknown', 3),
 ('boat capsized', 3),
 ('Hookah diving for abalone', 3),
 ('.', 3),
 ('Playing in the surf', 3),
 ('Sculling', 3),
 ('Fishing for snapper', 3),
 ('Spearing fish', 3),
 ('Free diving & spearfishing', 3),
 ('Competing in the Woodvale Atlantic Rowing Race', 3),
 ('Crabbing', 3),
 ('Fishing for kob', 3),
 ('Kayak fishing', 3),
 ('Wreck of the schooner Pohoiki ', 3),
 ('SCUBA diving', 3),
 ('Wade-fishing', 3),
 ('Fishing for bluefish', 3),
 ('Spearfishing (free diving)', 3),
 ('Suicide', 3),
 ('SUP', 3),
 ('Swimming / snorkeling', 2),
 ('Netting shrimp', 2),
 ('Spearfishing Competition', 2),
 ('Free diving / Spearfishing', 2),
 ('Spearfishing / Scuba diving', 2),
 ('Playing in the water', 2),
 ('Bathing in river', 2),
 ('Diving for crayfish', 2),
 ('Boat capsized, swimming ashore', 2),
 ('Diving for beche-de-mer', 2),
 ('Swimming alongside NOAA research vessel Discoverer', 2),
 ('Cage Diving', 2),
 ('Shark tagging', 2),
 ('Collecting shells', 2),
 ('Floating in inner tube', 2),
 ('Fishing (Seining)', 2),
 ('Washing his feet', 2),
 ('Swimming / Wading', 2),
 ('Cruising', 2),
 ('Spearfishing using Scuba', 2),
 ('Scuba diving & spearfishing', 2),
 ('Teasing a shark', 2),
 ('Shooting sharks ', 2),
 ('Fishing for lobsters', 2),
 ('Standing in waist-deep water', 2),
 ('Swimming ashore from capsized boat', 2),
 ('Boat with 5 men capsized while returning to the Amerique', 2),
 ('Hoisting shark aboard fishing boat', 2),
 ('Diving for beche-de-mer ', 2),
 ('The Christie V sank on 11/6/1988, survivors were adrift on a dinghy', 2),
 ('Attempting to kill a shark with explosives', 2),
 ('Diving?', 2),
 ('Beach seine netting', 2),
 ('Kite Boarding', 2),
 ('Diving off jetty', 2),
 ('Splashing ', 2),
 ('Finning the shark that bit him', 2),
 ('Fishing for cod', 2),
 ('Dived for a coin', 2),
 ('Spearfishing / Free diving', 2),
 ('Swimming near jetty', 2),
 ('Sitting in the water', 2),
 ('Kiteboarding', 2),
 ('Launching rowboat through the surf', 2),
 ('Shark diving', 2),
 ('Hookah diving for sea urchins', 2),
 ('Air Disaster', 2),
 ('Washing', 2),
 ('Five men on makeshift raft after their 10 m fishing boat  capsized and sank in rough seas. Survivors rescued after  7.5 hours in the water',
  2),
 ('Kite boarding', 2),
 ('Diving from canoe', 2),
 ('Free-diving', 2),
 ('Floating on back', 2),
 ('Diving into water', 2),
 ('Thrown overboard', 2),
 ('Swimming from the New Venture ', 2),
 ('Fishing for tuna', 2),
 ('S2N Navy scout plane went down, E.H. Almond & Lieut A.G. Reading in water',
  2),
 ('Jet skiing', 2),
 ('Kayaking ', 2),
 ('Diving around anchored liner', 2),
 ('Diving for lobsters', 2),
 ('Sitting in shallows', 2),
 ('"Flying Tiger" transport plane went down with 5 men onboard', 2),
 ('HMAS Parramatta torpedoed & sunk by the U-559', 2),
 ('Aircraft crashed into sea', 2),
 ('Standing ', 2),
 ('Free diving / spearfishing', 2),
 ('Free diving, Spearfishing', 2),
 ('Air disaster', 2),
 ('Ocean racing', 2),
 ('Fishing for prawns', 2),
 ('Cleaning fish', 2),
 ('fishing boat exploded & sank', 2),
 ('Swimming, ducking for shells in water 0.9 m deep', 2),
 ('Fishing for whiting', 2),
 ('Diving for trochus shell', 2),
 ('U.S. Airforce C124 enroute from Hickham Air Base to Japan went down. The 3 survivors fashioned raft from mailbags  & were rescued 3 days after the crash.',
  2),
 ('Body surfing / treading water', 2),
 ('Swimming / escaping imprisonment ', 2),
 ('Fishing from surf ski', 2),
 ('Transatlantic Rowing', 2),
 ('Rowing ', 2),
 ('Accidentally thrown overboard & treading water while awaiting rescue', 1),
 ('Fishing (Drowned 2-Apr-2002)', 1),
 ('Free diving (but on surface)', 1),
 ('Standing or boogie boardin', 1),
 ('13 men in the water after sailboat capsized & sank', 1),
 ('Fishing boat with 4 men on board was rammed & capsized by  a shark, throwing all occupants into the water',
  1),
 ('Diving for trochus from lugger', 1),
 ('British cruiser Dunedin torpedoed & sunk by the U-124', 1),
 ('Fishing for blue sharks', 1),
 ('The SS Potlach was torpedoed & sunk by the U-153 on 27-Jun-1942. ', 1),
 ('The Ward liner Esperanza stranded during a gale & she leapt overboard to rescue her dog which had been swept overboard.',
  1),
 ('Swimming with pod of dolphins', 1),
 ('Fishing, hauling in net, shark in net', 1),
 ('Unknown, but it was said to be the "First known attack in Sydney Harbour"',
  1),
 ('He drowned when boat capsized', 1),
 ('Spearfishing, hunting crayfish', 1),
 ('Paddling rescue ski', 1),
 ('Bathing in knee-deep water', 1),
 ('American minesweeper USS YMS-350 lost in a typhoon - swimming to shore', 1),
 ('Swimming from capsized pirogue', 1),
 ('Harpooning turtles', 1),
 ('Swimming to shore from boat or kayak', 1),
 ('Spearfishing or fishing', 1),
 ('USS Johnston DD 557 sunk on 10/24/1944 in the Battle off Samara. Crewmen were swimming beside a raft.',
  1),
 ('Light aircraft ditched at sea', 1),
 ('Touching the mouth of a supposedly dead shark', 1),
 ('Sleeping in anchored boat', 1),
 ('On life raft tethered to lifeboat. A seaman put hand over side to rinse a cup',
  1),
 ('S2F-1 airplane crashed immediately after carrier take-off', 1),
 ('Fishing, shark caught in his net', 1),
 ('Playing with an air mattress', 1),
 ('Adrift in a life jacket', 1),
 ('Boat capsized?', 1),
 ('Fishing / standing in waist deep water', 1),
 ('Free diving for shell', 1),
 ('Competing in spearfishing championship & towing dead fish', 1),
 ('Had just dived into water & was swimming', 1),
 ('Spearfishing / swimming on surface', 1),
 ('Shark fishing on the Ricardo Astorga', 1),
 ('Swimming, wearing black wetsuit & swim fins', 1),
 ('German raider Kormoran was sunk in an engagement with HMAS Sydney', 1),
 ('Ferry boat Dona Paz with 4431 passengers exploded & caught fire when she collided with an  oil tanker ',
  1),
 ('wreck of the State Oil Company ship Permina', 1),
 ('Swimming alongside warship   Tsingt-ao', 1),
 ('Fell overboard from the Malacca', 1),
 ('Wrangling a shark', 1),
 ('Fishing for red fish', 1),
 ('Dived into sea from launch & bitten immediately', 1),
 ('Slipped off rocks and fell into the water', 1),
 ('Wading, when he stepped on the shark', 1),
 ('Paddling a surfboat', 1),
 ('Swimming / shipwreck', 1),
 ('Bathing or washing', 1),
 ('Fell overboard from USS Ward', 1),
 ('Sight-seeing', 1),
 ('Swimming near pier', 1),
 ('Leaving the water', 1),
 ('1446-ton Norwegian barque Errol, bound from Peru to Newcastle with 22 on board wrecked. Survivors shelterd on the wreck of the Annasona. Subsequently the Master, his wife & 4 children perished along with several crew. Survivors (5) were rescued 7/12/1909',
  1),
 ('Trailing hand in the water', 1),
 ("Adrift, hanging onto cushion, after his 17' skiff ran out of gas & capsized 3 miles from shore",
  1),
 ('Attempting to chase shark out to sea', 1),
 ('Escaping from blackbirding vessel', 1),
 ('Adrift after the sinking of the motor yacht Princess Dianne', 1),
 ('Windsurfing, but sitting on his board', 1),
 ('Scuba diving (ascending using scooter)', 1),
 ('Fell from wharf into water & attacked immediately', 1),
 ('Pacific Seafarer of US Navy', 1),
 ('Paddling on kneeboard', 1),
 ('Spearfishing & holding catch', 1),
 ('Skin diving ', 1),
 ('Longling fishing', 1),
 ('Placed hand in disemboweled shark\x92s jaws', 1),
 ('Hauling in net with shark in it', 1),
 ('Swimming after being washed overboard', 1),
 ('Rowing a dinghy', 1),
 ('Wreck of  large double sailing canoe', 1),
 ('Rolled off raft', 1),
 ('Helmet diving, collecting trochus shell', 1),
 ('3 men & 2 boys picked up wearing life jackets and with inner tube', 1),
 ('Playing with a frisbee in the shallows', 1),
 ('Free diving / photography, kneeling on sand', 1),
 ('Abalone diving using Hookah (resting on the surface)', 1),
 ('Arsinoe, a French tanker', 1),
 ('Fishing (big game)', 1),
 ('Washing horses', 1),
 ('Checking fish traps, fell into the water', 1),
 ('Shark fishing, knocked overboard', 1),
 ('Diving (Helmet) for sponges', 1),
 ('Spearfishing, but swimming on surface', 1),
 ('Chasing shark out of bathing area while riding on a surf-ski', 1),
 ('Hunting turtle', 1),
 ('Diving, retrieving fish caught in net ', 1),
 ('Fishing, Struck by another shark when removing shark from line', 1),
 ('Boat stopped to repair electric pump', 1),
 ('Commercial spearfishing', 1),
 ('Floating, holding onto an oar after dory capsized', 1),
 ("Skin diving. Grabbed shark's tail; shark turned & grabbed diver's ankle & began towing him to deep water",
  1),
 ('Fishing, thrown into water by heavy sea, clinging to rocks at the water line',
  1),
 ('Diving from dinghy for trochus shell', 1),
 ('Air/Sea Disaster involving C-54 Air Force Transport No. 2686 with 37 on board',
  1),
 ('Floating with life preserver after his boat foundered', 1),
 ('Attempting to land a boat from the Hinemoa', 1),
 ('Hospital Ship Centaur torpedoed & sunk by the Japanese submarine I-177', 1),
 ('Spearfishing using scuba & trailing a string of bleeding fish', 1),
 ('Washing clothes', 1),
 ('Washed overboard into school of fish', 1),
 ('Fishing,  tarpon being chased by shark  leapt across his skiff, breaking it in half & Larkin became tangled in the net',
  1),
 ('Swimming, attempting to rescue a girl  believed to be drowning', 1),
 ('Diving for Abalone', 1),
 ('Skindiving for specimens', 1),
 ('Wreck of the Union Steamship Company 982-ton iron steamer Kafir', 1),
 ('Washed overboard', 1),
 ('Washed into sea while picking opihi & attacked by 2 large sharks ', 1),
 ('Tzenny Chandris, a Greek freighter laden with scrap iron, foundered in heavy weather',
  1),
 ('Fleeing across a river', 1),
 ('On boat, preparing to dive', 1),
 ('Diving for shells, saw shark circling wife near the surface, intercepted shark & it pulled him beneath the water',
  1),
 ('Floating on a small orange raft ', 1),
 ('Standing / fishing', 1),
 ('Swimming outside fishing net', 1),
 ('Fishing, when line became snagged on rock & he dived into water to free it ',
  1),
 ('Jumped overboard to rescue companion', 1),
 ('Washing cooking pans', 1),
 ('Filming a documentary', 1),
 ('Swimming after being swept into sea by a large wave', 1),
 ('Lying prone on surfboard', 1),
 ('Dropping anchor', 1),
 ('Scuba diving & feeding fish', 1),
 ('Anti-sabotage night dive exercise alongside destroyer (Scuba diving)', 1),
 ('Fishing  (trawling)', 1),
 ('Bending over', 1),
 ('Batin', 1),
 ('U-177 torpedoed & sank the troopship Nova Scotia', 1),
 ('Swimming on surface', 1),
 ('Hardhat diving from Japanese pearling lugger, Reiyo Maru', 1),
 ('Kakaying', 1),
 ("Lying on the bottom of a 16' dinghy", 1),
 ('Fell overboard from the steamship Chala', 1),
 ('Fishing, slipped on rocks & fell into sea', 1),
 ('Collecting ornamental fish', 1),
 ('Fishing for white shark', 1),
 ('Standing, gathering oysters', 1),
 ('Went overboard', 1),
 ('Wading (shrimping)', 1),
 ('American schooner Orator capsized  ', 1),
 ('Wreck of the 1308-ton Norwegian ship Auckland', 1),
 ("Crouching in 2' of water", 1),
 ('Boat Miss Becky  sank 12 miles from shore', 1),
 ('Free diving , but surfacing', 1),
 ('Swimming near shore', 1),
 ('Fishing for the shark that killed George Lundberg', 1),
 ('Fishing, fell from rocks & disappeared', 1),
 ('Fishing, hauling in fishing gear', 1),
 ('Painting a ship', 1),
 ('Went to aid of child being menaced by the shark', 1),
 ('Playing volleyball with friends', 1),
 ('Swimming from capsized boat', 1),
 ('Dived into the water', 1),
 ('Pulling hooked salmon to boat', 1),
 ('Pearl diving, but standing in the water', 1),
 ('Adrift on raft after their ship was sunk by an Axis raider ', 1),
 ('Swimming 3 miles offshore', 1),
 ('Attempting to rescue drowning man', 1),
 ('Sinking of the dredge World Atlas', 1),
 ("Diving in Sharkey's Reef restaurant\x92s aquarium", 1),
 ('Canoe swamped', 1),
 ('Spearfishing/ filming', 1),
 ('Free diving / Photographing pilot whales', 1),
 ('The World Liberty and the tanker Mosli collided. The  Halcyon Breeze sent a lifeboat to the rescue, but it was smashed, throwing 6 men in the  water.',
  1),
 ('Wreck of the 150-ton brig Maria', 1),
 ('The 500-ton coastal trader Polurrian foundered ', 1),
 ('Fishing, holding fish', 1),
 ("On board 51' fishing vessel One Ki", 1),
 ('Riding a horse', 1),
 ("Pushed surfmat of a young girl out of the shark's path, drawing shark's attention to his own board",
  1),
 ('Exercising his dog in the shallows', 1),
 ('Swimming / floating on his back', 1),
 ('Swimming/', 1),
 ('Watching seals', 1),
 ('Boogie-boarding / swimming', 1),
 ('Fell overboard from the Sobella', 1),
 ('Catching sharks under government contract', 1),
 ('Hilo', 1),
 ('Fishing for bluefish, shark leapt into dory', 1),
 ('Paddling & sailing from Buenos Aires to Miami', 1),
 ('C47 aircraft carrying 5,000 lbs of ice ditched in the sea', 1),
 ('Free diving for trochus shell, swimming to dinghy', 1),
 ('Bathing in 2 feet of water', 1),
 ('Human head found in shark caught by British steamer Syria', 1),
 ('Treading water, waiting for a wave', 1),
 ('Wreck of the tug Magellan', 1),
 ('Swimming along a row of nets', 1),
 ('Reached out to disentangle rope & fell overboard', 1),
 ('Free diving for sinkers', 1),
 ('Lobster diving using Scuba', 1),
 ('Hunting seashells', 1),
 ('Vehicle plunged over cliff into the water', 1),
 ('Fishing / cleaning fish, dived into water to retrieve a lost fish', 1),
 ('Fell off surf ski', 1),
 ('On December 28, 1908, an earthquake, followed by tsunamis, destroyed coastal towns in Silcily and southern Italy, killing more than 100,000 people',
  1),
 ('Fishing from shore', 1),
 ('Schooner sank during a storm', 1),
 ('Dived overboard to check propeller of US Navy motor torpedo boat', 1),
 ('Survived US Naval aircraft crash, climbing onboard rescue vessel when he fell back into sea ',
  1),
 ('Spearfishing / freediving', 1),
 ("Ship's boat capsized in squall, captain & 2 sailors clinging onto hull", 1),
 ('Fisherman', 1),
 ('His balloon crashed in the harbor', 1),
 ('Bringing hooked, harpooned shark onboard boat', 1),
 ('Jumped or fell overboard', 1),
 ('Swimming in pool formed by construction of a wharf', 1),
 ('Among 31 survivors of crew from the sampan Fukulya Maru (which reached Thursday Island in rowing boat) was a man whose arm had been bitten off by shark. The sampan wrecked west of McArthur island ',
  1),
 ('Bathing alongside the American ship Thomas W. Sears', 1),
 ('Restraining a beached shark', 1),
 ('Fishing (rod & line)', 1),
 ('Swimming beside launch', 1),
 ('Angling', 1),
 ('Fell overboard?', 1),
 ('Fell off aircraft carrier', 1),
 ('Paddling on surfboard or body board', 1),
 ('Fishing for sharks when he became entangled in net & fell overboard', 1),
 ('Cargo ship El Gamil entroute Suez to Yemen (Aden) when her cargo shifted and she sank. 19 Egyption sailors jumped into the water and swam for several hours before being bitten by sharks',
  1),
 ('Resting on surfboard', 1),
 ('Fishing for yellowtail', 1),
 ('Swimming or paddle boarding', 1),
 ('Free diving for abalone (ascending)', 1),
 ('On 6-Nov-1942, the German submarine U-68 sank the City of Cairo 5 days from Cape Town, survivors took to lifeboats & rafts. On the 15th day, a fireman jumped over the stern & was taken by sharks',
  1),
 ('Small boat with 2 men onboard hit a submerged coral formation. Men began swimming to shore',
  1),
 ('Walking in shallows', 1),
 ('Free diving with seals', 1),
 ('Fishing / washing bait off hands', 1),
 ('Diving, recovering fish killed by dynamite', 1),
 ('The schooner Elizabeth, bound from Bluefields, Nicaragua to the river port of San Carlos foundered',
  1),
 ('Net fishing', 1),
 ('Fell overboard from US Navy PC boat', 1),
 ('Swimming between  anchored  pearling luggers', 1),
 ('Goggle-diving for seaweeds, but standing in water', 1),
 ('Inspecting teeth of supposedly dead (hooked & shot) shark', 1),
 ('Drift fishing', 1),
 ("Scientific research (Dr. Sonny Gruber's student)", 1),
 ('preparing to go skin diving', 1),
 ('Loss of the schooner Nomad', 1),
 ('Dived from dinghy to retrieve oar in heavy seas', 1),
 ('Net-fishing', 1),
 ('She was on a ship that was torpedoes & was in the water awaiting rescue',
  1),
 ('In boat being towed by ship, Karnak', 1),
 ('Free diving / spearfishing, ', 1),
 ('Swimming / treading water', 1),
 ('Swimming along side N.E.L. vessel Saluda', 1),
 ('Washed overboard by swell', 1),
 ('Dived from inner-tube', 1),
 ('Diving by wharf', 1),
 ('The troopship Britannia was sunk by the German raider Thor', 1),
 ('Crossing the bay at the ford', 1),
 ('Fishing in Alabama Deep Fishing Rodeo', 1),
 ('Jumping in the waves', 1),
 ('The 426-ton cargo ship Mia, laden with cement, capsized in heavy seas ', 1),
 ('Sea disaster, wreck of the sloop Sara', 1),
 ('Floating in creek', 1),
 ('Swimming at edge of channel', 1),
 ('Fishing for tarpon', 1),
 ('Removing shark from net', 1),
 ('Dived naked into the water on a bet', 1),
 ('Fishing for tunny', 1),
 ('Floating on air mattress', 1),
 ('Swimming to canoe', 1),
 ('Ascending from a dive', 1),
 ('Jumped overboard while intoxicated', 1),
 ('Capsized fishing boat', 1),
 ('boat from City of Naples capsized', 1),
 ('Fell overboard ', 1),
 ('Free diving for sponges', 1),
 ('Photographing sharks underwater using Scuba', 1),
 ("Boat capsized between O'ahu & Molokai", 1),
 ("16' catamaran capsized previous night, occupants stayed with wreckage until morning, then attempted to swim ashore",
  1),
 ('Harpooned shark', 1),
 ('Spearfishing, Scuba diving', 1),