In [4]:
import os
import pandas as pd
import re
import numpy as np
os.getcwd()
df = pd.read_csv("../data/attacks.csv", encoding="Latin1")

# Analizamos la información

In [5]:
df.shape

(25723, 24)

In [6]:
df.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN

In [7]:
df.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

# Comprobamos valores nulos

In [8]:
df.isnull().sum()

Case Number               17021
Date                      19421
Year                      19423
Type                      19425
Country                   19471
Area                      19876
Location                  19961
Activity                  19965
Name                      19631
Sex                       19986
Age                       22252
Injury                    19449
Fatal (Y/N)               19960
Time                      22775
Species                   22259
Investigator or Source    19438
pdf                       19421
href formula              19422
href                      19421
Case Number.1             19421
Case Number.2             19421
original order            19414
Unnamed: 22               25722
Unnamed: 23               25721
dtype: int64

La mayoría de columnas tiene unos 19.000 valores nulos aproximadamente, por tanto decidimos eliminar aquellas columnas que tengan más de 20.000 valores nulos

In [10]:
morethan20000nulls = df.isnull().sum()[df.isnull().sum() > 20000].index
morethan20000nulls

Index(['Age', 'Time', 'Species ', 'Unnamed: 22', 'Unnamed: 23'], dtype='object')

In [11]:
#Definimos función para eliminar columnas
def dropcolumns (df, list):
    df_clean = df.drop(columns=list)
    return df_clean

In [12]:
df_clean = dropcolumns (df, morethan20000nulls)
df_clean.shape

(25723, 19)

Ahora veremos si hay filas en las que todos sus datos sean nulos y las eliminaremos

In [13]:
df_clean = df_clean.dropna(how="all")
df_clean.shape

(8703, 19)

# Columnas que no vamos a utilizar

A pesar de que hemos reducido bastante la información, seguimos teniendo columnas que no vamos a necesitar, por lo que las eliminaremos también

In [14]:
df_clean.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Injury', 'Fatal (Y/N)',
       'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order'],
      dtype='object')

In [15]:
unusefull_columns = ['Case Number', 'Name', 'Sex ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order']
df_clean = dropcolumns (df_clean, unusefull_columns)
df_clean.shape

(8703, 9)

Y volvemos a comprobar si hay filas en las que todos los valores sean nulos y las eliminamos

In [17]:
df_clean = df_clean.dropna(how="all")
df_clean.shape

(6302, 9)

# Analizamos columnas

Ahora que ya hemos elimados los valores nulos, y aquellas columnas que no vamos a necesitar podemos comenzar a ver información más detallada de cada una de las columnas

In [19]:
df_clean.columns

Index(['Date', 'Year', 'Type', 'Country', 'Area', 'Location', 'Activity',
       'Injury', 'Fatal (Y/N)'],
      dtype='object')

In [44]:
#Columna "Year"
df_clean["Year"].value_counts().reset_index().sort_values('index', ascending=False)

     index  Year
37    2018    53
1     2017   136
2     2016   130
0     2015   143
5     2014   127
..     ...   ...
248   1543     1
211    500     1
241     77     1
247      5     1
4        0   127

[249 rows x 2 columns]

Podemos ver que en el año 2018 hay muchos menos registros que en años anteriores, es posible que el año no esté completo, lo comprobaremos analizando la columna "Date"

In [22]:
list(df_clean["Date"].value_counts().items())

[('1957', 11),
 ('1942', 9),
 ('1956', 8),
 ('1958', 7),
 ('1950', 7),
 ('1941', 7),
 ('1949', 6),
 ('No date', 6),
 ('1940', 5),
 ('28-Jul-1995', 5),
 ('1959', 5),
 ('05-Oct-2003', 5),
 ('Oct-1960', 5),
 ('1955', 5),
 ('1954', 5),
 ('Aug-1956', 5),
 ('No date, Before 1963', 5),
 ('1970s', 5),
 ('12-Apr-2001', 5),
 ('Reported 10-Oct-1906', 4),
 ('1876', 4),
 ('1904', 4),
 ('20-Sep-2015', 4),
 ('1960s', 4),
 ('09-Jan-2010', 4),
 ('27-Jul-1952', 4),
 ('1898', 4),
 ('1995', 4),
 ('Before 1958', 4),
 ('14-Jun-2012', 4),
 ('1952', 4),
 ('1960', 4),
 ('1961', 4),
 ('1938', 4),
 ('15-Apr-2018', 4),
 ('09-Jul-1994', 4),
 ('27-Dec-2008', 4),
 ('Before 1906', 4),
 ('29-Apr-2017', 4),
 ('1945', 4),
 ('23-Jan-1970', 4),
 ('28-Dec-2014', 4),
 ('08-Aug-1899', 3),
 ('1913', 3),
 ('23-Oct-2017', 3),
 ('31-Oct-2003', 3),
 ('26-Jun-2015', 3),
 ('1971', 3),
 ('17-Aug-2011', 3),
 ('12-Jul-1916', 3),
 ('19-Aug-2007', 3),
 (' 01-Sep-2013', 3),
 ('08-Mar-1992', 3),
 ('11-Jan-1962', 3),
 ('13-Mar-1977', 3),
 ('11-Aug-1997', 3),
 ('1939', 3),
 ('1863', 3),
 ('1940 - 1950', 3),
 ('24-Jun-2015', 3),
 ('1923', 3),
 ('01-Jun-2014', 3),
 ('02-Sep-2012', 3),
 ('1929', 3),
 ('Before 2012', 3),
 ('30-Sep-2007', 3),
 ('26-Jul-1885', 3),
 ('17-Oct-2015', 3),
 ('07-Jan-1974', 3),
 ('09-Jun-2014', 3),
 ('1890', 3),
 ('Before 1911', 3),
 ('09-Feb-1996', 3),
 ('08-Sep-2000', 3),
 ('1946', 3),
 ('1953', 3),
 ('1926', 3),
 ('16-May-1998', 3),
 ('Mar-1953', 3),
 ('22-May-2004', 3),
 ('Apr-1960', 3),
 ('Nov-1960', 3),
 ('1948', 3),
 ('18-Sep-2016', 3),
 ('May-Jun-1965', 3),
 ('16-Aug-1974', 3),
 ('18-Mar-2014', 3),
 ('26-Jun-2008', 3),
 ('25-Jun-2013', 3),
 ('28-Dec-1961', 3),
 ('1968', 3),
 ('14-Jan-1962', 3),
 ('14-Sep-2003', 3),
 ('31-Dec-1999', 3),
 ('20-May-1966', 3),
 ('29-Aug-1982', 3),
 ('11-Jun-1962', 3),
 ('Before 1921', 3),
 ('1930', 3),
 ('1973', 3),
 ('24-Jun-2003', 3),
 ('26-Jun-2012', 3),
 ('27-Aug-2014', 3),
 ('1700s', 3),
 ('1982', 3),
 ('06-Jan-1961', 3),
 ('18-Aug-2001', 3),
 ('31-May-1997', 3),
 ('Before 1962', 3),
 ('20-Jul-2017', 3),
 ('27-Sep-2002', 3),
 ('28-Jul-2013', 3),
 ('28-Jun-2008', 3),
 ('25-Nov-2005', 3),
 ('24-Jan-2009', 3),
 ('1941-1945', 3),
 ('28-Mar-2008', 3),
 ('02-Sep-2017', 3),
 ('19-Aug-2001', 3),
 ('30-Aug-2008', 3),
 ('1883', 3),
 ('01-Apr-1934', 3),
 ('18-May-2010', 3),
 ('20-Apr-2003', 3),
 ('11-Apr-2001', 3),
 ('1943', 3),
 ('15-Feb-2003', 2),
 ('02-Aug-1997', 2),
 ('17-Apr-2017', 2),
 ('30-Oct-2004', 2),
 ('02-Sep-2005', 2),
 ('30-Sep-2001', 2),
 ('03-Sep-1981', 2),
 ('29-Aug-2015', 2),
 ('Sep-1970', 2),
 ('11-Dec-2016', 2),
 ('27-Mar-2004', 2),
 ('06-Nov-2000', 2),
 ('30-Jun-2007', 2),
 ('2014', 2),
 ('Reported 15-Jun-1894', 2),
 ('27-Jun-2015', 2),
 ('Dec-1996', 2),
 ('1975', 2),
 ('17-Sep-2016', 2),
 ('02-Jun-2009', 2),
 ('16-Nov-2009', 2),
 ('03-Jan-1961', 2),
 ('01-Feb-2006', 2),
 ('Before 1956', 2),
 ('26-Sep-1959', 2),
 ('Jul-1958', 2),
 ('29-Jul-2017', 2),
 ('Nov-1918', 2),
 ('16-Jul-2000', 2),
 ('03-Apr-1960', 2),
 ('02-Sep-2006', 2),
 ('03-Sep-2006', 2),
 ('10-Sep-2000', 2),
 ('21-May-2011', 2),
 ('16-Sep-2000', 2),
 ('08-Jul-1994', 2),
 ('Sep-1956', 2),
 ('30-Aug-1955', 2),
 ('02-Sep-1974', 2),
 ('25-Nov-1995', 2),
 ('08-Jun-1849', 2),
 ('Jul-2003', 2),
 ('26-Jun-2004', 2),
 ('Jul-1961', 2),
 ('No date, Before 1902', 2),
 ('13-Jun-1970', 2),
 ('25-Jan-2007', 2),
 ('Nov-1942', 2),
 ('03-Sep-2007', 2),
 ('29-Jul-2006', 2),
 ('1978', 2),
 ('02-May-1880', 2),
 ('30-Oct-1999', 2),
 ('01-Apr-1972', 2),
 ('05-Feb-1964', 2),
 ('02-Oct-2010', 2),
 ('01-Dec-2010', 2),
 ('28-Aug-2007', 2),
 ('21-Dec-2015', 2),
 ('18-Jan-2012', 2),
 ('24-Jan-2016', 2),
 ('08-Nov-1947', 2),
 ('09-Apr-1995', 2),
 ('1999', 2),
 ('13-Nov-1942', 2),
 ('19-Nov-1975', 2),
 ('17-Jul-2005', 2),
 ('16-Mar-2013', 2),
 ('28-Jul-2016', 2),
 ('23-Jul-1959', 2),
 ('24-Jul-1984', 2),
 ('Ca. 1960', 2),
 ('27-Nov-1941', 2),
 ('27-Oct-1937', 2),
 ('07-May-2008', 2),
 ('13-Apr-2004', 2),
 ('27-May-2013', 2),
 ('04-Jul-1958', 2),
 ('5-Jul-2014', 2),
 ('24-Sep-1961', 2),
 ('01-Mar-2009', 2),
 ('23-Jun-1975', 2),
 ('24-Aug-1981', 2),
 ('11-Sep-2011', 2),
 ('15-Jun-1983', 2),
 ('30-Nov-1967', 2),
 ('09-Dec-1994', 2),
 ('Mid-Aug-1886', 2),
 ('20-Aug-2006', 2),
 ('07-Sep-1967', 2),
 ('17-Jul-2007', 2),
 (' 21-Sep-2013', 2),
 ('Reported 28-Apr-1894', 2),
 ('26-Dec-1963', 2),
 ('22-Aug-2006', 2),
 ('1996', 2),
 ('07-Jan-1962', 2),
 ('15-Aug-1959', 2),
 ('18-Jun-2017', 2),
 ('17-Jun-1995', 2),
 ('06-Jun-2011', 2),
 ('13-Jul-1940', 2),
 ('09-Jun-2000', 2),
 ('14-Jun-2015', 2),
 ('1882', 2),
 ('13-Sep-2003', 2),
 ('Oct-1961', 2),
 ('06-Feb-2017', 2),
 ('30-Sep-1982', 2),
 ('27-Feb-1960', 2),
 ('01-Nov-2015', 2),
 ('05-Oct-2002', 2),
 ('15-Jul-2016', 2),
 ('30-Sep-1995', 2),
 ('Before  1958', 2),
 ('Dec-1949', 2),
 ('03-Sep-1995', 2),
 ('Reported 13-Jun-2002', 2),
 ('22-Aug-2015', 2),
 ('5-Apr-1971', 2),
 ('Jul-1943', 2),
 ('02-Jul-2004', 2),
 ('16-Jul-2010', 2),
 ('Jun-1965', 2),
 ('02-Apr-1983', 2),
 ('11-Nov-2004', 2),
 ('29-May-2015', 2),
 ('23-Apr-2003', 2),
 ('Before 1934', 2),
 ('21-May-2016', 2),
 ('31-Jul-2006', 2),
 ('15-Jun-2016', 2),
 ('09-Nov-2008', 2),
 ('02-Jul-2000', 2),
 ('25-Apr-2018', 2),
 ('13-Aug-1983', 2),
 ('25-Jul-2008', 2),
 ('28-Mar-2016', 2),
 ('14-Apr-1988', 2),
 ('25-Dec-1997', 2),
 ('16-Aug-2011', 2),
 ('07-Feb-2014', 2),
 ('02-Sep-1878', 2),
 ('01-Jun-2008', 2),
 ('03-Jun-1984', 2),
 ('21-Jun-1978', 2),
 ('24-Jul-1982', 2),
 ('02-Oct-2014', 2),
 ('Mar-1955', 2),
 ('1989', 2),
 ('07-Jul-2016', 2),
 ('04-Mar-1929', 2),
 ('21-Oct-1972', 2),
 ('1984', 2),
 ('06-Nov-2003', 2),
 ('14-Mar-2012', 2),
 ('16-May-1966', 2),
 ('16-Sep-2017', 2),
 ('31-Jan-1994', 2),
 ('04-Sep-2011', 2),
 ('28-Aug-1949', 2),
 ('04-Jul-2000', 2),
 ('09-Oct-2004', 2),
 ('10-Apr-2017', 2),
 ('09-Aug-2007', 2),
 ('07-Apr-1957', 2),
 ('15-Aug-1956', 2),
 ('1985', 2),
 ('27-Jun-1960', 2),
 ('23-Jul-2015', 2),
 ('03-Sep-2001', 2),
 ('12-Feb-2006', 2),
 ('28-Jun-1992', 2),
 ('25-Mar-1962', 2),
 ('16-Sep-2002', 2),
 ('11-Jan-2009', 2),
 ('13-May-2011', 2),
 ('1954 (same day as  1954.00.00.f)', 2),
 ('1950s', 2),
 ('03-Jan-2004', 2),
 ('Circa 1862', 2),
 ('26-Jun-1982', 2),
 ('26-Apr-2008', 2),
 ('13-Jul-2011', 2),
 ('04-Sep-1999', 2),
 ('06-Feb-2010', 2),
 ('Aug-1955', 2),
 ('09-Sep-1989', 2),
 ('22-Jan-1954', 2),
 ('02-Jun-2012', 2),
 (' 07-Sep-2013', 2),
 ('16-Sep-2007', 2),
 ('27-Sep-2007', 2),
 ('29-Aug-2016', 2),
 ('21-Jan-2004', 2),
 ('30-Aug-1932', 2),
 ('14-Oct-1972', 2),
 ('05-Oct-2015', 2),
 ('09-Jun-2002', 2),
 ('16-Apr-1961', 2),
 ('Ca. 1880', 2),
 ('15-Jul-2001', 2),
 ('1931', 2),
 ('25-Jul-1985', 2),
 ('12-Sep-1976', 2),
 ('06-Sep-2008', 2),
 ('14-Aug-1997', 2),
 ('07-Jul-2012', 2),
 ('21-Sep-1931', 2),
 ('Aug-1967', 2),
 ('26-Aug-1995', 2),
 ('26-Feb-1939', 2),
 (' 25-Aug-2013', 2),
 ('08-Sep-1985', 2),
 ('30-Sep-1984', 2),
 ('11-Jun-1993', 2),
 ('18-Aug-2015', 2),
 ('24-Jul-2008', 2),
 ('30-Jul-2012', 2),
 ('02-Oct-1954', 2),
 ('08-Jul-1992', 2),
 ('05-Jun-2016', 2),
 ('16-Apr-1991', 2),
 ('27-Jul-2004', 2),
 ('01-Aug-1998', 2),
 ('31-Mar-2007', 2),
 ('13-Dec-2003', 2),
 ('12-Apr-2017', 2),
 ('19-Aug-1990', 2),
 ('28-Sep-2011', 2),
 ('Reported 24-Jan-1920', 2),
 ('26-Oct-2013', 2),
 ('15-Aug-1993', 2),
 ('28-Mar-1964', 2),
 ('Before 1871', 2),
 ('1864', 2),
 ('20-Dec-2009', 2),
 ('28-Aug-2011', 2),
 ('10-Sep-2017', 2),
 ('10-Jun-2017', 2),
 ('30-Jul-1975', 2),
 ('11-Jul-2009', 2),
 ('09-Apr-1950', 2),
 ('1937', 2),
 ('Before 2011', 2),
 ('18-Dec-1961', 2),
 ('Nov-1999', 2),
 ('15-Nov-2015', 2),
 ('16-Apr-2005', 2),
 ('19-Dec-1959', 2),
 ('04-Aug-1960', 2),
 ('21-Feb-2013', 2),
 ('Apr-1970', 2),
 ('03-Nov-1965', 2),
 ('14-Feb-1982', 2),
 ('21-Apr-2003', 2),
 ('13-Dec-1981', 2),
 ('24-Jul-2009', 2),
 ('04-Nov-2012', 2),
 ('Reported 12-Oct-1899', 2),
 ('31-May-1994', 2),
 ('07-Nov-2013', 2),
 ('22-Aug-1995', 2),
 ('9-Mar-2018', 2),
 ('29-May-2016', 2),
 ('23-Mar-1994', 2),
 ('05-Aug-1999', 2),
 ('07-Dec-2011', 2),
 ('28-Apr-2008', 2),
 ('23-May-2013', 2),
 ('06-Dec-2006', 2),
 ('26-Jul-2015', 2),
 ('30-Nov-2017', 2),
 ('13-Feb-1974', 2),
 ('09-Apr-1959', 2),
 ('12-Sep-1942', 2),
 ('02-Nov-2005', 2),
 ('16-May-2009', 2),
 ('07-Jun-1991', 2),
 ('23-Oct-1926', 2),
 ('07-May-2007', 2),
 ('19-Jan-2015', 2),
 ('18-Jul-2007', 2),
 ('30-Nov-2010', 2),
 ('23-Jul-1996', 2),
 ('27-Jan-1923', 2),
 ('16-Jun-1988', 2),
 ('22-Aug-1989', 2),
 ('28-Sep-2008', 2),
 ('29-Aug-2014', 2),
 ('28-Nov-2002', 2),
 ('27-Dec-1966', 2),
 ('19-Mar-2009', 2),
 ('27-Nov-1921', 2),
 ('July 2006', 2),
 ('May 1965', 2),
 ('05-Oct-2014', 2),
 ('14-Feb-1964', 2),
 ('05-Sep-2016', 2),
 ('13-May-2018', 2),
 ('Fall 1943', 2),
 ('24-Aug-2011 ', 2),
 ('04-Apr-1965', 2),
 ('25-Oct-1944', 2),
 ('25-Jan-1998', 2),
 ('10-Feb-1946', 2),
 ('17-Aug-1951', 2),
 ('12-Jul-1987', 2),
 ('02-Aug-2010', 2),
 ('31-Dec-1934', 2),
 ('07-Sep-2001', 2),
 ('01-Feb-2017', 2),
 ('18-Mar-1999', 2),
 ('Reported 26-Jun-1972', 2),
 ('02-Apr-1978', 2),
 ('Apr-1953', 2),
 ('07-Feb-1982', 2),
 ('Reported 06-Jul-1915', 2),
 ('14-Nov-1947', 2),
 ('25-Apr-1996', 2),
 ('24-Aug-2008', 2),
 ('22-Sep-1984', 2),
 ('  29-Jul-2013', 2),
 ('03-Sep-2017', 2),
 ('20-Jan-1989', 2),
 ('13-Apr-2001', 2),
 ('24-Oct-1937', 2),
 ('30-Jun-2015', 2),
 ('10-Jun-1962', 2),
 ('22-Dec-1963', 2),
 ('16-Sep-1993', 2),
 ('27-Jul-1935', 2),
 ('Nov-1925', 2),
 ('13-Apr-2013', 2),
 ('24-Sep-2017', 2),
 ('18-Jun-2014', 2),
 ('26-Mar-1944', 2),
 ('1998', 2),
 ('1897', 2),
 ('28-Feb-1997', 2),
 ('05-Jul-2003', 2),
 ('07-Jul-2011', 2),
 ('01-Jan-1971', 2),
 ('01-Jul-1991', 2),
 ('26-Jan-1989', 2),
 ('26-Jul-2008', 2),
 ('01-Jan-1964', 2),
 ('Jun-1935', 2),
 ('07-Aug-2010', 2),
 ('21-Jun-2016', 2),
 ('26-Nov-1991', 2),
 ('Summer 1950', 2),
 ('13-Jul-1916', 2),
 ('Reported 19-Sep-1898', 2),
 ('16-Jul-2016', 2),
 ('13-Sep-1988', 2),
 ('24-May-2008', 2),
 ('10-May-1990', 2),
 ('02-Aug-1969', 2),
 ('22-Sep-2007', 2),
 ('26-Dec-1966', 2),
 ('24-Aug-2005', 2),
 ('07-May-2000', 2),
 ('02-Aug-2014', 2),
 ('18-Apr-2016', 2),
 ('10-Jul-2002', 2),
 ('28-Dec-1997', 2),
 ('World War II', 2),
 ('21-Oct-1984', 2),
 ('03-Oct-2014', 2),
 ('21-Mar-2011', 2),
 ('29-Jan-1992', 2),
 ('10-Aug-1981', 2),
 ('02-Sep-1996', 2),
 ('28-Oct-1996', 2),
 ('14-Mar-1999', 2),
 ('1907', 2),
 ('1896', 2),
 ('14-Jul-2017', 2),
 ('19-Dec-1977', 2),
 ('Jul-1964', 2),
 ('16-Oct-1965', 2),
 ('10-Dec-1964', 2),
 ('Reported 27-Aug-1913', 2),
 ('08-Sep-2012', 2),
 ('1910', 2),
 ('29-Sep-2013', 2),
 ('23-Jul-2017', 2),
 ('22-Mar-2014', 2),
 ('May 1979', 2),
 ('30-Nov-2003', 2),
 ('Before 1957', 2),
 ('Before 1903', 2),
 ('23-Sep-1955', 2),
 ('15-Sep-2001', 2),
 ('Jun-1827', 2),
 ('1920', 2),
 ('06-Sep-1996', 2),
 ('15-Apr-1988', 2),
 ('1983', 2),
 ('31-May-2002', 2),
 ('25-Jun-2010', 2),
 ('06-Apr-2009', 2),
 ('1993', 2),
 ('Before 1905', 2),
 ('06-Dec-1986', 2),
 ('27-Dec-1960', 2),
 ('06-Jun-2013', 2),
 ('19-Jun-2011', 2),
 ('02-Nov-1998', 2),
 ('07-Feb-2009', 2),
 ('Apr-1860', 2),
 ('21-Sep-2002', 2),
 ('Reported 15-Jun-1874', 2),
 ('  29-Oct-2011', 2),
 ('16-Apr-1932', 2),
 ('24-Jan-1946', 2),
 ('25-Jul-1983', 2),
 ('27-Jul-1958', 2),
 ('12-Mar-1976', 2),
 ('09-Aug-2014', 2),
 ('10-Jun-2004', 2),
 ('22-Aug-1988', 2),
 ('18-Jul-1946', 2),
 ('10-Mar-2013', 2),
 ('1842', 2),
 ('20-Dec-1963', 2),
 ('19-Apr-2012', 2),
 ('Oct-1958', 2),
 ('1987', 2),
 ('08-Apr-1979', 2),
 ('29-Dec-2014', 2),
 ('06-Sep-2012', 2),
 ('20-Apr-2008', 2),
 ('30-Mar-1987', 2),
 ('1972', 2),
 ('18-Dec-2009', 2),
 ('Feb-1928', 2),
 ('14-May-2014', 2),
 ('Oct-2006', 2),
 ('31-Aug-2013', 2),
 ('23-Jul-2016', 2),
 ('26-May-2018', 2),
 ('01-Jan-2002', 2),
 ('30-Aug-1962', 2),
 ('15-Jul-2000', 2),
 ('Ca. 1950', 2),
 ('20-Jun-2002', 2),
 ('08-May-2013', 2),
 ('21-Dec-2011', 2),
 ('02-Apr-2017', 2),
 ('17-Jul-1966', 2),
 ('23-Aug-1966', 2),
 ('21-Nov-1965', 2),
 ('02-May-2005', 2),
 ('27-Aug-1966', 2),
 ('02-Jul-2010', 2),
 ('10-Aug-1995', 2),
 ('25-Sep-2017', 2),
 ('22-May-2002', 2),
 ('06-Jul-1998', 2),
 ('02-Jun-2016', 2),
 ('04-Jul-2015', 2),
 ('1980s ', 2),
 ('06-Oct-2000', 2),
 ('01-Oct-1998', 2),
 ('Sep-1986', 2),
 ('23-May-2004', 2),
 ('06-Jul-2001', 2),
 ('19-Oct-1981', 2),
 ('13-Jan-2017', 2),
 ('26-Oct-1944', 2),
 ('24-Sep-2011', 2),
 ('14-Aug-1959', 2),
 ('31-Aug-1995', 2),
 ('07-Apr-2016', 2),
 ('17-Jan-1959', 2),
 ('28-Oct-1997', 2),
 ('15-Sep-2017', 2),
 ('31-Mar-2004', 2),
 ('1944', 2),
 ('06-Apr-2005', 2),
 ('14-Jun-1959', 2),
 ('1927', 2),
 ('30-Jan-2002', 2),
 ('30-Oct-1990', 2),
 ('15-Mar-2002', 2),
 ('09-Apr-2006', 2),
 ('Reported 27-Sep-1906', 2),
 ('31-Jul-2012', 2),
 ('Jan-1985', 2),
 ('03-Jun-2018', 2),
 ('28-Nov-1951', 2),
 ('29-May-1998', 2),
 ('22-Jul-2009', 2),
 ('19-Sep-1948', 2),
 ('01-Sep-1996', 2),
 ('18-Oct-2012', 2),
 ('06-Mar-2009', 2),
 ('25-Jul-1959', 2),
 ('26-Aug-2017', 2),
 ('25-Mar-2002', 2),
 ('23-Oct-2010', 2),
 ('01-Jun-1963', 2),
 ('Reported 15-Mar-1897', 2),
 ('04-Jul-1988', 2),
 ('17-Feb-1961', 2),
 ('24-Jan-1935', 2),
 ('28-Aug-1933', 2),
 ('03-Oct-1996', 2),
 ('04-Apr-2014', 2),
 ('20-Aug-1983', 2),
 ('22-Jan-2010', 2),
 ('1965', 2),
 ('17-Jul-2010', 2),
 ('12-Aug-1954', 2),
 ('Feb-1964', 2),
 ('Reported 16-Oct-1907', 2),
 ('10-Aug-2010', 2),
 ('08-Jul-2006', 2),
 ('14-Dec-1948', 2),
 ('06-Mar-2012', 2),
 ('17-May-1943', 2),
 ('29-Aug-2006', 2),
 ('28-Apr-2018', 2),
 ('Aug-1993', 2),
 ('03-Sep-2010', 2),
 ('08-Dec-1916', 2),
 ('01-Feb-1961', 2),
 ('08-Apr-2001', 2),
 ('Reported 12-Aug-1907', 2),
 ('09-Oct-2015', 2),
 ('12-Nov-1882', 2),
 ('22-Jun-2012', 2),
 ('04-Jul-1996', 2),
 ('02-Jul-1974', 1),
 ('18-Aug-1931', 1),
 ('15-Aug-1987', 1),
 ('10-Jul-1996', 1),
 ('31-Jul-1900', 1),
 ('21-Oct-1850', 1),
 ('14-Jul-1966', 1),
 ('05-Jun-1993', 1),
 ('15-Jan-1922', 1),
 ('02-Jan-1928', 1),
 ('Beforer 1994', 1),
 ('Ca. mid-1870s', 1),
 ('31-Jul-2004', 1),
 ('17-Oct-1923', 1),
 ('05-May-1981', 1),
 ('15-May-1994', 1),
 ('14-May-1914', 1),
 ('Reported 27-Jan-1864', 1),
 ('Mar-1974', 1),
 ('Ca. 1939', 1),
 ('24-Nov-1980', 1),
 ('Reported 15-Dec-1956', 1),
 ('21-Dec-1983', 1),
 ('Reported      10-Dec-1994 ', 1),
 ('07-Oct-1954', 1),
 ('01-Jan-1972', 1),
 ('17-Jun-1962', 1),
 ('02-Jun-1964', 1),
 ('Reported May-28-1797', 1),
 ('15-Jun-1984', 1),
 ('Reported 20-Aug-1846', 1),
 ('Reported 06-Sep-1961', 1),
 ('Reported 25-Mar-1935', 1),
 ('26-Jun-1936', 1),
 ('1890 ', 1),
 ('06-Jul-1995', 1),
 ('09-Aug-1991', 1),
 ('26-Jun-1958', 1),
 ('23-Sep-1945', 1),
 ('Between   1951-1963', 1),
 ('19-Nov-2014', 1),
 ('May-2007', 1),
 ('04-Feb-1996', 1),
 ('14-Nov-1991', 1),
 ('Summer of 1959', 1),
 ('08-Aug-2003', 1),
 ('30-Jun-1995', 1),
 ('20-Nov-1946', 1),
 ('04-Jul-2010', 1),
 ('22-Nov-2011', 1),
 ('22-Dec-1986', 1),
 ('15-Jan-2012', 1),
 ('25-Apr-2005', 1),
 ('30-Dec-1957', 1),
 ('06-Nov-1999', 1),
 ('05-Sep-1971', 1),
 ('03-Mar-2001', 1),
 ('08-May-1964', 1),
 ('19-Aug-2015', 1),
 ('01-Nov-1990', 1),
 ('14-May-2003', 1),
 ('10-Apr-1960', 1),
 ('07-Mar-1994', 1),
 ('06-Sep-2014', 1),
 ('20-Oct-1990', 1),
 ('23-Apr-2016', 1),
 ('25-Feb-2012', 1),
 ('16-Feb-1959', 1),
 ('1914', 1),
 ('15-Jun-2011', 1),
 ('25-Jan-2016', 1),
 ('27-Aug-2001', 1),
 ('07-Jul-1936', 1),
 ('Late 1960s', 1),
 ('14-Mar-1961', 1),
 ('22-May-1969', 1),
 ('03-Oct-1986', 1),
 ('17-Jun-2015', 1),
 ('21-Jan-1951', 1),
 ('23-Feb-2002', 1),
 ('01-Dec-2016', 1),
 ('15-Jan-1919', 1),
 ('15-Dec-2007', 1),
 ('07-Mar-2008', 1),
 ('14-Jul-1997', 1),
 ('8-Sep-1966', 1),
 ('25-Apr-1961', 1),
 ('08-Jun-1908', 1),
 ('31-Oct-1964', 1),
 ('19-Jan-1991', 1),
 ('Reported 25-Aug-2014', 1),
 ('30-Mar-1935', 1),
 ('05-Jun-1989', 1),
 ('18-Nov-1989', 1),
 ('09-Mar-1947', 1),
 ('08-May-1955', 1),
 ('22-Jul-2005', 1),
 ('17-Mar-1984', 1),
 ('Reported 08-Feb-1934', 1),
 ('23-Oct-1934', 1),
 ('02-Sep-1959', 1),
 ('07-Apr-2004', 1),
 ('Reported 11-Sep-1936', 1),
 ('22-Aug-1994', 1),
 ('Sep-1921', 1),
 ('01-Jan-2015', 1),
 ('14-May-1969', 1),
 ('16-Apr-2011', 1),
 ('09-Apr-1885', 1),
 ('11-Sep-2006', 1),
 ('Reported 19-Jul-1951', 1),
 ('22-Nov-2013', 1),
 ('23-Dec-1935', 1),
 ('02-Jul-1932', 1),
 ('05-Jul-1972', 1),
 ('03-Feb-2010', 1),
 ('Reported 29-Nov-1889', 1),
 ('30-May-1964', 1),
 ('1844', 1),
 ('Reported 10-Feb-1956', 1),
 ('02-Jan-1864', 1),
 ('06-Dec-1964', 1),
 ('18-Dec-1973', 1),
 ('Reported 29-Oct-1989', 1),
 ('29-Nov-1951', 1),
 ('25-Nov-1941', 1),
 ('09-Jul-2017', 1),
 ('12-Oct-1975', 1),
 ('24-Dec-2000', 1),
 ('10-Mar-1968', 1),
 ('26-Dec-2004', 1),
 ('09-Oct-1996', 1),
 ('16-Aug-1966', 1),
 ('Reported 06-Aug-2002', 1),
 ('1850', 1),
 ('29-Aug-1938', 1),
 ('Aug-2014', 1),
 ('14-Feb-2000', 1),
 ('24-Jul-2016', 1),
 ('Apr-1954', 1),
 ('02-Feb-1959 Reported', 1),
 ('30-Jun-2000', 1),
 ('27-May-1943', 1),
 ('Reported 07-Sep-1876', 1),
 ('24-Jan-1983', 1),
 ('Reported 15-Aug-1956', 1),
 ('26-Jul-1916', 1),
 ('18-Jul-2009', 1),
 ('Mar-2000', 1),
 ('Circa 1855', 1),
 ('03-Feb-1912', 1),
 ('Reported 26-Jun-2008', 1),
 ('Reported 20-Mar-1903', 1),
 ('1994', 1),
 ('01-Mar-1979', 1),
 ('30-Aug-2000', 1),
 ('Sep-1998', 1),
 ('29-Oct-2007', 1),
 ('30-Aug-1990', 1),
 ('31-May-1995', 1),
 ('14-Aug-2005', 1),
 ('26-Aug-1976', 1),
 ('Jan-2009', 1),
 ('30-Jun-2003', 1),
 ('05-Dec-1909', 1),
 ('Reported 28-Jan-1922', 1),
 ('09-Nov-1959', 1),
 ('19-Jun-1999', 1),
 ('09-Nov-1997', 1),
 ('19-Sep-1984', 1),
 ('06-Oct-1988', 1),
 ('Reported 18-Dec-1973', 1),
 ('Reported 26-Feb-1804', 1),
 ('12-Nov-2003', 1),
 ('December 2012', 1),
 ('08-Aug-2014', 1),
 ('07-Aug-2002', 1),
 ('02-Dec-1923', 1),
 ('Reported 10-Mar-2010', 1),
 ('22-Jul-1990', 1),
 ('11-Dec-2006', 1),
 ('19-Apr-1983', 1),
 ('14-Aug-1966', 1),
 ('23-Aug-1931', 1),
 ('15-Sep-2016', 1),
 ('16-Sep-2012', 1),
 ('20-Aug-1906', 1),
 ('26-Apr-1886', 1),
 ('14-Jul-1989', 1),
 ('03-Jul-1995', 1),
 ('No date, Before Mar-1995', 1),
 ('15-Jun-2013', 1),
 ('28-Apr-1957', 1),
 ('1887', 1),
 ('04-Dec-1862', 1),
 ('17-Jan-2015', 1),
 ('13-May-1908', 1),
 ('17-Dec-1967', 1),
 ('Aug-1904', 1),
 ('27-Sep-2010', 1),
 ('29-Aug-1972', 1),
 ('03-Dec-1984', 1),
 ('20-Jun-2006', 1),
 ('26-Mar-2016', 1),
 ('27-Jul-2016', 1),
 ('22-Apr-2014', 1),
 ('15-Aug-2011', 1),
 ('25-Jan-1961', 1),
 ('13-May-1990', 1),
 ('12-Dec-1923', 1),
 ('Early Jul-1995', 1),
 ('14-Mar-1965', 1),
 ('31-Jul-1982', 1),
 ('31-Mar-2018', 1),
 ('27-Nov-1936', 1),
 ('May-1959', 1),
 ('08-Aug-1780', 1),
 (' 08-Jul-1958', 1),
 (' 04-Sep-2010', 1),
 ('Reported 25-Jun-2015', 1),
 ('17-Mar-1993', 1),
 ('21-Jul-1987', 1),
 ('Aug-1992', 1),
 (' 19-Feb-2016', 1),
 ('21-Aug-1900', 1),
 ('27-Feb-1954', 1),
 ('19-Jul-2013', 1),
 ('01-Aug-2017', 1),
 ('10-Aug-1932', 1),
 ('24-Jun-2008', 1),
 ('18-Jan-2009', 1),
 ('Reported 27-Jun-2014', 1),
 ('13-Feb-1994', 1),
 ('14-Nov-1992', 1),
 ('18-Sep-1953', 1),
 ('15-Aug-1967', 1),
 ('Reported 26-Dec-2011', 1),
 ('02-Dec-2013', 1),
 ('06-Aug-1930', 1),
 ('09-Jul-1950', 1),
 ('22-Apr-1957', 1),
 ('12-Aug-1881', 1),
 ('13-Aug-1909', 1),
 ('25-Nov-1992', 1),
 ('14-Jan-1884', 1),
 ('06-May-2014', 1),
 ('Reported 13-May 1871', 1),
 (' 02-Sep-2013', 1),
 ('05-Jun-2015', 1),
 ('21-Dec-1907', 1),
 ('Feb-1962', 1),
 ('13-Jun-1967', 1),
 ('06-Jun-1996', 1),
 ('Reported 20-Jan-1875', 1),
 ('13-Jun-1987', 1),
 ('24-Jul-2012', 1),
 ('21-Apr-1961', 1),
 ('27-Feb-2003', 1),
 ('03-May-2016', 1),
 ('05 May 1979', 1),
 ('21-Mar-2009', 1),
 ('12-Aug-2000', 1),
 ('10-Oct-1965', 1),
 ('18-Oct-1985', 1),
 ('01-Jun-1976', 1),
 ('21-May-1983', 1),
 ('Before 2003', 1),
 ('18-Mar-1912', 1),
 ('05-Feb-1907', 1),
 ('09-Aug-1997', 1),
 ('28-Nov-1963', 1),
 ('10-Jun-1829', 1),
 ('    10-Jan-2009', 1),
 ('Reported 1638', 1),
 ('10-Aug-2015', 1),
 ('Reported 14-Jun-2009', 1),
 ('07-Apr-1968', 1),
 ('21-Sep-2003', 1),
 ('29-Apr-1895', 1),
 ('1886', 1),
 ('30-Aug-1998', 1),
 ('Reported 10-Sep-1973', 1),
 ('23-Sep-1911', 1),
 ('09-Mar-1976', 1),
 ('Some time between Apr & Nov-1944', 1),
 ('Aug-1886', 1),
 ('27-Feb-1973', 1),
 ('21-Mar-2014', 1),
 ('30-Jun-1993', 1),
 ('08-Apr-2008', 1),
 ('05-Sep-2002', 1),
 ('04-Feb-2001', 1),
 ('07-Apr-1926', 1),
 ('Before Oct-2009', 1),
 ('24-Dec-1879', 1),
 (' 07-Apr-1877', 1),
 ('Reported 10-Jul-1963', 1),
 ('27-Aug-2016', 1),

Observamos que en algunas celdas la información es incompleta, ya que muestra solo el año, o que incluye la palabra "Reported", eliminaremos información no necesaria y nos quedaremos solo con las celdas que contienen la fecha completa haciendo uso de Regex

In [23]:
#Usamos Regex en la columna "Date" para quedarnos con las celdas que cumplan el formato dd/mm/yyyy
def datecolumn(columnseries):
    reg = re.findall(r'[0-9]+\-[a-zA-Z]*\-[0-9]{4}', str(columnseries))
    if reg:
        return reg[0]
    else:
        return None
df_clean["Date"].apply(datecolumn)

0       25-Jun-2018
1       18-Jun-2018
2       09-Jun-2018
3       08-Jun-2018
4       04-Jun-2018
           ...
6297           None
6298           None
6299           None
6300           None
6301           None
Name: Date, Length: 6302, dtype: object

In [24]:
#Creamos un nueva columna llamada "Date_ok"
df_clean["Date_ok"] = df_clean["Date"].apply(datecolumn)

In [25]:
#Columna "Type"
list(df_clean["Type"].value_counts().items())

[('Unprovoked', 4595),
 ('Provoked', 574),
 ('Invalid', 547),
 ('Sea Disaster', 239),
 ('Boating', 203),
 ('Boat', 137),
 ('Questionable', 2),
 ('Boatomg', 1)]

Parece que los valores "Boating", "Boat" y "Boatomg" hacen referencia a lo mismo, por lo que podemos agruparlos con el mismo nombre

In [26]:
#Comprobamos si existen valores nulos
df_clean["Type"].isnull().sum()

4

In [27]:
df_clean[df_clean.Type.isnull()][["Year","Country","Type"]]

        Year    Country Type
85    2017.0      SAMOA  NaN
382   2015.0  AUSTRALIA  NaN
4867  1936.0    VIETNAM  NaN
5705  1890.0     CEYLON  NaN

In [28]:
#Rellenamos los 4 valores nulos como "Sin registros"
df_clean.loc[df_clean.Type.isnull(), "Type"] = ["Sin registros","Sin registros","Sin registros","Sin registros"]

In [29]:
#Agrupamos "Boating", "Boat" y "Boatomg" bajo "Boating"
df_clean.loc[df_clean["Type"].str.startswith("B"),"Type"] = "Boating"

In [30]:
df_clean["Type"].value_counts()

Unprovoked       4595
Provoked          574
Invalid           547
Boating           341
Sea Disaster      239
Sin registros       4
Questionable        2
Name: Type, dtype: int64

In [31]:
#Columna "Activity"
list(df_clean["Activity"].value_counts().items())

[('Surfing', 971),
 ('Swimming', 869),
 ('Fishing', 431),
 ('Spearfishing', 333),
 ('Bathing', 162),
 ('Wading', 149),
 ('Diving', 127),
 ('Standing', 99),
 ('Snorkeling', 89),
 ('Scuba diving', 76),
 ('Body boarding', 61),
 ('Body surfing', 49),
 ('Swimming ', 47),
 ('Kayaking', 33),
 ('Fell overboard', 32),
 ('Pearl diving', 32),
 ('Treading water', 32),
 ('Boogie boarding', 29),
 ('Free diving', 29),
 ('Windsurfing', 19),
 ('Walking', 17),
 ('Boogie Boarding', 16),
 ('Shark fishing', 15),
 ('Floating', 14),
 ('Canoeing', 13),
 ('Fishing ', 13),
 ('Rowing', 12),
 ('Surf fishing', 12),
 ('Surf skiing', 12),
 ('Surf-skiing', 12),
 ('Fishing for sharks', 11),
 ('Kayak Fishing', 11),
 ('Scuba Diving', 10),
 ('Freediving', 10),
 ('Sponge diving', 10),
 ('Sitting on surfboard', 9),
 ('Diving for trochus', 9),
 ('Sailing', 9),
 ('Fell into the water', 9),
 ('Sea disaster', 8),
 ('Paddle boarding', 8),
 ('Boating', 7),
 ('Playing', 7),
 ('Free diving for abalone', 7),
 ('Spearfishing ', 7),
 ('Surfing (sitting on his board)', 7),
 ('Diving for abalone', 7),
 ('Surf skiing ', 7),
 ('Skindiving', 7),
 ('Floating on his back', 7),
 ('Fishing for mackerel', 6),
 ('Shipwreck', 6),
 ('Murder', 6),
 ('Spearfishing on Scuba', 6),
 ('Kite Surfing', 6),
 ('Sea Disaster', 6),
 ('Stand-Up Paddleboarding', 6),
 ('Paddleskiing', 5),
 ('Dangling feet in the water', 5),
 ('Surfing ', 5),
 ('Freedom swimming', 5),
 ('Kite surfing', 5),
 ('Fishing on a boat', 5),
 ('Kayaking / Fishing', 5),
 ('Hard hat diving', 5),
 ('Boat', 5),
 ('Scuba diving (but on surface)', 4),
 ('Splashing', 4),
 ('Fishing boat', 4),
 ('Spearfishing / free diving', 4),
 ('Body-boarding', 4),
 ('Skin diving', 4),
 ('Tagging sharks', 4),
 ('Diving for coins', 4),
 ('Wade Fishing', 4),
 ('Scuba diving (submerged)', 4),
 ('Freedom Swimming', 4),
 ('Jumped into the water', 4),
 ('Boat swamped', 4),
 ('Lifesaving drill', 4),
 ('Jumping', 4),
 ('Paddling on surfboard', 4),
 ('Seine netting', 4),
 ('Feeding sharks', 4),
 ('Clamming', 4),
 ('Floating on a raft', 3),
 ('Diving ', 3),
 ('Competing in the Woodvale Atlantic Rowing Race', 3),
 ('Shark watching', 3),
 ('Escaping from Alacatraz', 3),
 ('Scuba diving for abalone', 3),
 ('Unknown', 3),
 ('Shell diving', 3),
 ('SUP', 3),
 ('SCUBA diving', 3),
 ('Fishing for snapper', 3),
 ('Their 9 m launch was run down by a 25,000-ton Japanese freighter  on the night of 3-11-1977 & they drifted, clinging to an icebox for 2 days',
  3),
 ('Suicide', 3),
 ('Wade fishing', 3),
 ('Knocked overboard', 3),
 ('Jumped overboard', 3),
 ('Spearing fish', 3),
 ('Kayak fishing', 3),
 ('Walking out of the water after surfing', 3),
 ('Free diving & spearfishing', 3),
 ('Wreck of the schooner Pohoiki ', 3),
 ('Bathing ', 3),
 ('Body Boarding', 3),
 ('Fishing for bluefish', 3),
 ('Crayfishing', 3),
 ('Spearfishing (free diving)', 3),
 ('Spearfishing / Scuba diving (at surface)', 3),
 ('.', 3),
 ('Jumped overboard ', 3),
 ('Swimming after his hat', 3),
 ('Surfing, paddling seawards', 3),
 ('Fishing for squid', 3),
 ('Feeding fish', 3),
 ('Sitting on gunwale of boat', 3),
 ('Crabbing', 3),
 ('Fishing for kob', 3),
 ('boat capsized', 3),
 ('Paddling', 3),
 ('Standing in knee-deep water', 3),
 ('Hookah diving for abalone', 3),
 ('Diving for sponges', 3),
 ('Sculling', 3),
 ('Playing in the surf', 3),
 ('Wade-fishing', 3),
 ('Surfing (lying prone on his board)', 2),
 ('Five men on makeshift raft after their 10 m fishing boat  capsized and sank in rough seas. Survivors rescued after  7.5 hours in the water',
  2),
 ('Diving for lobsters', 2),
 ('Swimming from the New Venture ', 2),
 ('U.S. Airforce C124 enroute from Hickham Air Base to Japan went down. The 3 survivors fashioned raft from mailbags  & were rescued 3 days after the crash.',
  2),
 ('Aircraft crashed into sea', 2),
 ('Diving from canoe', 2),
 ('Floating in inner tube', 2),
 ('Fishing (Seining)', 2),
 ('Hookah diving for sea urchins', 2),
 ('Fishing for cod', 2),
 ('Air Disaster', 2),
 ('Diving off jetty', 2),
 ('Diving around anchored liner', 2),
 ('Diving for beche-de-mer ', 2),
 ('Hoisting shark aboard fishing boat', 2),
 ('The Christie V sank on 11/6/1988, survivors were adrift on a dinghy', 2),
 ('Air disaster', 2),
 ('Diving into water', 2),
 ('Shooting sharks ', 2),
 ('Launching rowboat through the surf', 2),
 ('Splashing ', 2),
 ('Spearfishing Competition', 2),
 ('Playing in the water', 2),
 ('Teasing a shark', 2),
 ('Rowing ', 2),
 ('Cruising', 2),
 ('Standing / Surfing', 2),
 ('Fishing for whiting', 2),
 ('Standing in waist-deep water', 2),
 ('Transatlantic Rowing', 2),
 ('Spearfishing / Scuba diving', 2),
 ('Swimming alongside NOAA research vessel Discoverer', 2),
 ('Surfing, collided with shark', 2),
 ('Swimming ashore from capsized boat', 2),
 ('Swimming or surfing', 2),
 ('Washing his feet', 2),
 ('Thrown overboard', 2),
 ('Fishing from surf ski', 2),
 ('Diving?', 2),
 ('Spearfishing using Scuba', 2),
 ('Kite boarding', 2),
 ('Swimming / snorkeling', 2),
 ('Netting shrimp', 2),
 ('Floating on back', 2),
 ('fishing boat exploded & sank', 2),
 ('Spearfishing / Free diving', 2),
 ('Diving for crayfish', 2),
 ('Jet skiing', 2),
 ('"Flying Tiger" transport plane went down with 5 men onboard', 2),
 ('Dived for a coin', 2),
 ('Cage Diving', 2),
 ('Shark diving', 2),
 ('Collecting shells', 2),
 ('Fishing for lobsters', 2),
 ('Fishing for tuna', 2),
 ('Free diving / spearfishing', 2),
 ('Free diving / Spearfishing', 2),
 ('Free diving, Spearfishing', 2),
 ('Fishing for prawns', 2),
 ('Washing', 2),
 ('HMAS Parramatta torpedoed & sunk by the U-559', 2),
 ('Cleaning fish', 2),
 ('Kite Boarding', 2),
 ('Finning the shark that bit him', 2),
 ('Swimming / Wading', 2),
 ('Boat capsized, swimming ashore', 2),
 ('Kiteboarding', 2),
 ('Boat with 5 men capsized while returning to the Amerique', 2),
 ('Beach seine netting', 2),
 ('Swimming, ducking for shells in water 0.9 m deep', 2),
 ('Standing ', 2),
 ('Swimming near jetty', 2),
 ('Free-diving', 2),
 ('Scuba diving & spearfishing', 2),
 ('Bathing in river', 2),
 ('Attempting to kill a shark with explosives', 2),
 ('Sitting in shallows', 2),
 ('Kayaking ', 2),
 ('Ocean racing', 2),
 ('Kitesurfing', 2),
 ('S2N Navy scout plane went down, E.H. Almond & Lieut A.G. Reading in water',
  2),
 ('Body surfing / treading water', 2),
 ('Sitting in the water', 2),
 ('Swimming / escaping imprisonment ', 2),
 ('Diving for beche-de-mer', 2),
 ('Shark tagging', 2),
 ('Diving for trochus shell', 2),
 ('Surfing / Swimming', 1),
 ('13 men in the water after sailboat capsized & sank', 1),
 ('Body surfing & treading water', 1),
 ('Jumped overboard from torpedoed Panamanian freighter', 1),
 ('A father bathing his smallest daughter when the shark bumped her out of his arms and carried her into deep water',
  1),
 ('Dog paddling or standing', 1),
 ('Walking, carrying surfboard & stepped on shark', 1),
 ('Collecting dynamited fish', 1),
 ('Fishing for yellowtail', 1),
 ('Spearfishing, speared fish retreated to cave where shark grabbed his arm',
  1),
 ('Paddling a canoe', 1),
 ('Scuba diving & U/W photography', 1),
 ('HMS Victoria collided with the HMS Camperdown', 1),
 ('Free diving for abalone (submerged)', 1),
 ('A dhow capsized', 1),
 ('Swimming back from anchored sailboat', 1),
 ('Fishing (big game)', 1),
 ('Fishing, one of three fishermen swept into the sea by a large wave ', 1),
 ('A barque wrecked', 1),
 ('Swimming /  Whale Watching', 1),
 ('Thrown from destroyer when shell hit', 1),
 ('Fell overboard from USS Ward', 1),
 ('Survived US Naval aircraft crash, climbing onboard rescue vessel when he fell back into sea ',
  1),
 ('Touching the mouth of a supposedly dead shark', 1),
 ("Fishing - 'tag & release'", 1),
 ('On inflatable raft', 1),
 ('Escaping from blackbirding vessel', 1),
 ('Fishing for trout ', 1),
 ('Sinking of the M/V Mindoro during a typhoon', 1),
 ('Commercial spearfishing', 1),
 ('Playing volleyball with friends', 1),
 ('Jumped overboard while intoxicated', 1),
 ('Scuba Diving for lobster (at surface)', 1),
 ('Free diving / modeling', 1),
 ('Collecting fish from net', 1),
 ('Wreck of the Aphrodite', 1),
 ("On board 51' fishing vessel One Ki", 1),
 ('Lobster fishing', 1),
 ('Attaching a line at sea', 1),
 ('Hardhat diving from Japanese pearling lugger, Reiyo Maru', 1),
 ('Marathon swimming', 1),
 ('The 6015-ton British ship Empire Avocet was torpedoed by the German submarine U-125. ',
  1),
 ('Scuba diving & spearfishing ', 1),
 ('Swimming to shore with floatioon devices after boat engine conked out', 1),
 ('Swimming naked near a date palm where many dates fell into the water', 1),
 ('Diving / Filming', 1),
 ('The British steamer Caribbee foundered', 1),
 ('Swimming/', 1),
 ('Snorkeling, possibly holding a fish', 1),
 ("Fishing with hand net in 2' of water", 1),
 ('Hookah diving (submerged)', 1),
 ('He drowned when boat capsized', 1),
 ('Wading after stray fish from seine netter\x92s catch', 1),
 ('Fishing, fell in water & swimming strongly to shore', 1),
 ('Hardhat diving', 1),
 ('The 2379-ton French steamer La Seyne collied with British steamer Onda & sank in minutes. Passengers jumped overboard expecting to be picked up by Onda\x92s boats',
  1),
 ('Swimming a quarter mile offshore', 1),
 ('Standing, collecting sea stars', 1),
 ('Attempting to rescue a shark', 1),
 ('Snorkeling (filming the sardine run)', 1),
 ('3 men & 2 boys picked up wearing life jackets and with inner tube', 1),
 ('Spearfishing, but swimming on surface', 1),
 ('Diving. Shark \x93swallowed\x92 his hand, so he threw his other around the shark and went \x93shark-back riding\x94 for 30 yards until the shark opened its jaws',
  1),
 ('Attempting to drag hooked shark ashore by its tail', 1),
 ('Wreck of the tug Magellan', 1),
 ('Wreck of the 1689-ton Portuguese  coaster Angoche', 1),
 ('Skindiving,', 1),
 ('Fell overboard from a frigate & was swallowed by a shark. The captain fired a gun at the shark, and "the creature cast the man out of his throat."',
  1),
 ('Swimming with goggles', 1),
 ('Free diving with goggles', 1),
 ('Taking wife to beach & about 1 m from the shore', 1),
 ('Lifeboat capsized', 1),
 ('Vessel caught fire & capsized, survivors in the water', 1),
 ('Chasing shark out of bathing area while riding on a surf-ski', 1),
 ('seaplane Columbus ditched in the sea', 1),
 ('Washed overboard by swell', 1),
 ('Swimming in strong current with 3 others when he disappeared', 1),
 ('"Climbing up to ship after repairing the stern in water"', 1),
 ('Swimming to mail boat', 1),
 ('Net fishing, fell into the water', 1),
 ('Pearl diving from lugger Whyalla', 1),
 ('Body boarding ', 1),
 ('The schooner Elizabeth, bound from Bluefields, Nicaragua to the river port of San Carlos foundered',
  1),
 ('A 75-ton  Japanese fishing ship was sunk by  Chinese Nationalist gunboat, shipwrecked men were clinging to debris',
  1),
 ('Boat, with 42 passengers onboard, capsized in rough seas', 1),
 ('Free diving or wading back to shore', 1),
 ('Washing a dog', 1),
 ('Air/Sea Disaster', 1),
 ('Swimming after their boat capsized', 1),
 ('Diving for shells, saw shark circling wife near the surface, intercepted shark & it pulled him beneath the water',
  1),
 ('Inspecting teeth of supposedly dead (hooked & shot) shark', 1),
 ('Playing on rock, slipped & fell into the water', 1),
 ('Windsurfing, but sitting on his board', 1),
 ('Playing in surf with his child  (9)', 1),
 ('Fishing, two large sharks passed. He speared one and it bit him', 1),
 ('Ferry boat sank', 1),
 ('17 Maldivians adrift in open boat for 31 days', 1),
 ('British ship Macedon was thrown on her beam ends by a sudden squall', 1),
 ("Sitting in bow of her father's 5 m boat", 1),
 ('Landing hooked shark in boat', 1),
 ('Scuba diving / culling lionfish', 1),
 ('Arsinoe, a French tanker', 1),
 ('Fishing, standing in waist-deep water', 1),
 ('S.S. Ramos foundered in a hurricane. Captain & 14 crew in water-logged lifeboats. ',
  1),
 ('When  a deckhand  jumped overboard, McIver dived after him with a rescue line.',
  1),
 ('Wading, when he stepped on the shark', 1),
 ('The schooner Tahitienne foundered in a hurricane', 1),
 ('Fishing, had just speared a ulua', 1),
 ('Hookah diving for abalone (descending)', 1),
 ('Fishing from shore', 1),
 ('Riding a horse', 1),
 ('Gigging for flounder', 1),
 ('Washing sand off a speared fish', 1),
 ('Swimming at edge of channel', 1),
 ('3-masted steel barque Glenbank foundered during a cyclone', 1),
 ('Hookah diving for pen shells ', 1),
 ('Swimming close to wharf', 1),
 ('Crossing the river mouth', 1),
 ('Jumped into the water from a cliff', 1),
 ('Fell overboard from the Selim', 1),
 ('Watching seals', 1),
 ('Surfing / Wading', 1),
 ('Accidentally thrown overboard & treading water while awaiting rescue', 1),
 ('Boogie-boarding / swimming', 1),
 ('Killing  sharks', 1),
 ('The cutter yacht Cutty Sark sank', 1),
 ('Washed overboard', 1),
 ('Wading / fishing & carrying a bag of fish', 1),
 ('Fishing for shrimp', 1),
 ('Lying atop surfboard', 1),
 ('native boats sunk in storm', 1),
 ('Portuguese Airliner with 9 people aboard went down. ', 1),
 ('Fishing, shark caught in his net', 1),
 ('Lobstering', 1),
 ('Fishing trawler Flavio Gioia ', 1),
 ('Free diving, working on U/W scenes for motion picture', 1),
 ('Bather', 1),
 ('Conducting research', 1),
 ('Ditched plane in the sea & were adrift on a rubber life raft. ', 1),
 ('Diving, gathering shellfish', 1),
 ('Fisherman', 1),
 ('The USS Wahoo torpedoes & sank the Japanese troop transport Buyo Maru', 1),
 ('Swimming alongside yacht Mexico Fiesta', 1),
 ('Fishing boat swamped in a storm', 1),
 ('canoeing', 1),
 ('Murdered', 1),
 ('Skindiving, fish at belt', 1),
 ('Swimming, after boat swamped', 1),
 ('Dismantling cable buoys of the cable ship All America', 1),
 ('Collecting ornamental fish', 1),
 ('Fishing, tossing netted shark onboard', 1),
 ('Sinking of the dredge World Atlas', 1),
 ('Sinking of the ferryboat Don Juan', 1),
 ('Free diving / spearfishing (resting on the surface)', 1),
 ('Walking in surf', 1),
 ('Boat capsized?', 1),
 ('Surfing or body surfing', 1),
 ('Cargo ship Dara sank after collision with another ship during a severe storm',
  1),
 ('Jumped out of canoe', 1),
 ('Fishing  (trawling)', 1),
 ('Swimming in hip-deep water', 1),
 ('Standing on ship deck', 1),
 ('Light aircraft ditched at sea', 1),
 ('Attempting to drive shark away from the beach', 1),
 ('Standing on sandbar', 1),
 ('Boeing 757 enroute from Porta Plata plunged into the sea', 1),
 ('The steamships Thingvalla and Geiser collided', 1),
 ('Fell overboard from US Navy PC boat', 1),
 ('Lying on surfboard & paddling', 1),
 ('Chumming for white sharks', 1),
 ('Dragging stranded shark ashore', 1),
 ('Fishing, on a boat', 1),
 ('Wrangling a shark', 1),
 ('Swimming, using bundles of sticks as raft', 1),
 ('Wreck of the USS Somers', 1),
 ('Rescuing seaman after ship sunk by German raider', 1),
 ('Bathing with her mother', 1),
 ('Free diving / Photographing pilot whales', 1),
 ('14 m prawn trawler New Venture capsized  & sank in heavy seas Three people in the water',
  1),
 ('The World Liberty and the tanker Mosli collided. The  Halcyon Breeze sent a lifeboat to the rescue, but it was smashed, throwing 6 men in the  water.',
  1),
 ('Swept off deck of S.S.Frontenac enroute from West Indies to US', 1),
 ('Retrieving bait box that had fallen overboard', 1),
 ('Windsurfing (urinating on his board)', 1),
 ('Spearfishing, but standing in the water', 1),
 ('Swimming with motor tube', 1),
 ('Fell from yardarm of British ship Rover', 1),
 ('Conducting a promotional film project for the Gemini space program (a practice astronaut recovery)',
  1),
 ('Floating face-down in knee-deep water', 1),
 ('Adrift after the sinking of the motor yacht Princess Dianne', 1),
 ('Dress diving, filming shark & pulling it through the water for a motion picture scene',
  1),
 ('Refused permission to cross on the ferry, he was swimming across the river',
  1),
 ('Fell overboard while fishing for sharks', 1),
 ('Swimming in waist-deep water ', 1),
 ("Ship's boat capsized in squall, captain & 2 sailors clinging onto hull", 1),
 ("Zosimo & his son, Jeffrey Popa, failed to return from overnight fishing trip in a 14' boat, Boat apparently sank, debris recovered but his son & boat were never found",
  1),
 ('Swept out to sea while net fishing', 1),
 ('Swimming alongside the SS Kearsarge', 1),
 ('Skin diving ', 1),
 ('Removing fish from a trap', 1),
 ('Diving, photographing sharks', 1),
 ('Lifesaving exhibition', 1),
 ('Scuba diving, reportedly also spearfishing', 1),
 ('Wreck of the steamship Birkenhead', 1),
 ('Spearfishing, free diving, possibly ascended into path of cruising shark',
  1),
 ('Exercising his dog in the shallows', 1),
 ('Wading?', 1),
 ('Fishing & spearfishing', 1),
 ('Competing in a light tackle game fishing', 1),
 ('Flying Fortress bomber aircraft went down after daytime raid on Naples. He was swimming on the surface',
  1),
 ('Fishing (Drowned 2-Apr-2002)', 1),
 ('Fishing for bluefish, shark leapt into dory', 1),
 ('Murdered by Thai pirates', 1),
 ('Feeding a shark', 1),
 ('Swimming near shore', 1),
 ('American cruiser Indianapolis torpedoed & sunk by the Japanese submarine I-58',
  1),
 ('Overturned skiff', 1),
 ('Free diving for shell', 1),
 ('Bending over', 1),
 ('Motor launch Baby Princesa capsized with 22 people on board', 1),
 ('Collecting beche-de-mer', 1),
 ('Kneeling in the water', 1),
 ('Fell overboard from SS Ripley Castle', 1),
 ('Swimming, wearing black wetsuit & swim fins', 1),
 ('Attempting to catch a crocodile', 1),
 ('Sight-seeing', 1),
 ('wreck of the State Oil Company ship Permina', 1),
 ('Free diving, carrying speargun', 1),
 ('Small vessel with 13 men on board capsized crossing the bar and 6 men drowned.  The 7 survivors were swimming to shore',
  1),
 ('Night diving', 1),
 ('Wading, knocked down & swept away by large waves', 1),
 ('Dynamite fishing', 1),
 ('Jumping in the waves', 1),
 ('Casting a net', 1),
 ('Cleaning the side of a ship', 1),
 ('Crawling', 1),
 ('Fishing, holding fish in his left hand', 1),
 ('Put foot inside mouth of supposedly dead shark', 1),
 ('Free diving with a pod of dolphins', 1),
 ('Paddle-skiing', 1),
 ('Canoe with 3 men onboard sank', 1),
 ('Fishing, hauling in net, shark in net', 1),
 ('Free diving, surveying a pipeline & examing cathodes under jetty', 1),
 ('Fishing in Alabama Deep Fishing Rodeo', 1),
 ('Surfing, but treading water', 1),
 ('Swimming near anchored ship', 1),
 ('Sailboarding, fell into water 100 yards outside the breakwater', 1),
 ('Dived onto shark from floating stage', 1),
 ('Free diving for molluscs', 1),
 ('Swimming from foundered vessel', 1),
 ('Swimming to shore from capsized kayak', 1),
 ('Net-fishing', 1),
 ('Kite-Boarding', 1),
 ('Attempting to rescue crew after whale upset their boat', 1),
 ('Swimming, after single-engine aircraft went down in the sea', 1),
 ('Fishing, casting in the surf', 1),
 ("Spearfishing, holding 5' speared fish", 1),
 ('Drift fishing', 1),
 ('Ferry boat Dona Paz with 4431 passengers exploded & caught fire when she collided with an  oil tanker ',
  1),
 ("Bathing in 3' to 4' of water", 1),
 ('Fishing from surfski', 1),
 ('Body boarding or surfing', 1),
 ('Bodyboarding', 1),
 ('Lying in 2 feet of water', 1),
 ('Fishing for snappers & cleaning mullet. Put mullet over side of boat to wash it',
  1),
 ('Fishing, speared shark upset canoe & man fell in water', 1),
 ('Swimming near canoe', 1),
 ('Dynamiting fish', 1),
 ('Attempting to drive shark away from sailing regatta', 1),
 ('The coastwise steamer San Basilio capsized in a typhoon', 1),
 ('Diving / fishing', 1),
 ('Spearfishing, speared a small shark', 1),
 ('Swimming & splashing', 1),
 ('Swimming after falling overboard from the sealing ship Vesper', 1),
 ('On expedition filming a feature movie & standing on tripod', 1),
 (' a canoe was pursuing a schooner that had forcibily abducted 5 young girls',
  1),
 ('Fell overboard from the ship Gem', 1),

In [32]:
df_clean["Activity"].isnull().sum()

544

In [33]:
df_clean[df_clean.Activity.isnull()][["Year","Country","Type"]]

        Year        Country          Type
47    2018.0      AUSTRALIA    Unprovoked
108   2017.0            USA    Unprovoked
112   2017.0            USA    Unprovoked
114   2017.0            USA    Unprovoked
154   2017.0            USA    Unprovoked
...      ...            ...           ...
6269     0.0  PACIFIC OCEAN  Sea Disaster
6277     0.0      AUSTRALIA    Unprovoked
6282     0.0      AUSTRALIA    Unprovoked
6292     0.0            USA    Unprovoked
6300     0.0         PANAMA    Unprovoked

[544 rows x 3 columns]

In [34]:
#Definimos los valores nulos como "NoActivity"
df_clean["Activity"] = df_clean.Activity.fillna("NoActivity")

In [35]:
#Comprobamos que ya no hay valores nulos
df_clean["Activity"].isnull().sum()

0

En la columna "Actividades" podemos comprobar como hay varias que hacen referencia a Surfing con distintos nombres, trataremos de agruparlas todas bajo la denominación "Surfing"

In [36]:
#Aquellas que comienzan con la palabra Surf "S" mayúscula
df_clean.loc[df_clean["Activity"].str.startswith("Surf"),"Activity"] = "Surfing"
#quellas que comienzan con la palabra Surf "s" minúscula
df_clean.loc[df_clean["Activity"].str.startswith("surf"),"Activity"] = "Surfing"
#Aquellas que acaban con la palabra Surfing "S" mayúscula
df_clean.loc[df_clean["Activity"].str.endswith("surfing"),"Activity"] = "Surfing"
#Aquellas que acaban con la palabra Surfing "s" minúscula
df_clean.loc[df_clean["Activity"].str.endswith("Surfing"),"Activity"] = "Surfing"

In [37]:
list(df_clean["Activity"].value_counts().items())

[('Surfing', 1166),
 ('Swimming', 869),
 ('NoActivity', 544),
 ('Fishing', 431),
 ('Spearfishing', 333),
 ('Bathing', 162),
 ('Wading', 149),
 ('Diving', 127),
 ('Standing', 99),
 ('Snorkeling', 89),
 ('Scuba diving', 76),
 ('Body boarding', 61),
 ('Swimming ', 47),
 ('Kayaking', 33),
 ('Treading water', 32),
 ('Fell overboard', 32),
 ('Pearl diving', 32),
 ('Free diving', 29),
 ('Boogie boarding', 29),
 ('Walking', 17),
 ('Boogie Boarding', 16),
 ('Shark fishing', 15),
 ('Floating', 14),
 ('Canoeing', 13),
 ('Fishing ', 13),
 ('Rowing', 12),
 ('Kayak Fishing', 11),
 ('Fishing for sharks', 11),
 ('Freediving', 10),
 ('Scuba Diving', 10),
 ('Sponge diving', 10),
 ('Sitting on surfboard', 9),
 ('Fell into the water', 9),
 ('Diving for trochus', 9),
 ('Sailing', 9),
 ('Paddle boarding', 8),
 ('Sea disaster', 8),
 ('Boating', 7),
 ('Playing', 7),
 ('Free diving for abalone', 7),
 ('Floating on his back', 7),
 ('Spearfishing ', 7),
 ('Diving for abalone', 7),
 ('Skindiving', 7),
 ('Stand-Up Paddleboarding', 6),
 ('Murder', 6),
 ('Sea Disaster', 6),
 ('Fishing for mackerel', 6),
 ('Shipwreck', 6),
 ('Spearfishing on Scuba', 6),
 ('Hard hat diving', 5),
 ('Boat', 5),
 ('Fishing on a boat', 5),
 ('Kayaking / Fishing', 5),
 ('Dangling feet in the water', 5),
 ('Freedom swimming', 5),
 ('Paddleskiing', 5),
 ('Jumping', 4),
 ('Jumped into the water', 4),
 ('Scuba diving (but on surface)', 4),
 ('Skin diving', 4),
 ('Seine netting', 4),
 ('Body-boarding', 4),
 ('Tagging sharks', 4),
 ('Fishing boat', 4),
 ('Spearfishing / free diving', 4),
 ('Clamming', 4),
 ('Scuba diving (submerged)', 4),
 ('Boat swamped', 4),
 ('Feeding sharks', 4),
 ('Lifesaving drill', 4),
 ('Wade Fishing', 4),
 ('Freedom Swimming', 4),
 ('Diving for coins', 4),
 ('Paddling on surfboard', 4),
 ('Splashing', 4),
 ('Fishing for squid', 3),
 ('Sitting on gunwale of boat', 3),
 ('Knocked overboard', 3),
 ('Paddling', 3),
 ('SCUBA diving', 3),
 ('Escaping from Alacatraz', 3),
 ('boat capsized', 3),
 ('Fishing for bluefish', 3),
 ('Sculling', 3),
 ('Competing in the Woodvale Atlantic Rowing Race', 3),
 ('Kayak fishing', 3),
 ('Swimming after his hat', 3),
 ('Bathing ', 3),
 ('Jumped overboard', 3),
 ('Spearfishing / Scuba diving (at surface)', 3),
 ('Scuba diving for abalone', 3),
 ('Wreck of the schooner Pohoiki ', 3),
 ('Crabbing', 3),
 ('Free diving & spearfishing', 3),
 ('Hookah diving for abalone', 3),
 ('Wade fishing', 3),
 ('Shell diving', 3),
 ('Diving ', 3),
 ('Body Boarding', 3),
 ('Fishing for kob', 3),
 ('Diving for sponges', 3),
 ('.', 3),
 ('Shark watching', 3),
 ('Feeding fish', 3),
 ('Wade-fishing', 3),
 ('Spearing fish', 3),
 ('Floating on a raft', 3),
 ('Jumped overboard ', 3),
 ('Playing in the surf', 3),
 ('Suicide', 3),
 ('Spearfishing (free diving)', 3),
 ('Unknown', 3),
 ('SUP', 3),
 ('Standing in knee-deep water', 3),
 ('Crayfishing', 3),
 ('Their 9 m launch was run down by a 25,000-ton Japanese freighter  on the night of 3-11-1977 & they drifted, clinging to an icebox for 2 days',
  3),
 ('Fishing for snapper', 3),
 ('Diving from canoe', 2),
 ('Fishing for whiting', 2),
 ('Splashing ', 2),
 ('Transatlantic Rowing', 2),
 ('Floating on back', 2),
 ('Spearfishing Competition', 2),
 ('Teasing a shark', 2),
 ('Rowing ', 2),
 ('Diving into water', 2),
 ('Floating in inner tube', 2),
 ('Diving?', 2),
 ('Swimming from the New Venture ', 2),
 ('Collecting shells', 2),
 ('Spearfishing / Free diving', 2),
 ('Fishing for lobsters', 2),
 ('Free diving / spearfishing', 2),
 ('Kiteboarding', 2),
 ('Cleaning fish', 2),
 ('Diving for beche-de-mer', 2),
 ('Body surfing / treading water', 2),
 ('Spearfishing / Scuba diving', 2),
 ('Dived for a coin', 2),
 ('Playing in the water', 2),
 ('Attempting to kill a shark with explosives', 2),
 ('Swimming alongside NOAA research vessel Discoverer', 2),
 ('Diving around anchored liner', 2),
 ('Air disaster', 2),
 ('Hoisting shark aboard fishing boat', 2),
 ('Washing his feet', 2),
 ('Five men on makeshift raft after their 10 m fishing boat  capsized and sank in rough seas. Survivors rescued after  7.5 hours in the water',
  2),
 ('Kayaking ', 2),
 ('Aircraft crashed into sea', 2),
 ('Diving for crayfish', 2),
 ('Washing', 2),
 ('Kite boarding', 2),
 ('Free-diving', 2),
 ('Cage Diving', 2),
 ('Diving for beche-de-mer ', 2),
 ('Swimming, ducking for shells in water 0.9 m deep', 2),
 ('Hookah diving for sea urchins', 2),
 ('Jet skiing', 2),
 ('Fishing from surf ski', 2),
 ('Launching rowboat through the surf', 2),
 ('Fishing (Seining)', 2),
 ('U.S. Airforce C124 enroute from Hickham Air Base to Japan went down. The 3 survivors fashioned raft from mailbags  & were rescued 3 days after the crash.',
  2),
 ('Shark tagging', 2),
 ('Finning the shark that bit him', 2),
 ('Kite Boarding', 2),
 ('Standing in waist-deep water', 2),
 ('Beach seine netting', 2),
 ('The Christie V sank on 11/6/1988, survivors were adrift on a dinghy', 2),
 ('Swimming / snorkeling', 2),
 ('Fishing for cod', 2),
 ('"Flying Tiger" transport plane went down with 5 men onboard', 2),
 ('Swimming / Wading', 2),
 ('Free diving, Spearfishing', 2),
 ('Ocean racing', 2),
 ('Diving for lobsters', 2),
 ('Boat capsized, swimming ashore', 2),
 ('Swimming / escaping imprisonment ', 2),
 ('Swimming ashore from capsized boat', 2),
 ('Shooting sharks ', 2),
 ('Fishing for prawns', 2),
 ('Sitting in shallows', 2),
 ('Netting shrimp', 2),
 ('Spearfishing using Scuba', 2),
 ('Fishing for tuna', 2),
 ('Diving for trochus shell', 2),
 ('Air Disaster', 2),
 ('Shark diving', 2),
 ('HMAS Parramatta torpedoed & sunk by the U-559', 2),
 ('Standing ', 2),
 ('Sitting in the water', 2),
 ('Free diving / Spearfishing', 2),
 ('Diving off jetty', 2),
 ('S2N Navy scout plane went down, E.H. Almond & Lieut A.G. Reading in water',
  2),
 ('fishing boat exploded & sank', 2),
 ('Boat with 5 men capsized while returning to the Amerique', 2),
 ('Thrown overboard', 2),
 ('Swimming near jetty', 2),
 ('Scuba diving & spearfishing', 2),
 ('Bathing in river', 2),
 ('Cruising', 2),
 ('Swimming after their boat capsized', 1),
 ('Standing on sandbar', 1),
 ('Free diving or wading back to shore', 1),
 ('Swimming in hip-deep water', 1),
 ('Washing a dog', 1),
 ('Air/Sea Disaster', 1),
 ('Jumped overboard while intoxicated', 1),
 ('Spearfishing, dived to pick up a float line', 1),
 ('Standing on ship deck', 1),
 ('Diving for shells, saw shark circling wife near the surface, intercepted shark & it pulled him beneath the water',
  1),
 ('Swimming a quarter mile offshore', 1),
 ('Scuba Diving for lobster (at surface)', 1),
 ('Light aircraft ditched at sea', 1),
 ('Attempting to drive shark away from the beach', 1),
 ('Diving for pearl shell', 1),
 ('Fishing for basking sharks', 1),
 ('Swimming at side of small boat', 1),
 ('Collecting fish from net', 1),
 ("On board 51' fishing vessel One Ki", 1),
 ('Boat, with 42 passengers onboard, capsized in rough seas', 1),
 ('3 men & 2 boys picked up wearing life jackets and with inner tube', 1),
 ('Fishing  (trawling)', 1),
 ('Wreck of the tug Magellan', 1),
 ('Taking wife to beach & about 1 m from the shore', 1),
 ('S.S. Ramos foundered in a hurricane. Captain & 14 crew in water-logged lifeboats. ',
  1),
 ('When  a deckhand  jumped overboard, McIver dived after him with a rescue line.',
  1),
 ('Wading, when he stepped on the shark', 1),
 ('The schooner Tahitienne foundered in a hurricane', 1),
 ('Fishing, had just speared a ulua', 1),
 ('Free diving with goggles', 1),
 ('Swimming with goggles', 1),
 ('Wreck of the 1689-ton Portuguese  coaster Angoche', 1),
 ('Hookah diving for abalone (descending)', 1),
 ('Adrift after wave swamped engine', 1),
 ('Attempting to rescue a shark', 1),
 ('Fishing from shore', 1),
 ('Attempting to drag hooked shark ashore by its tail', 1),
 ('Body boarding ', 1),
 ('Riding a horse', 1),
 ('Lobstering', 1),
 ('Diving. Shark \x93swallowed\x92 his hand, so he threw his other around the shark and went \x93shark-back riding\x94 for 30 yards until the shark opened its jaws',
  1),
 ('Fishing trawler Flavio Gioia ', 1),
 ('Free diving, working on U/W scenes for motion picture', 1),
 ('Spearfishing, but swimming on surface', 1),
 ('The steamships Thingvalla and Geiser collided', 1),
 ('Snorkeling (filming the sardine run)', 1),
 ('Chasing shark out of bathing area while riding on a surf-ski', 1),
 ('Cargo ship Dara sank after collision with another ship during a severe storm',
  1),
 ('Swimming in strong current with 3 others when he disappeared', 1),
 ('Jumped out of canoe', 1),
 ('Net fishing, fell into the water', 1),
 ('Sinking of the M/V Mindoro during a typhoon', 1),
 ('Swimming, wearing black wetsuit & swim fins', 1),
 ('Escaping from blackbirding vessel', 1),
 ('Commercial spearfishing', 1),
 ('A barque wrecked', 1),
 ('Skindiving,', 1),
 ('A 75-ton  Japanese fishing ship was sunk by  Chinese Nationalist gunboat, shipwrecked men were clinging to debris',
  1),
 ('Pearl diving from lugger Whyalla', 1),
 ('Diving, gathering shellfish', 1),
 ('Fisherman', 1),
 ('Swimming to mail boat', 1),
 ('The USS Wahoo torpedoes & sank the Japanese troop transport Buyo Maru', 1),
 ('Thrown from destroyer when shell hit', 1),
 ('"Climbing up to ship after repairing the stern in water"', 1),
 ('Washed overboard by swell', 1),
 ('Skindiving for abalone (but at surface)', 1),
 ('Spear fishing, removing fish from spear', 1),
 ('Fell overboard from a frigate & was swallowed by a shark. The captain fired a gun at the shark, and "the creature cast the man out of his throat."',
  1),
 ('Fishing boat swamped in a storm', 1),
 ('Lifeboat capsized', 1),
 ('Dog paddling or standing', 1),
 ('Paddling a canoe', 1),
 ('Collecting dynamited fish', 1),
 ('Drift fishing', 1),
 ("Ship's boat capsized in squall, captain & 2 sailors clinging onto hull", 1),
 ("Bathing in 3' to 4' of water", 1),
 ('boat from the Austrian ship Elizabeth', 1),
 ('Wreck of the Storm King', 1),
 ('R5D aircraft went down with 29 on board', 1),
 ('Murdered', 1),
 ('Tech diving ', 1),
 ('Bathing or washing', 1),
 ('Pleasure boating', 1),
 ('Ditched plane in the sea & were adrift on a rubber life raft. ', 1),
 ('Bather', 1),
 ('Fell overboard from US Navy PC boat', 1),
 ('Survived US Naval aircraft crash, climbing onboard rescue vessel when he fell back into sea ',
  1),
 ('On inflatable raft', 1),
 ('Lying on surfboard & paddling', 1),
 ("Fishing - 'tag & release'", 1),
 ('Chumming for white sharks', 1),
 ('Lobster fishing', 1),
 ('Playing volleyball with friends', 1),
 ('Fishing, standing in waist-deep water', 1),
 ('Swimming along a row of nets', 1),
 ('Fishing, attempted to take a netted shark', 1),
 ('Dived into the water', 1),
 ('Diving on a wreck', 1),
 ('Wrangling a shark', 1),
 ('Wading after stray fish from seine netter\x92s catch', 1),
 ('Boeing 757 enroute from Porta Plata plunged into the sea', 1),
 ('Hookah diving (submerged)', 1),
 ("Fishing with hand net in 2' of water", 1),
 ('Swimming/', 1),
 ('Marathon swimming', 1),
 ('The British steamer Caribbee foundered', 1),
 ('Boat capsized?', 1),
 ('Diving / Filming', 1),
 ('Swimming to shore with floatioon devices after boat engine conked out', 1),
 ('Scuba diving & spearfishing ', 1),
 ('The 6015-ton British ship Empire Avocet was torpedoed by the German submarine U-125. ',
  1),
 ('Walking in surf', 1),
 ('He drowned when boat capsized', 1),
 ('Free diving / spearfishing (resting on the surface)', 1),
 ('Touching the mouth of a supposedly dead shark', 1),
 ('Fishing for trout ', 1),
 ('   ', 1),
 ('A father bathing his smallest daughter when the shark bumped her out of his arms and carried her into deep water',
  1),
 ('Vessel caught fire & capsized, survivors in the water', 1),
 ('Motor launch Baby Princesa capsized with 22 people on board', 1),
 ('Bending over', 1),
 ('Swimming naked near a date palm where many dates fell into the water', 1),
 ('Crawling', 1),
 ('Overturned skiff', 1),
 ('Fishing, holding fish in his left hand', 1),
 ('Wreck of the USS Somers', 1),
 ('Swimming at edge of channel', 1),
 ('Hookah diving for pen shells ', 1),
 ('Swimming close to wharf', 1),
 ('Swimming in waist-deep water ', 1),
 ('Fell overboard while fishing for sharks', 1),
 ('Crossing the river mouth', 1),
 ('Refused permission to cross on the ferry, he was swimming across the river',
  1),
 ('Jumped into the water from a cliff', 1),
 ('Dress diving, filming shark & pulling it through the water for a motion picture scene',
  1),
 ('Fishing (trolling)  from canoe', 1),
 ('Fell overboard, hanging onto lifebuoy', 1),
 ('Adrift after the sinking of the motor yacht Princess Dianne', 1),
 ('Fell overboard from the Selim', 1),
 ('Watching seals', 1),
 ('Accidentally thrown overboard & treading water while awaiting rescue', 1),
 ('Boogie-boarding / swimming', 1),
 ('Floating face-down in knee-deep water', 1),
 ('Conducting a promotional film project for the Gemini space program (a practice astronaut recovery)',
  1),
 ('Jumped off surfboard & landed on the shark', 1),
 ('Swimming with motor tube', 1),
 ('Spearfishing, but standing in the water', 1),
 ('Windsurfing (urinating on his board)', 1),
 ('Retrieving bait box that had fallen overboard', 1),
 ('Casting a net', 1),
 ('Jumping in the waves', 1),
 ('The World Liberty and the tanker Mosli collided. The  Halcyon Breeze sent a lifeboat to the rescue, but it was smashed, throwing 6 men in the  water.',
  1),
 ('Fishing, hauling in net, shark in net', 1),
 ('Kneeling in the water', 1),
 ('Collecting beche-de-mer', 1),
 ('Put foot inside mouth of supposedly dead shark', 1),
 ('Attaching a line at sea', 1),
 ('Free diving with a pod of dolphins', 1),
 ('Attempting to catch a crocodile', 1),
 ('Sight-seeing', 1),
 ('Paddle-skiing', 1),
 ('Swimming from foundered vessel', 1),
 ("Spearfishing, holding 5' speared fish", 1),
 ('wreck of the State Oil Company ship Permina', 1),
 ('Fishing, casting in the surf', 1),
 ('Swimming, after single-engine aircraft went down in the sea', 1),
 ('Small vessel with 13 men on board capsized crossing the bar and 6 men drowned.  The 7 survivors were swimming to shore',
  1),
 ('Attempting to rescue crew after whale upset their boat', 1),
 ('Night diving', 1),
 ('Kite-Boarding', 1),
 ('Net-fishing', 1),
 ('Wading, knocked down & swept away by large waves', 1),
 ('Swimming to shore from capsized kayak', 1),
 ('Free diving for molluscs', 1),
 ('Canoe with 3 men onboard sank', 1),
 ('Dived onto shark from floating stage', 1),
 ('Dynamite fishing', 1),
 ('Sailboarding, fell into water 100 yards outside the breakwater', 1),
 ('Swimming near anchored ship', 1),
 ('Dragging banana seeds through the shallows', 1),
 ('Fishing in Alabama Deep Fishing Rodeo', 1),
 ('Free diving, surveying a pipeline & examing cathodes under jetty', 1),
 ('Swept off deck of S.S.Frontenac enroute from West Indies to US', 1),
 ('14 m prawn trawler New Venture capsized  & sank in heavy seas Three people in the water',
  1),
 ('Hardhat diving from Japanese pearling lugger, Reiyo Maru', 1),
 ('Portuguese Airliner with 9 people aboard went down. ', 1),
 ('Jumped overboard from torpedoed Panamanian freighter', 1),
 ('3-masted steel barque Glenbank foundered during a cyclone', 1),
 ('Washing sand off a speared fish', 1),
 ('Body surfing & treading water', 1),
 ('13 men in the water after sailboat capsized & sank', 1),
 ('Spearfishing, speared fish retreated to cave where shark grabbed his arm',
  1),
 ('Swimming back from anchored sailboat', 1),
 ('Walking, carrying surfboard & stepped on shark', 1),
 ('Playing in surf with his child  (9)', 1),
 ('Watching the shark feeding on a dead pinniped', 1),
 ('Free diving for abalone (submerged)', 1),
 ('Gigging for flounder', 1),
 ('Fishing, two large sharks passed. He speared one and it bit him', 1),
 ('Ferry boat sank', 1),
 ('Dismantling cable buoys of the cable ship All America', 1),
 ('Fishing for yellowtail', 1),
 ('Helmet diving in Miami Seaquarium', 1),
 ('British ship Macedon was thrown on her beam ends by a sudden squall', 1),
 ("Sitting in bow of her father's 5 m boat", 1),
 ('Fell overboard from SS Ripley Castle', 1),
 ('Landing hooked shark in boat', 1),
 ('A dhow capsized', 1),
 ('Scuba diving / culling lionfish', 1),
 ('Fishing (big game)', 1),
 ('Scuba diving & U/W photography', 1),
 ('Arsinoe, a French tanker', 1),
 ('Swimming /  Whale Watching', 1),
 ('HMS Victoria collided with the HMS Camperdown', 1),
 ('Fell overboard from USS Ward', 1),
 ('Fishing, one of three fishermen swept into the sea by a large wave ', 1),
 ('Inspecting teeth of supposedly dead (hooked & shot) shark', 1),
 ('Pulling raft out to ride to shore', 1),
 ('Windsurfing, but sitting on his board', 1),
 ("Zosimo & his son, Jeffrey Popa, failed to return from overnight fishing trip in a 14' boat, Boat apparently sank, debris recovered but his son & boat were never found",
  1),
 ('Bathing with her mother', 1),
 ('Swept out to sea while net fishing', 1),
 ('Skin diving ', 1),
 ('American cruiser Indianapolis torpedoed & sunk by the Japanese submarine I-58',
  1),
 ('Swimming near shore', 1),
 ('Killing  sharks', 1),
 ('Feeding a shark', 1),
 ('Murdered by Thai pirates', 1),
 ('Fishing for bluefish, shark leapt into dory', 1),
 ('The cutter yacht Cutty Sark sank', 1),
 ('Washed overboard', 1),
 ('Fishing (Drowned 2-Apr-2002)', 1),
 ('Flying Fortress bomber aircraft went down after daytime raid on Naples. He was swimming on the surface',
  1),
 ('Competing in a light tackle game fishing', 1),
 ('Fishing & spearfishing', 1),
 ('Wading?', 1),
 ('Wading / fishing & carrying a bag of fish', 1),
 ('Exercising his dog in the shallows', 1),
 ('Fishing for shrimp', 1),
 ('Standing, washing rear wheels of his ambulance in ankle-deep water', 1),
 ('Wreck of the steamship Birkenhead', 1),
 ('Scuba diving, reportedly also spearfishing', 1),
 ('Lifesaving exhibition', 1),
 ('Diving, photographing sharks', 1),
 ('Removing fish from a trap', 1),
 ('Rescuing seaman after ship sunk by German raider', 1),
 ('Lying atop surfboard', 1),
 ('native boats sunk in storm', 1),
 ('Cleaning the side of a ship', 1),
 ('Walking in chest-deep water', 1),
 ('Fell overboard from P&O steamship Arabia', 1),
 ('Attempting to drive shark away from sailing regatta', 1),
 ('Pearl diving from lugger', 1),
 ('Diving / fishing', 1),
 ('Swimming near pier', 1),
 ('Bodyboarding', 1),
 ('Lying in 2 feet of water', 1),
 ('Fishing for snappers & cleaning mullet. Put mullet over side of boat to wash it',
  1),
 ('Swimming near canoe', 1),
 ('Dynamiting fish', 1),
 ('Fishing from surfski', 1),
 ('Scuba diving & feeding fish', 1),
 ('The coastwise steamer San Basilio capsized in a typhoon', 1),
 ('Spearfishing, speared a small shark', 1),
 ('Swimming & splashing', 1),
 ('Swimming after falling overboard from the sealing ship Vesper', 1),
 ('On expedition filming a feature movie & standing on tripod', 1),
 (' a canoe was pursuing a schooner that had forcibily abducted 5 young girls',
  1),
 ('Fell overboard from the ship Gem', 1),
 ('Attempting to ride a shark', 1),
 ('Bathing in 2 feet of water', 1),
 ('Free diving  & spearfishing (submerged)', 1),
 ("Diving, repairing water main at depth of 90'", 1),
 ('Trying to catch a wounded bird', 1),
 ('Jumped overboard from Norwegian steamship Venator', 1),
 ('Wading, fishing for flounder', 1),
 ('Swimming to anchored boat', 1),
 ('After rowing skiff was holed by shark, he was attempting to swim ashore',
  1),
 ('Bathing alongside US Naval ship', 1),
 ('B-24 aircraft crashed  into the sea', 1),
 ('Royal Hawaiian skymaster DC-6B aircraft went down with  58 passenger & crew',
  1),
 ('Swimming, attempting to rescue a girl  believed to be drowning', 1),
 ('Bitten after dhow shipwrecked', 1),
 ('Hiking on the beach', 1),
 ('Fishing from rocks, swept out to sea by large wave & treading water', 1),
 ('Crossing river on a raft', 1),
 ('Swimming (using a float)', 1),
 ('Hunting sharks', 1),

In [38]:
df_clean.head()

,Date,Year,Type,Country,Area,Location,Activity,Injury,Fatal (Y/N),Date_ok
0,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,"No injury to occupant, outrigger canoe and pad...",N,25-Jun-2018
1,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Minor injury to left thigh,N,18-Jun-2018
2,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,Injury to left lower leg from surfboard skeg,N,09-Jun-2018
3,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,Minor injury to lower leg,N,08-Jun-2018
4,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Lacerations to leg & hand shark PROVOKED INCIDENT,N,04-Jun-2018

In [39]:
#Reordenamos las columnas, colocando la nueva columna "Date_ok" al principio
colnames = df_clean.columns.tolist()
colnames = colnames[-1:] + colnames [:-1]
df_clean = df_clean[colnames]

In [40]:
df_clean = df_clean.drop(["Date"], axis=1)

In [41]:
df_clean.head()

,Date_ok,Year,Type,Country,Area,Location,Activity,Injury,Fatal (Y/N)
0,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,"No injury to occupant, outrigger canoe and pad...",N
1,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Minor injury to left thigh,N
2,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,Injury to left lower leg from surfboard skeg,N
3,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,Minor injury to lower leg,N
4,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Lacerations to leg & hand shark PROVOKED INCIDENT,N

# Guardamos el CSV limpio

In [42]:
df_clean.to_csv("../data/attacks_clean.csv")